<br><br><br><br>
<section class="panel">
  <header class="panel-heading">
    <div class="row">
        <div class="col-lg-3">
          <h1>{{titulo}}</h1>
      
        </div>
          <div class="col-lg-6">
     
           <div class="alert alert-warning fade in" *ngIf="!activoIntangible.valid">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Advertencia!</strong> Los campos con * son obligatorios.
           </div>

           <div class="alert alert-success fade in" *ngIf="activoIntangible.valid&&activoIntangible.controls['bandera'].value==0">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Excelente!</strong> Datos ingresados correctamente.
           </div>
     
          </div>

          <div class="col-lg-3">
            <button type="button" class="btn btn-success" (click)="cancelar()" >
               <i ></i> Cancelar </button> 
             
         </div>
             
     </div>
  </header>
<div class="panel-body ">
              <div class="stepy-tab">
                  <ul id="default-titles" class="stepy-titles clearfix">
                      <li id="default-title-0" class="current-step">
                          <div>Step 1</div>
                      </li>
                      <li id="default-title-1" class="">
                          <div>Step 2</div>
                      </li>
                      
                  </ul>
              </div>
     
       <form class="form-inline" id="default" [formGroup]="activoIntangible" (ngSubmit)="guardarDatoss()">
         <fieldset title="1" class="step" id="default-step-0">
           <legend></legend>
              <input type="hidden" class="form-control" formControlName="idbien" autocomplete="off">
              <input type="hidden" class="form-control" formControlName="noformulario" autocomplete="off">
              <input type="hidden" class="form-control" formControlName="bandera" autocomplete="off">
              <input type="hidden" class="form-control" formControlName="tipoactivo" autocomplete="off">

                <div class="form-row">
                      <div class="form-group col-md-4" >
                      <label>* Fecha de Ingreso</label>
                      <input type="date" class="form-control" formControlName="fechaingreso">
                    </div>

                    <div class="form-group col-md-4">
                      <label>* Tipo Adquisición</label>
                      <select formControlName="tipoadquicicion" class="form-control" (change)="ProveedorDonante()">
                        <option value="0">--Seleccione--</option>
                        <option value="1">Contado</option>
                        <option value="2">Crédito</option>
                        <option value="3">Donado</option>
                        </select>
                    </div>

                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>*{{tipocombo}}</label >
                      <select  class="form-control" formControlName="idproveedor">
                    <option value="0">--Seleccione--</option >
                      <option [value]="prov.id" *ngFor="let prov of comboProvDon">{{prov.nombre}}</option>
                    </select>
                  </div>

                  <div class="form-group col-md-4">
                    <label>* Clasificación</label>
                    <select  class="form-control" formControlName="idclasificacion">
                      <option value="0">--Seleccione--</option>
                      <option [value]="clasificacion.idclasificacion" *ngFor="let clasificacion of clasificaciones"> {{clasificacion.clasificacion}} </option>
                    </select>
                   </div>

                   <div class="form-group col-md-4">
                    <label>* Área de negocio</label>
                    <select  class="form-control" formControlName="idarea" [attr.disabled]="disabledd ? '' : null">
                      <option value="0">--Seleccione--</option>
                      <option [value]="area.idAreaNegocio" *ngFor="let area of areas">{{area.nombre +" - "+area.nombreSucursal +" - "+area.ubicacion}} </option>
                    </select>
                   </div>
              </div>
                
                <div class="row">

                  <div class="form-group col-md-4">
                    <label>* Vida útil (en años)</label>
                    <input type="text" class="form-control" placeholder="Ingrese vida útil" formControlName="vidautil" maxlength="3" autocomplete="off">
                  </div>
                
                    <div class="col-lg-8">
                      <label>* Descripción </label>
                      <textarea class="form-control"
                       rows="1" placeholder="Ingrese descripción" autocomplete="off" formControlName="descripcion" maxlength="101"></textarea>
                      </div>
                    
                </div>
                  <div class="form-row">
                    <div class="form-group col-lg-12"
                    ></div>
                  </div>

                <!-- Alertas de validaciones -->
                <div class="form-group col-md-4">
               
                </div> 

              <!--Div para validaciones en el centro-->
              <div class="form-group col-md-4">

               <!-- DESCRIPCION -->
               <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['descripcion'].errors?.maxlength">
                <button data-dismiss="alert" class="close close-sm" type="button">
                  <i class="icon-remove"></i>
                </button>
                <strong>¡Error!</strong> Tamaño máximo permitido en campo descripción.
              </div>

              <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['descripcion'].errors?.pattern">
                <button data-dismiss="alert" class="close close-sm" type="button">
                  <i class="icon-remove"></i>
                </button>
                <strong>¡Error!</strong> El campo descripción no acepta caracteres especiales.
              </div>
              <!-- FIN DE DESCRIPCION -->

              <!-- VIDA ÚTIL-->

              <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['vidautil'].errors?.pattern">
                <button data-dismiss="alert" class="close close-sm" type="button">
                  <i class="icon-remove"></i>
                </button>
                <strong>¡Error!</strong> El campo vida útil no acepta caracteres especiales.
              </div>

              <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['vidautil'].errors?.maxlength">
                <button data-dismiss="alert" class="close close-sm" type="button">
                  <i class="icon-remove"></i>
                </button>
                <strong>¡Error!</strong> Tamaño máximo permitido en campo vida útil.
              </div>

              <!-- FIN VIDA ÚTIL-->  

               
              </div>
              <!--Fin iv para validaciones en el centro-->

          </fieldset>

         <fieldset title="2" class="step" id="default-step-1" >
              <legend> </legend>
              <div class="form-row">
                <div class="form-group col-md-4">
                <label>* Costo</label>
                <input type="text" class="form-control" placeholder="Ingrese costo" formControlName="valoradquicicion" maxlength="11" autocomplete="off">
              </div>
                <div class="form-group col-md-4">
                  <label>* Prima</label>
                  <input type="text" class="form-control" placeholder="{{disabledPrima}}" formControlName="prima" [attr.disabled]="disabled ? '' : null" maxlength="8" autocomplete="off">
                </div>
                </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                <label>* Plazo en meses</label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="plazopago" placeholder="{{disabledPlazo}}" [attr.disabled]="disabled ? '' : null" maxlength="3" autocomplete="off">
               </div>
                <div class="form-group col-md-4">
                    <label  for="formGroupExampleInput2">* Cuota</label>
                    <input type="text" class="form-control" id="inputEmail4" formControlName="cuotaasignada" placeholder="{{disabledCuota}}" [attr.disabled]="disabled ? '' : null" maxlength="8" autocomplete="off">
                   </div>
                    <div class="form-group col-md-4">
                      <label>* Interes en %</label>
                      <input type="text" class="form-control" placeholder="{{disabledInteres}}" formControlName="interes" [attr.disabled]="disabled ? '' : null" maxlength="3" autocomplete="off">
                    </div>
            </div>

            <div class="form-row">
               <div class="form-group col-md-4">
                <label for="inputPassword4">Valor residual</label>
                <input type="text" class="form-control" placeholder="Ingrese valor residual" formControlName="valorresidual" maxlength="11" autocomplete="off">
               </div>

              </div>
              <div class="form-row">

                <div class="form-group col-md-6">
                  <label>* Persona que entrega</label>
                  <input type="text" class="form-control" placeholder="Ingrese persona que entrega" formControlName="personaentrega" maxlength="51" autocomplete="off">
                 </div>
                  <div class="form-group col-md-6">
                  <label>* Persona que recibe</label>
                  <input type="text" class="form-control" placeholder="Ingrese persona que recibe" formControlName="personarecibe" maxlength="51" autocomplete="off">
                 </div>
                                
            </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Foto</label>
                      <input type="file" (change)="changeFoto()" id="futFoto" class="form-control" accept="image/*" />

                    </div>
              
                    <div class="form-group col-md-6">
                      <label  for="formGroupExampleInput2">Observaciones </label>
                      <textarea class="form-control"
                      rows="1" placeholder="Ingrese observaciones" autocomplete="off" formControlName="observaciones" maxlength="71"></textarea>
                    </div>
                                    
                </div>
                      <div class="form-row">
                          <div class="form-group col-lg-12"
                          ></div>
                      </div>

           
          <!-- Alertas de validaciones -->
          <div class="form-group col-md-4">
         
        </div>
        <!--Div para alertas en el centro-->
        <div class="form-group col-md-4">

         <!-- COSTO DE ADQUISICION -->
         <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['valoradquicicion'].errors?.pattern">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> El campo costo no acepta caracteres especiales.
        </div>

        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['valoradquicicion'].errors?.maxlength">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> Tamaño máximo permitido en campo costo.
        </div>
        <!-- FIN COSTO DE ADQUISICION -->

        <!-- PRIMA -->
        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['prima'].errors?.pattern">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> El campo prima no acepta caracteres especiales.
        </div>

        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['prima'].errors?.maxlength">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> Tamaño máximo permitido en campo prima.
        </div>
        <!-- FIN PRIMA -->

        <!-- PLAZO PAGO -->
        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['plazopago'].errors?.pattern">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> El campo plazo no acepta caracteres especiales.
        </div>

        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['plazopago'].errors?.maxlength">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> Tamaño máximo permitido en campo plazo.
        </div>
        <!-- FIN PLAZO PAGO -->

        <!-- CUOTA -->
        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['cuotaasignada'].errors?.pattern">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> El campo cuota no acepta caracteres especiales.
        </div>

        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['cuotaasignada'].errors?.maxlength">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> Tamaño máximo permitido en campo cuota.
        </div>
        <!-- FIN CUOTA -->

         <!-- INTERES -->
         <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['interes'].errors?.pattern">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> El campo interes no acepta caracteres especiales.
        </div>

        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['interes'].errors?.maxlength">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> Tamaño máximo permitido en este campo interes.
        </div>
        <!-- FIN INTERES -->

          <!-- PERSONA QUE ENTREGA -->
          <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['personaentrega'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo persona que entrega.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['personaentrega'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo persona que entrega no acepta caracteres especiales.
          </div>
          <!-- FIN PERSONA QUE ENTREGA -->
      
            <!-- PERSONA QUE RECIBE -->
        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['personarecibe'].errors?.maxlength">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> Tamaño máximo permitido en campo persona que recibe.
        </div>

        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['personarecibe'].errors?.pattern">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> El campo persona que recibe no acepta caracteres especiales.
        </div>
        <!-- FIN PERSONA QUE RECIBE -->

        <!-- VALOR RESIDUAL -->
        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['valorresidual'].errors?.maxlength">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> Tamaño máximo permitido en campo valor residual.
        </div>

        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['valorresidual'].errors?.pattern">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> El campo valor residual no acepta caracteres especiales.
        </div>
        <!-- FIN VALOR RESIDUAL -->

        <!-- OBSERVACIONES -->
        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['observaciones'].errors?.maxlength">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> Tamaño máximo permitido en campo observaciones.
        </div>

        <div class="alert alert-block alert-danger fade in" *ngIf="activoIntangible.controls['observaciones'].errors?.pattern">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Error!</strong> El campo observaciones no acepta caracteres especiales.
        </div>
        <!-- FIN DE OBSERVACIONES --> 
        

        </div>
        <!--Fin Div para alertas en el centro-->
              
          </fieldset>
              <br><br><br>
              <input [disabled]="!activoIntangible.valid" type="submit" class="finish btn btn-danger" value="Guardar"/>
              
         </form>

  </div>
</section>

