<br><br><br><br>
<section class="panel">
  <form class="form-inline" id="default" [formGroup]="solicitud" (ngSubmit)="guardarDatos()">
    <header class="panel-heading">
      <div class="row">
        <div class="col-lg-3">
          <h2>Nueva solicitud</h2>
        </div>
        <div class="col-lg-6">
          <!-- Alertas de validaciones -->
          <div class="alert alert-warning fade in" *ngIf="!solicitud.valid">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> Todos los campos con * son obligatorios.
          </div>
          <!-- Validacion de pattern no acepta caracteres especiales -->
          <div class="alert alert-block alert-danger fade in" *ngIf="solicitud.controls['folio'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo folio no acepta caracteres especiales.
          </div>
          <!-- Validacion de pattern no acepta caracteres especiales -->
          <div class="alert alert-block alert-danger fade in" *ngIf="solicitud.controls['descripcion'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo descripción no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="solicitud.controls['folio'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo folio.
          </div>
          <div class="alert alert-block alert-danger fade in"
            *ngIf="solicitud.controls['descripcion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo descripción.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="solicitud.controls['folio'].errors?.yaExisteFolio">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Advertencia!</strong> ya existe el folio ingresado, por favor intente con un nuevo.
          </div>
        </div>
      </div>
    </header>
    <input type="hidden" class="form-control" formControlName="idsolicitud" autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>* Fecha:</label>
        <input type="date" formControlName="fechasolicitud" [ngModel]='fecha | date:"yyyy-MM-dd" '
          (ngModelChange)='fecha=$event' class="form-control" disabled="off">
      </div>

      <div class="form-group col-md-4">
        <label>* Folio:</label>
        <input type="text" class="form-control" formControlName="folio" maxlength="11" (keyup)=" ValidarDatosArray()"
          placeholder="Ingrese folio" autocomplete="off">
      </div>

      <div class="form-group col-md-4">
        <label>* Descripción:</label>
        <textarea class="form-control rounded-0" formControlName="descripcion" maxlength="251"
          (keyup)=" ValidarDatosArray()" rows="1" placeholder="Ingrese descripción" autocomplete="off"></textarea>
      </div>
    </div>
    <br><br><br>
    <div class="col-lg-12">
      <button type="button" class="btn btn-success" (click)="open2()" data-toggle="modal" data-target="#myModal"><i
          class="icon-plus-sign-alt"></i> Agregar activos a solicitud</button>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <section class="panel panel-default">
          <header class="panel-heading">
            <h5>Listado de activos</h5>
          </header>
          <div class="panel-body">
            <div class="adv-table">
              <table class="display table table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="row">N°</th>
                    <th scope="row">Código del bien</th>
                    <th scope="row">Descripción del bien</th>
                    <th scope="row">Razones del mantenimiento</th>
                    <th scope="row">Periodo del mantenimiento</th>                  
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let datos of matriz | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                    <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                    <td>{{datos[1]}}</td>
                    <td>{{datos[2]}}</td>
                    <td>{{datos[3]}}</td>
                    <td>{{datos[4]}}</td>              
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-lg-6">
            <input type="submit" [disabled]="!solicitud.valid||this.yaHayDatos==false" class="finish btn btn-danger"
              value="Enviar solicitud" />
          </div>
          <br><br><br><br><br><br>
        </section>
        <div class="col-lg-12" style="text-align: center;">
          <div class="alert alert-warning fade in" *ngIf="solicitud.valid&&this.yaHayDatos==false">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> Ingrese por lo menos un activo a la solicitud.
          </div>
          <div class="alert alert-success fade in" *ngIf="solicitud.valid&&this.yaHayDatos==true">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Exelente!</strong> Datos ingresados correctamente.
          </div>
        </div>
      </div>
    </div>
  </form>
  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal"
    [ngStyle]="{'display':display2}">
    <div class="modal-dialog modal-lg" style="width:1000px;">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
          <h4 class="modal-title">{{titulo}}</h4>
        </div>
        <div class="modal-body">
          <!--INICIO DE TABLA-->
          <div class="row">
            <div class="col-lg-12">
              <section class="panel panel-default">
                <div class="col-lg-9">
                </div>
                <div class="col-md-3">
                  <input type="search" style="margin-top: 15px; padding-left: 30px;" class="form-control" #nombre
                    (keyup)="buscar(nombre)" placeholder="Buscar">
                </div>
                <br><br> <br>
                <header class="panel-heading">
                  <h5>Activos a enviar a mantenimiento</h5>
                </header>
                <div class="panel-body">
                  <div class="adv-table">
                    <table class="display table table-bordered table-striped">
                      <!---->
                      <thead>
                        <tr>
                          <th scope="row">N°</th>
                          <th scope="row">Código del activo</th>
                          <th scope="row">Descripción del activo</th>
                          <th scope="row" class="hidden-phone">Enviar</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let bien of bienes;let datos of this.matriz | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                          <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                          <td>{{bien.codigobien}}</td>
                          <td>{{bien.descripcionbien}}</td>
                          <td class="center hidden-phone">
                            <header class="panel-heading form-in-line">
                              <button name="submitButton" type="button" class="btn btn-primary"
                                (click)="open(bien.idbien,bien.codigobien,bien.descripcionbien)" data-toggle="modal"
                                data-target="#myModal"><i class="icon-plus-sign-alt"></i></button>
                            </header>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior"
                      nextLabel="Siguiente"></pagination-controls>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div>         
            <button type="button" (click)="close2()" class="btn btn-default"><i class="icon-remove-sign"></i>
              Cerrar</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--INICIO DEL SEGUNDO MODAL-->
  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal1" class="modal"
    [ngStyle]="{'display':display}">
    <div class="modal-dialog" style="width:450px;">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
          <h4 class="modal-title">{{titulo}}</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline" id="default" [formGroup]="datosArray" (ngSubmit)="arrayMostrar()">
            <input type="hidden" class="form-control" formControlName="idBien" autocomplete="off">
            <input type="hidden" class="form-control" formControlName="codigobien" autocomplete="off">
            <input type="hidden" class="form-control" formControlName="descripcionbien" autocomplete="off">
            <br>
            <div class="form-group">
              <label for="exampleInputEmail1">* Razones del mantenimiento:</label>
              <input type="text" class="form-control" formControlName="razonesMantenimiento"
                placeholder="Ingrese razones del mantenimiento" autocomplete="off" maxlength="101">
            </div>
            <br>
            <div class="form-group">
              <label for="exampleInputEmail1">* Periodo de mantenimiento estimado:</label>
              <input type="text" class="form-control" formControlName="periodoMantenimiento"
                placeholder="Ingrese período de mantenimiento estimado" autocomplete="off" maxlength="26">
            </div>
            <br> <br>

            <!-- Alertas de validaciones -->
            <div class="alert alert-warning fade in" *ngIf="!datosArray.valid">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Advertencia!</strong> Todos los campos con * son obligatorios.
            </div>
            <div class="alert alert-success fade in" *ngIf="datosArray.valid">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Exelente!</strong> Datos ingresados correctamente.
            </div>
            <div class="alert alert-block alert-danger fade in"
              *ngIf="datosArray.controls['razonesMantenimiento'].errors?.maxlength">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Error!</strong> Tamaño máximo permitido en campo razones de mantenimiento.
            </div>
            <div class="alert alert-block alert-danger fade in"
              *ngIf="datosArray.controls['periodoMantenimiento'].errors?.maxlength">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Error!</strong> Tamaño máximo permitido en campo período de mantenimiento.
            </div>

            <!-- Validacion de pattern no acepta caracteres especiales -->
            <div class="alert alert-block alert-danger fade in"
              *ngIf="datosArray.controls['razonesMantenimiento'].errors?.pattern">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Error!</strong> El campo razones de mantenimiento no acepta caracteres especiales.
            </div>
            <!-- Validacion de pattern no acepta caracteres especiales -->
            <div class="alert alert-block alert-danger fade in"
              *ngIf="datosArray.controls['periodoMantenimiento'].errors?.pattern">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Error!</strong> El campo período de mantenimiento no acepta caracteres especiales.
            </div>
            <div>
              <button type="submit" [disabled]="!datosArray.valid" class="btn btn-primary"><i
                  class="icon-save"></i>Enviar</button>
              <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i>
                Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>