<br><br><br><br>
<section class="panel">
  <header class="panel-heading">
    <div class="row">
      <div class="col-lg-6">
        <h1>Formulario nueva solicitud de mantenimiento</h1>
      </div>
      <div class="col-lg-3">

      </div>

    </div>
  </header>

   <form class="form-inline" id="default" [formGroup]="solicitud" (ngSubmit)="guardarDatos()"></form>
      <input type="hidden" class="form-control" formControlName="idsolicitud" id="exampleInputEmail3" autocomplete="off">
      <fieldset title="1" class="step" id="default-step-0">
        <legend> </legend>
        <input type="hidden" class="form-control" id="exampleInputEmail3" autocomplete="off">
      
        <div class="form-row">
          <div class="form-group col-md-6">           
            <label for="formGroupExampleInput2">Área de negocio solicitante</label>
            <select  class="form-control" formControlName="idareadenegocio"  id="exampleFormControlTextarea2" >
              <option value="0">---Seleccione---</option>
              <option [value]="area.IdAreaNegocio" *ngFor="let area of areas">{{area.nombre+" , "+area.nombreSucursal}}
              </option>
            </select>
          </div>
         

          <div class="form-group col-md-6">
            <label for="inputPassword4">Jefe o encargado de la unidad de negocio solicitante</label>
            <select class="form-control" formControlName="idresponsable"  id="exampleFormControlTextarea2">
              <option value="0">---Seleccione---</option>
              <option [value]="empleado.idempleado" *ngFor="let empleado of  empleados">
                {{empleado.nombres+" "+empleado.apellidos}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput2">Folio</label>
            <input type="text" class="form-control" formControlName="folio" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Fecha</label>
            <input type="date" formControlName="fechasolicitud"  class="form-control">
          </div>
        </div>

        <!-- aqui empieza la tabla-->
        <br><br><br><br>
        <section class="panel">
          <div class="row">
            <div class="col-lg-6">

              <header class="panel-heading form-in-line">
                <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal"
                  data-target="#myModal"><i class="icon-plus-sign-alt"></i> Agregar Nuevo Activo</button>
              </header>
            </div>
            <div class="col-lg-3">

            </div>

          </div>

         

          <div class="row">
            <div class="col-lg-12">
              <section class="panel panel-default">
                <header class="panel-heading">
                  <h5>Activos a enviar a mantenimiento</h5>
                </header>
                <div class="panel-body">
                  <div class="adv-table">
                    <table class="display table table-bordered table-striped">
                     <!----> <thead>
                        <tr>
                          <th scope="row">N°</th>
                     
                          <th scope="row">Código del bien</th>
                          <th scope="row">Descripción del bien</th>
                          <th scope="row">Razones del mantenimiento</th>
                          <th scope="row">Periodo del mantenimiento</th>
                          <th scope="row" class="hidden-phone">Opciones</th>
                        </tr>
                      </thead>
                      <tbody>

                  <tr *ngFor="let solicitud of solicitudes | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                  <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                
                  <td>{{solicitud.codigobien}}</td>
                  <td>{{solicitud.descripcionbien}}</td>
                  <td>{{solicitud.razonesmantenimiento}}</td>
                  <td>{{solicitud.periodomantenimiento}}</td>
                  <td class="center hidden-phone">

                    <button class="btn btn-danger btn-xs" ><i class="icon-trash "></i></button>
                  </td>
                </tr>
                      </tbody>
                    </table>
                     <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>

                    <!--darle color al cuadro que rellena el número-->



                  </div>
                </div>
              </section>
            </div>
          </div>
          <br><br><br>
          <input type="submit" class="finish btn btn-danger" value="Guardar"/>
        
         
        </section>
        <!--aqui termina la tabla -->

        <!--Inicio del modal -->

        <div  aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
                <h4 class="modal-title">{{titulo}}</h4>
              </div>
              <div class="modal-body">
 
                <form role="form" [formGroup]="solicitud" (ngSubmit)="guardarDatos()">
                  <input type="hidden" class="form-control" formControlName="idsolicitud" id="exampleInputEmail3" autocomplete="off">
                  

                
                  
                  <div class="form-group ">           
                    <label size="80"  form="formGroupExampleInput2">codigo del bien</label>
                    <select class="form-control" formControlName="idareadenegocio"  id="exampleFormControlTextarea2" >
                      <option value="0">---Seleccione---</option>
                      <!--<option [value]="area.IdAreaNegocio" *ngFor="let area of areas">{{area.nombre+" , "+area.nombreSucursal}}
                      </option>-->
                    </select>
                  </div>
                  <br>
                  <div class="form-group ">           
                    <label size="80"  for="formGroupExampleInput2">Descripcion</label>
                    <select  class="form-control" formControlName="idareadenegocio"  id="exampleFormControlTextarea2" >
                      <option value="0">---Seleccione---</option>
                      <!--<option [value]="area.IdAreaNegocio" *ngFor="let area of areas">{{area.nombre+" , "+area.nombreSucursal}}
                      </option>-->
                    </select>
                  </div>
                  <br>

                  <div class="form-group">
                    <label for="exampleInputEmail1">razones del mantenimiento:</label>
                    <input size="80" type="text" class="form-control" formControlName="razonesmantenimiento" id="exampleInputEmail3" placeholder="Razones del mantenimiento" autocomplete="off">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="exampleInputEmail1">periodo del mantenimiento:</label>
                    <input size="80" type="text" class="form-control" formControlName="periodomantenimiento" id="exampleInputEmail3" placeholder="periodo del mantenimiento" autocomplete="off">
                  </div>
                  <br>
                  <br>


                  <div>
                  <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>
                  <button type="button"  (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      
        <!--Fin del modal del modal -->