<br><br><br><br>
<section class="panel">
  <header class="panel-heading">
    <div class="row">
      <div class="col-lg-6">
        <h1>Solicitud mantenimiento</h1>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
  </header>
   <form class="form-inline" id="default" [formGroup]="solicitud" (ngSubmit)="guardarDatos()">
        <input type="hidden" class="form-control" formControlName="idsolicitud" id="exampleInputEmail3" autocomplete="off">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputPassword4">Fecha</label>
            <input type="date" formControlName="fechasolicitud"  class="form-control">
          </div>
          <div class="form-group col-md-4">
            <label for="formGroupExampleInput2">Folio</label>
            <input type="text" class="form-control" formControlName="folio" id="inputEmail4">
          </div>
    
          <div class="form-group col-md-4">
            <label for="exampleFormControlTextarea2">Descripción:</label>
            <textarea class="form-control rounded-0" formControlName="descripcion" id="exampleFormControlTextarea2" rows="3" placeholder="Ingrese descripcion" autocomplete="off"  maxlength="250"></textarea>
          </div>
        </div>

        <br><br><br><br>

      
          <div class="row">
            <div class="col-lg-6">
              <header class="panel-heading form-in-line">
                <button type="button" class="btn btn-success" (click)="open2()" data-toggle="modal"
                  data-target="#myModal"><i class="icon-plus-sign-alt"></i> Agregar bienes a solicitud</button>
                  <input type="submit" class="finish btn btn-danger" value="Guardar"/>
              </header>
            </div>
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="solicitud.controls['folio'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Error!</strong> Tamaño máximo permitido en el campo Folio.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="solicitud.controls['descripcion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Error!</strong> Tamaño máximo permitido en el campo Descripción.
          </div>
        </form>
          <div class="row">
            <div class="col-lg-12">
              <section class="panel panel-default">
                <header class="panel-heading">
                  <h5>Activos a enviar a mantenimiento</h5>
                </header>
                <div class="panel-body">
                  <div class="adv-table">
                    <table class="display table table-bordered table-striped">
                     <!----> <thead>
                     <tr>
                          <th scope="row">N°</th>        
                          <th scope="row">Código del bien</th>
                          <th scope="row">Descripción del bien</th>
                          <th scope="row">Razones del mantenimiento</th>
                          <th scope="row">Periodo del mantenimiento</th>
                          <th scope="row" class="hidden-phone">Opciones</th>
                        </tr>
                      </thead>
                      <tbody>

                  <tr *ngFor="let datos of matriz | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                   <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                  
                  <td>{{datos[1]}}</td>
                  <td>{{datos[2]}}</td>
                  <td>{{datos[3]}}</td>
                  <td>{{datos[4]}}</td>
                  <td class="center hidden-phone">

                    <button class="btn btn-danger btn-xs" ><i class="icon-trash "></i></button>
                  </td>
                </tr>
                      </tbody>
                    </table>
                     <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <br><br><br>
          </section>
         <div  aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display2}">
          <div class="modal-dialog modal-lg" style="width:1000px;">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
                <h4 class="modal-title">{{titulo}}</h4>
              </div>
              <div class="modal-body">
                
                <!--INICIO DE TABLA-->
                <div class="row">
                  <div class="col-lg-12">
                    <section class="panel panel-default">
                      <header class="panel-heading">
                        <h5>Activos a enviar a mantenimiento</h5>
                      </header>
                      <div class="panel-body">
                        <div class="adv-table">
                          <table class="display table table-bordered table-striped">
                           <!----> <thead>
                           <tr>
                                <th scope="row">N°</th>
                           
                                <th scope="row">Código del bien</th>
                                <th scope="row">Descripción del bien</th>
                                <th scope="row" class="hidden-phone">Enviar</th>
                              </tr>
                            </thead>
                            <tbody>
      
                        <tr *ngFor="let bien of bienes | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                       <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                        
                        <td>{{bien.codigobien}}</td>
                        <td>{{bien.descripcionbien}}</td>
                        <td class="center hidden-phone">
      
                         
                          <header class="panel-heading form-in-line">
                            <button type="button" class="btn btn-success" (click)="open(bien.idbien,bien.codigobien,bien.descripcionbien)" data-toggle="modal"
                              data-target="#myModal"><i class="icon-pencil"></i></button>
                          </header>
                        </td>
                      </tr>
                            </tbody>
                          </table>
                           <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
                  <div>
                  <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>
                  <button type="button"  (click)="close2()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>
                  </div>
               
              </div>
            </div>
           </div>
         </div>

          <!--INICIO DEL SEGUNDO MODAL-->
         <div  aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal1" class="modal" [ngStyle]="{'display':display}">
           <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
                <h4 class="modal-title">{{titulo}}</h4>
              </div>
              <div class="modal-body">
                <form class="form-inline" id="default" [formGroup]="datosArray" (ngSubmit)="arrayMostrar()">
              <input type="hidden" class="form-control" formControlName="idBien" id="exampleInputEmail3"
                autocomplete="off">
                
                <input type="hidden" class="form-control" formControlName="idMantenimiento" id="exampleInputEmail3"
                autocomplete="off">
                 <input type="hidden" class="form-control" formControlName="codigobien" id="exampleInputEmail3" autocomplete="off">  
                <input type="hidden" class="form-control" formControlName="descripcionbien" id="exampleInputEmail3" autocomplete="off">  
                  <br>

                  <div class="form-group">
                    <label for="exampleInputEmail1">razones del mantenimiento:</label>
                    <input size="80" type="text" class="form-control" formControlName="razonesMantenimiento" id="exampleInputEmail3" placeholder="Razones del mantenimiento" autocomplete="off">
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="exampleInputEmail1">periodo del mantenimiento:</label>
                    <input size="80" type="text" class="form-control" formControlName="periodoMantenimiento" id="exampleInputEmail3" placeholder="periodo del mantenimiento" autocomplete="off">
                  </div>
                  <br>
                  <br>
            
                  <div>
   
                  <button type="submit" class="btn btn-primary"><i class="icon-save"></i>Enviar</button>
                  <button type="button"  (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>