<br><br><br><br>
<section class="panel">
    <div class="row">
        <div class="col-lg-6">
          <h1>Donantes</h1>
        </div>
        <br>
          <div class="col-lg-6">
            <button type="button" class="btn btn-warning margin-left" (click)="open3()" data-toggle="modal" data-target="#myModal2"><i
              class="glyphicon glyphicon-question-sign"></i></button>
          </div>    
     </div>
    <div class="row">
        <div class="col-lg-6">
    
          <header class="panel-heading form-in-line">
            <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal" data-target="#myModal"><i class="icon-plus-sign-alt"></i> Agregar nuevo donante</button>
          </header>
        </div>
        <div class="col-lg-3">
    
        </div>
        
        <div class="col-md-3">
          <input type="search" style="margin-top: 15px; padding-left: 30px;" class="form-control" #nombre (keyup)="buscar(nombre)" placeholder="Buscar">
        </div>
       
      </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-default">

                <header class="panel-heading">
                    <h5>Registro de donantes</h5>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Dirección</th>
                                    <th class="hidden-phone">Opciones</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let donte of dontes | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                                  <th scope="col">{{i+(5*p)-4}}</th>
                                    <td>{{donte.nombre}}</td>
                                    <td>{{donte.telefono}}</td>
                                    <td>{{donte.direccion}}</td>
                                    <td class="center hidden-phone">
                                        <button class="btn btn-primary btn-xs" (click)="modif(donte.iidDonante)"><i class="icon-pencil"></i></button>
                                        <button class="btn btn-danger btn-xs" (click)="eliminar(donte.iidDonante)"><i class="icon-trash "></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!--modal para confirmar la eliminacion de un registro-->
<!--modal para ingresar y editar-->



<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
                <h4 class="modal-title">{{titulo}}</h4>
            </div>
            <div class="modal-body">

                <form role="form" [formGroup]="donantes" (ngSubmit)="guardarDatos()">
                    <input type="hidden" class="form-control" formControlName="iidDonante" autocomplete="off">
                    <input type="hidden" class="form-control" formControlName="bandera" autocomplete="off">

                    <div class="form-group">
                        <label>* Nombre:</label>
                        <input type="text" class="form-control" formControlName="nombre"placeholder="Ingrese nombre" autocomplete="off"  maxlength="51">
                    </div>

                    <div class="alert alert-block alert-danger fade in" *ngIf="donantes.controls['nombre'].errors?.yaExisteDonante">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                      </button>
                      <strong>¡Advertencia!</strong> El donante ingresado ya existe.
                    </div>

                    <div class="alert alert-block alert-danger fade in" *ngIf="donantes.controls['nombre'].errors?.maxlength">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                        </button>
                        <strong>¡Error!</strong> Tamaño máximo permitido en campo nombre.
                      </div>

                      <div class="alert alert-block alert-danger fade in" *ngIf="donantes.controls['nombre'].errors?.pattern">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                        </button>
                        <strong>¡Error!</strong> El campo nombre no acepta caracteres especiales.
                      </div>

                    <div class="form-group">
                        <label>* Teléfono:</label>
                        <input type="text"  mask="0000-0000" [dropSpecialCharacters]="false" class="form-control" formControlName="telefono" placeholder="Ingrese teléfono" autocomplete="off">
                    </div>

                    <div class="alert alert-block alert-danger fade in" *ngIf="donantes.controls['telefono'].errors?.maxlength">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                        </button>
                        <strong>¡Error!</strong> Tamaño máximo permitido en campo teléfono.
                      </div>

                    <div class="form-group">
                        <label>* Dirección:</label>
                        <textarea class="form-control rounded-0" formControlName="direccion" rows="1" placeholder="Ingrese dirección" autocomplete="off"  maxlength="101"></textarea>
                    </div>

                    <div class="alert alert-block alert-danger fade in" *ngIf="donantes.controls['direccion'].errors?.maxlength">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                        </button>
                        <strong>¡Error!</strong> Tamaño máximo permitido en campo dirección.
                      </div>

                      <div class="alert alert-block alert-danger fade in" *ngIf="donantes.controls['direccion'].errors?.pattern">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                        </button>
                        <strong>¡Error!</strong> El campo dirección no acepta caracteres especiales.
                      </div>

                           <!--  WARNING-->
          <div class="alert alert-warning fade in" *ngIf="!donantes.valid">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> Todos los campos son obligatorios.
          </div>

           <!--  END-WARNING-->
           <div class="alert alert-success fade in" *ngIf="donantes.valid&&donantes.controls['bandera'].value==0">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Excelente!</strong> Datos ingresados correctamente.
          </div>
         
          <button [disabled]="!donantes.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>
          <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>

                </form>
            </div>
        </div>
    </div>
</div>

<!--modal para ayuda con pdf-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal"
  [ngStyle]="{'display':display3}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close2()">×</button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
<iframe src="assets/img/Imagenes/Donantes.pdf" style="width:700px; height:415px;" frameborder="0"></iframe>
</div>
      </div>
    
    </div>
  </div>
</div>

