<br><br><br><br>
<section class="panel">
  <h1>Técnicos</h1>
  <div class="row">
    <div class="col-lg-6">

      <header class="panel-heading form-in-line">
        <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal" data-target="#myModal"><i class="icon-plus-sign-alt"></i> Agregar nuevo tecnico</button>
      </header>
    </div>
    <div class="col-lg-3">

    </div>
    
    <div class="col-md-3">
      <input type="search" style="margin-top: 15px; padding-left: 30px;" class="form-control" #nombre (keyup)="buscar(nombre)" placeholder="Buscar">
    </div>
   
  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel panel-default">
        <header class="panel-heading">
          <h5>Registro de técnicos</h5>
        </header>
        <div class="panel-body">
          <div class="adv-table">
            <table class="display table table-bordered table-striped">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Nombre</th>
                  <th>Empresa</th>
                  <th class="hidden-phone">Opciones</th>
                </tr>
              </thead>
              <tbody>
              
                <tr *ngFor="let tecnico of tecnicos | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                    <th scope="col">{{i+(5*p)-4}}</th>
                    <td>{{tecnico.nombre}}</td>
                    <td>{{tecnico.empresa}}</td>
                    <td class="center hidden-phone">
                      <button class="btn btn-primary btn-xs" (click)="modif(tecnico.idtecnico)"><i class="icon-pencil" title="Editar"></i></button>
                      <button class="btn btn-danger btn-xs" (click)="eliminar(tecnico.idtecnico)"><i class="icon-trash " title="Eliminar"></i></button>
                    </td>
                  </tr>

              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!--modal para ingresar y editar-->
<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">

        <form role="form" [formGroup]="tecnico" (ngSubmit)="guardarDatos()" >
          <input type="hidden" class="form-control" formControlName="idtecnico" id="exampleInputEmail3" autocomplete="off">
          <input type="hidden" class="form-control" formControlName="bandera" id="exampleInputEmail3" autocomplete="off">

          <div class="form-group">
            <label for="exampleInputEmail1">* Nombre:</label>
            <input type="text" class="form-control" formControlName="nombre" id="exampleInputEmail3" placeholder="Ingrese nombre" autocomplete="off" maxlength="61">
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="tecnico.controls['nombre'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Error!</strong> Tamaño máximo permitido en este campo.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="tecnico.controls['nombre'].errors?.yaExisteTecnico">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Advertencia!</strong> El técnico ingresado ya existe.
          </div>
          
          <div class="alert alert-block alert-danger fade in" *ngIf="tecnico.controls['nombre'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">* Empresa:</label>
            <input type="text" class="form-control" formControlName="empresa" id="exampleInputEmail3" placeholder="Ingrese empresa" autocomplete="off" maxlength="51">
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="tecnico.controls['empresa'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Error!</strong> Tamaño máximo permitido en campo empresa.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="tecnico.controls['empresa'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
          </div>
                          <!--  WARNING-->
                          <div class="alert alert-warning fade in" *ngIf="!tecnico.valid">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                              <i class="icon-remove"></i>
                            </button>
                            <strong>Advertencia!</strong> Todos los campos son obligatorios.
                          </div>
                
                           <!--  END-WARNING-->
                           <div class="alert alert-success fade in" *ngIf="tecnico.valid&&tecnico.controls['bandera'].value==0">
                            <button data-dismiss="alert" class="close close-sm" type="button">
                              <i class="icon-remove"></i>
                            </button>
                            <strong>Excelente!</strong> Datos ingresados correctamente.
                          </div>


                          
         
        
            <button [disabled]="!tecnico.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>
            <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>
       
        </form>
      </div>
    </div>
  </div>
</div>
