<br/><br/><br/><br/>

<section class="panel">
  <div class="row">
    <div class="col-lg-6">
      <h1>Historial de mantenimientos</h1>
    </div>
    <br>
      <div class="col-lg-6">
        <button type="button" class="btn btn-warning margin-left" (click)="open5()" data-toggle="modal" data-target="#myModal2"><i
          class="glyphicon glyphicon-question-sign"></i></button>
      </div>    
 </div>

  <div class="row">
    <div class="col-lg-14">
      <section class="panel panel-default">
        <div class="form-row">
          <form class="form-inline" id="default" [formGroup]="combos">
            <div class="row">
              <div class="col-md-3">
                <label *ngIf="isAdmin">Sucursal</label>
                <select  *ngIf="isAdmin" class="form-control" (change)="FiltrarArea()" formControlName="idSucursal">
                  <option value="0">Seleccione</option>
                  <option [value]="sucursal.idSucursal" *ngFor="let sucursal of sucursales">{{sucursal.nombre+" , "+sucursal.ubicacion}}</option>	
                </select>
              </div>

          <div class="form-group col-md-3">
            <label  *ngIf="isAdmin">Área de negocio</label>
            <select  *ngIf="isAdmin" id="inputState" class="form-control" formControlName="idArea" (change)="Filtrar()">
              <option value="0" selected>Seleccione</option>
              <option [value]="area.idAreaNegocio" *ngFor="let area of areas">{{area.nombre}}</option>	
            </select> 
          </div>
          <div class="form-group col-md-3">
            <button  *ngIf="isAdmin" title="Recargar datos" style="margin-top: 20px;" class="btn btn-success" (click)="Reload()"><i class="glyphicon glyphicon-refresh"></i></button>
                          
        </div>
          
             
              <div class="col-md-3">
        
               <input type="search" style="margin-top: 15px; padding-left: 30px;" class="form-control" #nombre (keyup)="buscar(nombre)"  placeholder="Buscar">
             </div>
            </div>
            </form>
            <br>
            <div class="row">
              <div class="col-lg-12">
                <section class="panel panel-default">
          
                  <header class="panel-heading">
                    <h5>Registro de activos</h5>
                  </header>
                  <div class="panel-body">
                    <div class="adv-table">
                      <table class="display table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>N°</th>
                            <th>Correlativo</th>
                            <th>Descripción</th>
                            <th>Responsable</th>
                            <th>Área de negocio</th>
                           
                                                 
                            <th class="hidden-phone" >Ver historial </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let bien of bienes | paginate: { itemsPerPage: 4, currentPage: p };let i=index">
                            <th scope="col">{{ 4 * (p - 1) + i+1 }}</th>
                            <!-- <td>{{marca.idMarca}}</td> -->
                            <td>{{bien.codigo}}</td>
                            <td>{{bien.descripcion}}</td>
                            <td>{{bien.responsable}}</td>
                            <td>{{bien.areanegocio}}</td>
                            
                           
                            <td class="center hidden-phone" style="text-align: center;">
                              <button title="Ver historial" class="btn btn-primary btn-xs" (click)="open(bien.idBien)" ><i class="icon-time"></i></button> 
                              <!--<button title="Aplicar depreciación" class="btn btn-warning btn-xs" (click)="open(bien.idBien)"><i class="icon-sort-by-attributes-alt"></i></button>-->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div>
                  </div>
                </section>
              </div>
            </div>


           

<!--INICIO DE MODAL PARA LA TABLA DE HISTORIAL DE MANTENIMIENTO-->

<div  aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-lg" style="width:1300px;">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">
       

             <!--INICIO DE LOS VALORES DEL BIEN-->
             <input type="hidden" class="form-control" value="{{idbien}}">
             <div class="row">
               <div class="col-lg-2"></div>
               <div class="form-group col-md-4">
                 <label><strong>Correlativo :</strong></label> {{ codigo }}<br/>
                 </div>
                 <div class="form-group col-md-4">
                   <label><strong>Descripción:</strong></label> {{ descripcion }}<br/>
                  </div>
              
              </div>
              <div class="row">
               <div class="col-lg-2"></div>
               <div class="form-group col-md-4">
                 <label><strong>Encargado:</strong></label> {{ encargado }}<br/>
                 </div>
                 <div class="form-group col-md-4">
                   <label><strong>Área de negocio:</strong></label> {{ areadenegocio }}<br/>
                  </div>
                  <div class="col-lg-4">
                   
                 </div>
              
              </div>
       


        <!--INICIO DE TABLA-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel panel-default">
              <header class="panel-heading">
                <h5>Historial de mantenimientos</h5>
              </header>
              <div class="panel-body">
                <div class="adv-table">
                  <table class="display table table-bordered table-striped">
                   <!----> <thead>
                   <tr>
                        <th scope="row">N°</th>                   
                        <th scope="row">Fecha</th>
                        <th scope="row">Técnico</th>
                        <th scope="row">Costo mano de obra</th>
                        <th scope="row">Costo materiales</th>
                        <th scope="row">Costo total</th>
                        <th scope="row">Descripción</th>
                       <!-- <th scope="row" class="hidden-phone">Enviar</th>-->
                      </tr>
                    </thead>
                    <tbody>

                <tr *ngFor="let informe of informes; let i = index">
               <th scope="col">{{i+1 }}</th>
                
               <td>{{informe.fechacadena}}</td>
               <td>{{informe.nombretecnico}}</td>
               <td>$ {{informe.costomateriales}}</td>
               <td>$ {{informe.costomo}}</td>
               <td>$ {{informe.costototal}}</td>
               <td>{{informe.descripcion}}</td>
              
              </tr>
                    </tbody>
                  </table>
                  <!--<pagination-controls (pageChange)="p3 = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>-->
                </div>
              </div>
            </section>
          </div>
        </div>
          <div>
          <!--<button type="submit" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>-->
          <button type="button"  (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>
          <button title="Imprimir reporte de historial de mantenimiento" class="btn btn-success" (click)="reportesMantenimientoPdf(idbien)"><i class="icon-print"></i> Imprimir</button>
          </div>
       
      </div>
    </div>
   </div>
 </div>

<!--FIN DEL MODAL PARA LA TABLA DE HISTORIAL DE MANTENIMIENOT-->

<!--modal para ayuda con pdf-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal"
  [ngStyle]="{'display':display5}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close5()">×</button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
<iframe src="assets/img/Imagenes/Historial mtto.pdf" style="width:700px; height:415px;" frameborder="0"></iframe>
</div>
      </div>
    
    </div>
  </div>
</div>
         
