<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
  class="modal" [ngStyle]="{'display':displayGraficas}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{cooperativa}} -  Generación de gráficas </h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
          <button (click)="GraficaActivosAquiridosPorAnio()" type="button" class="btn btn-primary"><i
              class="icon-bar-chart"></i>
            Activos adquiridos por año </button>
          <br>
          <button type="button" class="btn btn-primary" (click)="GraficaMontoActivosAquiridosPorAnio()"><i
              class="icon-bar-chart"></i>
            Monto total de aquisicion de activos por anio </button>
          <br>
          <button type="button" class="btn btn-primary"><i class="icon-bar-chart"></i>
            Gasto de mantnimiento por año </button>
          <br>
          <button type="button" class="btn btn-primary"><i class="icon-bar-chart"></i>
            Gasto de mantnimiento por sucursal</button>
          <br>
          <button type="button" class="btn btn-primary"><i class="icon-bar-chart"></i>
            Activos descargados por anio </button>
          <br>
          <button type="button" class="btn btn-primary"><i class="icon-bar-chart"></i>
            Provision anual real</button>

        </div>
        <div style="text-align: center;">
          <button type="button" class="btn btn-default" (click)="close()"><i class="icon-remove-sign"></i>
            Cancelar</button>
        </div>
      </div>
    </div>
  </div>