<br />
<br />
<br />
<br />
<section class="pane__general">
  <div class="row">
    <div class="col-lg-14">
      <section class="panel panel-default">
        <div class="form-row">
          <h1>Revalorizar</h1>
          <form class="form-inline" id="default" [formGroup]="combos">
            <div class="row">
             <div class="form-group col-md-3">
                    <br>
                    <label for="inputPassword4">Tipo activo</label>
                    <select [attr.disabled]="disabledFiltroBotonAsignacion ? '' : null" class="form-control" (change)="CambiarTipo()" formControlName="idTipo">
                      <option value="0">Seleccione</option>
                      <option [value]="1" >Bienes Muebles</option>	
                      <option [value]="2" >Edificios</option>
                      <option [value]="3" >Intangibles</option>		
                    </select>
                  </div>
                     </div>
            <div class="row">
              <div class="col-md-3">
                <label>Sucursal:</label>
                <select [attr.disabled]="disabledFiltro? '' : null" class="form-control" (change)="FiltrarArea()" formControlName="idSucursal">
                  <option value="0">Seleccione</option>
                  <option [value]="sucursal.idSucursal" *ngFor="let sucursal of sucursales">
                    {{sucursal.nombre+" , "+sucursal.ubicacion}}</option>
                </select>
              </div>

              <div class="form-group col-md-3">
                <label>Área de negocio:</label>
                <select [attr.disabled]="disabledFiltro ? '' : null" class="form-control" formControlName="idArea" (change)="Filtrar()">
                  <option value="0" selected>Seleccione</option>
                  <option [value]="area.idAreaNegocio" *ngFor="let area of areas">{{area.nombre}}</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <button title="Recargar datos" style="margin-top: 20px;" class="btn btn-success" (click)="Reload()"><i
                    class="glyphicon glyphicon-refresh"></i></button>
              </div>
              <div class="col-md-3">
                <input type="search" style="margin-top: 15px; padding-left: 30px;" class="form-control" #nombre
                  (keyup)="buscar(nombre)" placeholder="Buscar">
              </div>
            </div>
          </form>
          <br>
          <div class="row" [ngStyle]="{'display':tablaMuebles}">
            <div class="col-lg-12">
              <section class="panel panel-default">
                <header class="panel-heading">
                  <h5>Activos disponibles para revalorizar</h5>
                </header>
                <div class="panel-body">
                  <div class="adv-table">
                    <table class="display table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>N°</th>
                          <th>Código</th>
                          <th>Descripción</th>
                          <th>Responsable</th>
                          <th>Ubicación</th>
                          <th class="hidden-phone">Opciones </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let bien of bienes | paginate: { itemsPerPage: 5, currentPage: p };let i=index">
                          <th scope="col">{{i+(5*p)-4}}</th>
                          <td>{{bien.codigo}}</td>
                          <td>{{bien.descripcion}}</td>
                          <td>{{bien.responsable}}</td>
                          <td>{{bien.areanegocio}} - {{bien.sucursal}}</td>
                          <td class="center hidden-phone" style="text-align: center;">
                            <button title="Ver detalles" class="btn btn-primary btn-xs"><i class=" icon-eye-open"
                                (click)="detalles(bien.idBien,1)"></i></button>
                            <button title="Revalorizar" class="btn btn-warning btn-xs"
                            (click)="open(bien.idBien,bien.vidautil)"><i class="icon-arrow-up"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior"
                      nextLabel="Siguiente"></pagination-controls>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <!--  -->
            <!-- Inicia tabla de bienes edificios  -->
            <div class="row" [ngStyle]="{'display':tablaEdificios}">
              <div class="col-lg-12">
                <section class="panel panel-default">
          
                  <header class="panel-heading">
                    <h5>Activos disponibles para revalorizar</h5>
                  </header>
                  <div class="panel-body">
                    <div class="adv-table">
                      <table class="display table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>N°</th>
                            <th>Código</th>
                            <th>Fecha ingreso</th>
                            <th>Descripción</th>
                            <th>Clasificación</th>                 
                            <th class="hidden-phone" >Opciones </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let bien of bienes | paginate: { itemsPerPage: 4, currentPage: p}; let i=index">
                            
                            <th scope="col">{{ 4 * (p - 1) + i+1 }}</th>
                            
                            <td>{{bien.codigo}}</td>
                            <td>{{bien.fechacadena}}</td>
                            <td>{{bien.descripcion}}</td>
                            <td>{{bien.clasificacion}}</td>         
                            <td class="center hidden-phone" style="text-align: center;">
                              <button title="Ver detalles" class="btn btn-primary btn-xs"><i class=" icon-eye-open"
                                  (click)="detalles(bien.idBien,2)"></i></button>
                              <button title="Revalorizar" class="btn btn-warning btn-xs"
                              (click)="open(bien.idBien,bien.vidautil)"><i class="icon-arrow-up"></i></button>
                            </td>
                            
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- inicia la tabla de intagibles -->
            <div class="row" [ngStyle]="{'display':tablaIntengibles}">
              <div class="col-lg-12">
                <section class="panel panel-default">
          
                  <header class="panel-heading">
                    <h5>Activos disponibles para revalorizar</h5>
                  </header>
                  <div class="panel-body">
                    <div class="adv-table">
                      <table class="display table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>N°</th>
                            <th>Código</th>
                            <th>Fecha ingreso</th>
                            <th>Descripción</th>
                            <th>Clasificación</th>
                      
                            <th class="hidden-phone" >Opciones </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let bien of bienes | paginate: { itemsPerPage: 4, currentPage: p}; let i=index">
                            
                            <th scope="col">{{ 4 * (p - 1) + i+1 }}</th>
                            
                            <td>{{bien.codigo}}</td>
                            <td>{{bien.fechacadena}}</td>
                            <td>{{bien.descripcion}}</td>
                            <td>{{bien.clasificacion}}</td>

                        
                            <td class="center hidden-phone" style="text-align: center;">
                              <button title="Ver detalles" class="btn btn-primary btn-xs"><i class=" icon-eye-open"
                                  (click)="detalles(bien.idBien,2)"></i></button>
                              <button title="Revalorizar" class="btn btn-warning btn-xs"
                              (click)="open(bien.idBien,bien.vidautil)"><i class="icon-arrow-up"></i></button>
                            </td>
                            
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </div>
                  </div>
                </section>
              </div>
            </div>
         <!--inicio de modal para revalorizar-->
         
<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" id="default" [formGroup]="revalorizacion" (ngSubmit)="guardarDatos()">

          <input type="hidden" class="form-control" formControlName="idBien">
         
            <div class="form-group col-md-6">
              <label for="formGroupExampleInput2">* Valor de Revalorización:</label>
              <input type="text" class="form-control" formControlName="valorRevalorizacion"  id="inputEmail4" placeholder="Ingrese valor de revalorización" autocomplete="off"  maxlength="7" >
            </div>
            <div class="form-group col-md-6">
              <label for="formGroupExampleInput2">* Fecha:</label>
              <input type="date" class="form-control" formControlName="fecha" autocomplete="off" min="{{fechaMinima}}" max="{{fechaMaxima}}">
            </div>

            <!--Aqui va la recuperación de vida util-->
            <div class="form-group col-md-6">
              <label> Vida útil:</label>
              <input #vida type="text" class="form-control" (keyup)="validarVidaUtil(vida)" maxlength="3"  formControlName="vidaUtil" autocomplete="off" >
            </div>
            <br><br> <br><br> <br>
          
       
         
        <div>
          <br><br> <br><br> 
        </div>
        <div class="alert alert-warning fade in" *ngIf="!revalorizacion.valid">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>¡Advertencia!</strong> Todos los campos con * son obligatorios.
        </div>
                    <div class="alert alert-success fade in" *ngIf="revalorizacion.valid">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                      </button>
                      <strong>¡Exelente!</strong> Datos ingresados correctamente.
                    </div>
                    <div class="alert alert-block alert-danger fade in" *ngIf="this.vidaUtilCorrecta==true">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                      </button>
                      <strong>¡Error!</strong> La vida útil ingresada no es correcta.
                    </div>
       <!-- Validacion de pattern no acepta caracteres especiales -->
       <div class="alert alert-block alert-danger fade in" *ngIf="revalorizacion.controls['valorRevalorizacion'].errors?.pattern">
        <button data-dismiss="alert" class="close close-sm" type="button">
          <i class="icon-remove"></i>
        </button>
        <strong>¡Error!</strong> El campo valor de revalorización solo se acepta números.
      </div>
       <!-- Validacion de pattern no acepta caracteres especiales -->
       <div class="alert alert-block alert-danger fade in" *ngIf="revalorizacion.controls['vidaUtil'].errors?.pattern">
        <button data-dismiss="alert" class="close close-sm" type="button">
          <i class="icon-remove"></i>
        </button>
        <strong>¡Error!</strong> El campo vida útil solo se acepta números enteros.
      </div>
   
          <div>
            <button type="submit" [disabled]="!revalorizacion.valid"class="btn btn-primary"><i class="icon-save"></i> Revalorizar</button>
            <button type="button" (click)="close()" class="btn btn-default"><i class="icon-pencil"></i> Cerrar</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>

         <!--fin de modal para revalorizar-->

          <div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
            class="modal" [ngStyle]="{'display':display2}">
            <div class="modal-dialog .modal-dialog ">
              <div class="modal-content">
                <div class="modal-header">
                  <button aria-hidden="true" data-dismiss="modal" class="close" type="button"
                    (click)="close2()">×</button>
                  <h4 class="modal-title">Detalles de activo</h4>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                  <div class="row" [ngStyle]="{'display':displayfoto}">
                    <div class="col-lg-12" style="text-align: center;">
                      <img src="{{foto}}" width="300" height="150" />
                    </div>
                  </div>
                  <div class="row" [ngStyle]="{'display':displayMensaje}">
                    <div class="col-lg-12" style="text-align: center;">
                      <p><strong>No hay foto disponible</strong></p>
                    </div>
                  </div>
                  <br><br><br>
                  <div class="row">
                    <div class="col-xs-6">
                      <p><strong>Fecha Adquisición:</strong> {{fecha}}</p>
                    </div>
                    <div class="col-xs-6">
                     
                      <p><strong>Código:</strong> {{codigo}}</p>
                      
                    </div>
                  
                  </div>
                  <div class="row">
                  <div class="col-xs-6">
                    <p><strong>Descripción:</strong> {{descripcion}}</p>
                    
                  </div>
                  <div class="col-xs-6">
                    <p><strong>Valor Adquisición:</strong> ${{valorAdquisicion}}</p>
                    
                  </div>
                     
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <p><strong>Valor Actual:</strong> ${{valorAcual}}</p>
                    
                  </div>
                  <div class="col-xs-6">
                    <p><strong>Proveedor:</strong> {{provDon}}</p>
                    
                  </div>
                     
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <p><strong>Responsable:</strong> {{responsable}}</p>
                    
                  </div>
                  <div class="col-xs-6">
                    <p><strong>Ubicación:</strong> {{ubicacion}}</p>
                    
                  </div>
                     
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <p><strong>Numero de Serie:</strong> {{noSerie}}</p>
                    
                  </div>
                  <div class="col-xs-6">
                    <p><strong>Vida util:</strong> {{vidaUtil}} años</p>
                    
                  </div>
                     
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p><strong>Observaciones:</strong> {{Observaciones}}</p>
                    
                  </div>
              
                     
                </div>
                <br><br>

                  <button type="button" (click)="close2()" class="btn btn-default"><i class="icon-remove-sign"></i>
                    Cerrar</button>

                </div>
              </div>
            </div>
          </div>
          <div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
          class="modal" [ngStyle]="{'display':display3}">
          <div class="modal-dialog .modal-dialog ">
            <div class="modal-content">
              <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"
                  (click)="close3()">×</button>
                <h4 class="modal-title">Detalles de activo</h4>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">

                <div class="row" [ngStyle]="{'display':displayfoto}">
                  <div class="col-lg-12" style="text-align: center;">
                    <img src="{{foto}}" width="300" height="150" />
                  </div>
                </div>
                <div class="row" [ngStyle]="{'display':displayMensaje}">
                  <div class="col-lg-12" style="text-align: center;">
                    <p><strong>No hay foto disponible</strong></p>
                  </div>
                </div>
                <br><br><br>
                <div class="row">
                  <div class="col-xs-6">
                    <p><strong>Fecha Adquisición:</strong> {{fecha}}</p>
                  </div>
                  <div class="col-xs-6">
                   
                    <p><strong>Código:</strong> {{codigo}}</p>
                    
                  </div>
                
                </div>
                <div class="row">
                <div class="col-xs-6">
                  <p><strong>Descripción:</strong> {{descripcion}}</p>
                  
                </div>
                <div class="col-xs-6">
                  <p><strong>Valor Adquisición:</strong> ${{valorAdquisicion}}</p>
                  
                </div>
                   
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <p><strong>Valor Actual:</strong> ${{valorAcual}}</p>
                  
                </div>
                <div class="col-xs-6">
                  <p><strong>Clasificación:</strong> {{clasificacion}}</p>
                  
                </div>
                   
              </div>
            
              <div class="row">
                <div class="col-xs-6">
                  <p><strong>Proveedor:</strong> {{provDon}}</p>
                  
                </div>
                <div class="col-xs-6">
                  <p><strong>Vida util:</strong> {{vidaUtil}} años</p>
                  
                </div>
                   
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p><strong>Observaciones:</strong> {{Observaciones}}</p>
                  
                </div>
            
                   
              </div>
              <br><br>

                <button type="button" (click)="close3()" class="btn btn-default"><i class="icon-remove-sign"></i>
                  Cerrar</button>

              </div>
            </div>
          </div>
        </div>