
<div class="grafica" style="display: block;">
  <div style="text-align:right;">
    <button title="Regresar" style="margin-top: -25px; margin-right: 20px;" (click)="volver()" class="btn btn-warning"
      ><i class="icon-mail-reply"></i></button>
  </div>
  <h2 style="text-align: center; margin-top: 0px; margin-bottom: 0px;">Gráfico de activos registrados por año</h2>
    <canvas baseChart 
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
  </div>
