<br/><br/><br/><br/>

<section class="panel">
  <div class="row">
    <div class="col-lg-6">
      <h1>Historial de traspasos</h1>
    </div>
    <br>
      <div class="col-lg-6">
        <button type="button" class="btn btn-warning margin-left" (click)="open5()" data-toggle="modal" data-target="#myModal2"><i
          class="glyphicon glyphicon-question-sign"></i></button>
      </div>    
 </div>

  <div class="row">
    <div class="col-lg-14">
      <section class="panel panel-default">
        <div class="form-row">
          <form class="form-inline" id="default" [formGroup]="combos">
            <div class="row">
              <div class="col-md-3">
                <label *ngIf="isAdmin">Sucursal</label>
                <select *ngIf="isAdmin" class="form-control" (change)="FiltrarArea()" formControlName="idSucursal">
                  <option value="0">Seleccione</option>
                  <option [value]="sucursal.idSucursal" *ngFor="let sucursal of sucursales">{{sucursal.nombre+" , "+sucursal.ubicacion}}</option>	
                </select>
              </div>

          <div class="form-group col-md-3">
            <label *ngIf="isAdmin">Area de negocio</label>
            <select *ngIf="isAdmin" id="inputState" class="form-control" formControlName="idArea" (change)="Filtrar()">
              <option value="0" selected>Seleccione</option>
              <option [value]="area.idAreaNegocio" *ngFor="let area of areas">{{area.nombre}}</option>	
            </select> 
          </div>
          <div class="form-group col-md-3">
            <button *ngIf="isAdmin" title="Recargar datos" style="margin-top: 20px;" class="btn btn-success" (click)="Reload()"><i class="glyphicon glyphicon-refresh"></i></button>                
        </div>
              <div class="col-md-3">
        
               <input type="search" style="margin-top: 15px; padding-left: 30px;" class="form-control" #nombre (keyup)="buscar(nombre)"  placeholder="Buscar">
             </div>
            </div>
            </form>
            <br>
            <div class="row">
              <div class="col-lg-12">
                <section class="panel panel-default">
          
                  <header class="panel-heading">
                    <h5>Registro de Activos</h5>
                  </header>
                  <div class="panel-body">
                    <div class="adv-table">
                      <table class="display table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>N°</th>
                            <th>Correlativo</th>
                            <th>Descripción</th>
                            <th>Responsable</th>
                            <th>Área de negocios</th>
                           
                                                 
                            <th class="hidden-phone">Ver historial </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let bien of bienes | paginate: { itemsPerPage: 5, currentPage: p };let i=index">
                            <th scope="col">{{i+(5*p)-4}}</th>
                            <!-- <td>{{marca.idMarca}}</td> -->
                            <td>{{bien.codigo}}</td>
                            <td>{{bien.descripcion}}</td>
                            <td>{{bien.responsable}}</td>
                            <td>{{bien.areanegocio}}</td>
                            
                           
                            <td class="center hidden-phone" style="text-align: center;">
                              <button title="Ver historial" class="btn btn-primary btn-xs" (click)="open(bien.idBien)" ><i class="icon-time"></i></button> 
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div>
                  </div>
                </section>
              </div>
            </div>


           

<!--INICIO DE MODAL PARA LA TABLA DE HISTORIAL DE MANTENIMIENTO-->

<div  aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-lg" style="width:1500px;">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">
       
       

             <!--INICIO DE LOS VALORES DEL BIEN-->
             <input type="hidden" class="form-control" value="{{idbien}}">
             <div class="row">
               <div class="col-lg-2"></div>
               <div class="form-group col-md-4">
                 <label><strong>Correlativo:</strong></label> {{ codigo }}<br/>
                 </div>
                 <div class="form-group col-md-4">
                   <label><strong>Descripción:</strong></label> {{ descripcion }}<br/>
                  </div>
              
              </div>
              <div class="row">
               <div class="col-lg-2"></div>
               <div class="form-group col-md-4">
                 <label><strong>Encargado actual:</strong></label> {{ encargado }}<br/>
                 </div>
                 <div class="form-group col-md-4">
                   <label><strong>Área de negocio actual:</strong></label> {{ areadenegocio }}<br/>
                  </div>
                  <div class="col-lg-4">
                   
                 </div>
              
              </div>
       


        <!--INICIO DE TABLA-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel panel-default">
              <header class="panel-heading">
                <h5>Historial de traspasos</h5>
              </header>
              <div class="panel-body">
                <div class="adv-table">
                  <table class="display table table-bordered table-striped">
                   <!----> <thead>
                   <tr>
                        <th scope="row">N°</th>        
                        <th scope="row">Folio</th>           
                        <th scope="row">Fecha de solicitud</th>
                        <th scope="row">Fecha de traspaso</th>
                        <th scope="row">Responsable anterior</th>
                        <th scope="row">Área de negocios anterior</th>
                        <th scope="row">Nuevo responsable</th>
                        <th scope="row">Nueva área de negocios</th>
                        <th scope="row">Acuerdo</th>
                        
                       <!-- <th scope="row" class="hidden-phone">Enviar</th>-->
                      </tr>
                    </thead>
                    <tbody>

                <tr *ngFor="let solicitud of solicitudes let i = index">
                  <th scope="col">{{i+1 }}</th>
                
               <td>{{solicitud.folio}}</td>
               <td>{{solicitud.fechacadena}}</td>
               <td>{{solicitud.fechacadenatraspaso}}</td>              
               <td>{{solicitud.responsableanterior}}</td>
               <td>{{solicitud.areaanterior}}</td>
               <td>{{solicitud.nuevoresponsable}}</td>
               <td>{{solicitud.nuevaarea}}</td>
               <td class="center hidden-phone">
                <button title="Ver solicitud" class="btn btn-primary btn-xs" (click)="mostrarAcuerdo(solicitud.idsolicitud)"><i class="glyphicon glyphicon-eye-open"></i></button>
              </td>
              </tr>
                    </tbody>
                  </table>
                 <!--  <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>-->
                </div>
              </div>
            </section>
          </div>
        </div>
          <div>
          <!--<button type="submit" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>-->
          <button title="Cerrar"   (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>
           <button title="Imprimir reporte de historial de traspasos" class="btn btn-success" (click)="reportesTraspasoPdf(idbien)"><i class="icon-print"></i> Imprimir</button>
          </div>

         
       
      </div>
    </div>
   </div>
 </div>

<!--FIN DEL MODAL PARA LA TABLA DE HISTORIAL DE MANTENIMIENOT-->


<!--modal para mostrar acuerdo-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display4}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close2()">×</button>
        <h4 class="modal-title">Acuerdo</h4>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="solicitudes">
          <input type="text" class="form-control" formControlName="idbien" id="exampleInputEmail3" autocomplete="off">
          <input type="text" class="form-control" formControlName="idsolicitud" id="exampleInputEmail3" autocomplete="off">
         
          <div class="form-group" >
            <div align="center"> 
            <input type="text" class="form-control" value="{{idsolicitud}}">
            <img src="{{acuerdo}}" width="350" height="200" />
           <!-- <input type="file" (change)="changeFoto()" id="futFoto" class="form-control" accept="image/*" /> -->
          </div>
        </div>

        <button type="button" (click)="close2()" class="btn btn-default"><i class="icon-remove-sign"></i>
          Salir</button>

      </form>

      </div>
    </div>
  </div>
</div>


<!--modal para ayuda con pdf-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal"
  [ngStyle]="{'display':display5}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close5()">×</button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
<iframe src="assets/img/Imagenes/Historial traspaso.pdf" style="width:700px; height:415px;" frameborder="0"></iframe>
</div>
      </div>
    
    </div>
  </div>
</div>         
