
   <section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="border-head">
                    <h2><strong>Reportes de mantenimiento</strong></h2>
                </div> 
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading">
                        Módulo de mantenimiento
                        <span class="tools pull-right">
                          <a href="javascript:;" class="icon-chevron-down"></a>
                          <a href="javascript:;" class="icon-remove"></a>
                      </span>
                    </header>
                    <div class="panel-body">
                        <div class="dd" id="nestable_list_1">
                            <ol class="dd-list">
                                <li class="dd-item" data-id="1">
                                    <div class="dd-handle" (click)="solicitudesmantenimientoPdf()" > reporte de solicitudes en mantenimiento</div>                       
                                </li>
                                <li class="dd-item" data-id="2">
                                    <div class="dd-handle" (click)="informesmantenimientoPdf()">Reporte de informes de mantenimiento.</div>    
								</li>
								<li class="dd-item" data-id="2">
                                    <div class="dd-handle">Reporte historial de mantenimiento.</div>    
                                </li>
                              
                            </ol>
                        </div>
                    </div>
                </section>

            </div>
          
        </div>
  
        <!-- page end-->
    </section>
</section>
