 <!--sidebar start-->
<aside>
  <div id="sidebar" class="nav-collapse ">
  
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <!--Dis de nav menu-->
      <li [routerLinkActive]='["link-active"]'>
        <a class="active" href="javascript:;" [routerLink]='["/"]' (click)='collapse()'>
          <i class="icon-bar-chart"></i>
          <span>ASGARD</span>
        </a>
      </li>

      <li class="sub-menu" [routerLinkActive]='["link-active"]'>
        <a href="javascript:;" (click)='collapse()'>
          <i class="icon-cogs"></i>
          <span>Configuración</span>
        </a>
        <ul class="sub">
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-conficooperativa"]' (click)='collapse()'>Configuración de Cooperativa</a></li>
        
        </ul>
      </li>


      <li class="sub-menu" [routerLinkActive]='["link-active"]'>
        <a href="javascript:;" (click)='collapse()'>
          <i class="glyphicon glyphicon-list-alt"></i>
          <span>   Catálogos</span>
        </a>
        <ul class="sub">
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-sucursal"]' (click)='collapse()'>Sucursales</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-area-negocio"]' (click)='collapse()'>Áreas de Negocio</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-categoria"]' (click)='collapse()'>Categorías</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-clasificacion"]' (click)='collapse()'>Clasificaciones</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-cargo"]' (click)='collapse()'>Cargos</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-empleado"]' (click)='collapse()'>Empleados</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]="['/form-proveedor']" (click)='collapse()'>Proveedores</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-donantes"]' (click)='collapse()'>Donantes</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-marca"]' (click)='collapse()'>Marcas</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-tecnico"]' (click)='collapse()'>Técnicos</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-tipo-descargo"]' (click)='collapse()'>Tipos de descargo</a></li>
 
        </ul>
      </li>

      <li class="sub-menu" [routerLinkActive]='["link-active"]'>
        <a href="javascript:;" (click)='collapse()'>
          <i class="icon-building"></i>
          <span>Control de Activo FIjo</span>
        </a>
        <ul class="sub">
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/select-tipo-activo"]' (click)='collapse()'>Ingreso de nuevo activo</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/registro-activos/ver"]' (click)='collapse()'>Registros de activos</a></li>
          <!-- <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/tabla-activos"]' (click)='collapse()'>Registros de activos2</a></li> -->
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-asignacion"]' (click)='collapse()'>Asignanción de activos</a></li>
          <!-- <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-desasignacion"]' (click)='collapse()'>Desasignación de activos</a></li> -->
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" (click)='ValidarActivos()'>Depreciación</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/tabla-revalorizar"]' (click)='collapse()'>Revalorizar</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/tabla-tarjeta"]' (click)='collapse()'>Tarjeta de depreciación</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/cuadro-control"]' (click)='collapse()'>Cuadro de control de activos</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/cierre-anio"]' (click)='collapse()'>Cierre</a></li>
        </ul>
      </li>
      <li class="sub-menu" [routerLinkActive]='["link-active"]'>
        <a href="javascript:;" (click)='collapse()'>
          <i class="icon-wrench"></i>
          <span>Mantenimientos</span>
        </a>
        <ul class="sub"> 
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-solicitud-mantenimiento"]' (click)='limiarSolicitud()'>Nueva solicitud</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/tabla-informe"]' (click)='collapse()'>Activos en mantenimiento</a></li> 
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-informe-mantenimiento"]' (click)='collapse()'>Informes de mantenimiento</a></li>             
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/historial-mantenimiento"]' (click)='collapse()'>Historial de mantenimientos</a></li>  
        </ul>
      </li>
      <li class="sub-menu" [routerLinkActive]='["link-active"]'>
        <a href="javascript:;" (click)='collapse()'>
          <i class="icon-exchange"></i>
          <span>Traspasos</span>
        </a>
        <ul class="sub">
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-solicitud-traspaso"]' (click)='collapse()'>Nueva solicitud</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/historial-solicitud-traspaso"]' (click)='collapse()'>Historial de traspasos</a></li>
         
        </ul>
      </li>
      <li class="sub-menu" [routerLinkActive]='["link-active"]'>
        <a href="javascript:;" (click)='collapse()'>
          <i class="icon-arrow-down"></i>
          <span>Descargo de activos</span>
        </a>
        <ul class="sub">
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/cuadro-solicitud/ver"]' (click)='collapse()'>Nueva solicitud</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/gestion-descargo"]' (click)='collapse()'>Historial de descargos</a></li>
        </ul>
      </li>
      <li class="sub-menu" [routerLinkActive]='["link-active"]'>
        <a href="javascript:;" (click)='collapse()'>
          <i class="icon-folder-open"></i>
          <span>Solicitudes</span>
        </a>
        <ul class="sub">
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/tabla-solicitud"]' (click)='collapse()'>Solicitudes de mantenimiento</a></li> 
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/tabla-solicitud-traspaso"]' (click)='collapse()'>Solicitudes de traspaso</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/solicitud"]' (click)='collapse()'>Solicitudes de descargo</a></li>
        </ul>
      </li>
      


      <li class="sub-menu" [routerLinkActive]='["link-active"]'>
        <a href="javascript:;" [routerLink]='["/fetch-data"]' (click)='collapse()'>
          <i class="icon-file-text"></i>
          <span>Consultas y Reportes</span>
        </a>
        <ul class="sub">
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/menu-reportes"]' (click)='collapse()'>Reportes</a></li>
          <li><a href="calendar.html">Consultas gereficas</a></li>
        </ul>
      </li>
      <li class="sub-menu" [routerLinkActive]='["link-active"]'>
        <a href="javascript:;" [routerLink]='["/fetch-data"]' (click)='collapse()'>
          <i class="icon-unlock-alt"></i>
          <span>Seguridad</span>
        </a>
        <ul class="sub">
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-usuario"]' (click)='collapse()'>Usuarios</a></li>
          <li [routerLinkActive]='["link-active"]'><a href="javascript:;" [routerLink]='["/form-tipo-usuario"]' (click)='collapse()'>Tipos de Usuarios</a></li>
          <li><a href="gallery.html">Bitacora</a></li>
          <li><a href="gallery.html">Backup</a></li>

        </ul>
      </li>

    </ul>
  </div>
  <!-- sidebar menu end-->
</aside>
<!--Modal para realizar el cierre-->

