<br><br><br><br>
<section class="panel">
  <h1>Solicitudes de Mantenimiento</h1>

  <div class="row">
 
    
    <div class="col-md-3">
      <input style="margin-top: 15px; padding-left: 30px;" type="search" class="form-control" #nombre (keyup)="buscar(nombre)" placeholder="Buscar">  
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel panel-default">

     
        <div class="panel-body">
          <div class="adv-table">
            <div class="adv-table">
              <table class="display table table-bordered table-striped">
                <thead>
                  <tr>
				   
          <th scope="row">N°</th>  
          <th scope="row">Folio</th>      
          <th scope="row">Fecha de solicitud</th>      
          <th scope="row">encargado</th>
          <th scope="row">aarea</th>
          <th class="hidden-phone">Ver solicitud</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let soliticud of solicitudes | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                   
                    <td>{{soliticud.folio}}</td>
                    <td>{{soliticud.fechacadena}}</td>
                   
                    <td class="center hidden-phone">
                      <button class="btn btn-primary btn-xs"><i class="icon-pencil"></i></button>
                     </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event" class="my-cuadro"></pagination-controls>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>


