<br><br><br><br>
<section class="panel">
  <h1>Solicitudes de mantenimiento</h1>

  <div class="row">
    <div class="col-lg-9">
    </div>
    
    <div class="col-md-3">
      <input type="search" style="margin-top: 15px; padding-left: 30px;" class="form-control" #nombre (keyup)="buscar(nombre)"  placeholder="Buscar">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
     

     
        <div class="panel-body">
          <div class="adv-table">
            <div class="adv-table">
              <table class="display table table-bordered table-striped">
                <thead>
                  <tr>
				   
          <th scope="row">N°</th>  
          <th scope="row">Folio</th>      
          <th scope="row">Fecha de solicitud</th>      
          <th scope="row">Descripción</th>
          <th class="hidden-phone">Ver solicitud</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let solicitud of solicitudes | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                    <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                    <td>{{solicitud.folio}}</td>
                    <td>{{solicitud.fechacadena}}</td>
                    <td>{{solicitud.descripcion}}</td>
                   
                    <td class="center hidden-phone">
                    <button class="btn btn-primary btn-xs" (click)="open(solicitud.idsolicitud)" ><i class="icon-edit"></i>Ver</button>                    
                    <!-- <button type="submit" (click)="aprobarSolicitud1(solicitud.idsolicitud)"  class="btn btn-primary"><i class="icon-save"></i> Aprobar</button>
                    <button type="submit" (click)="denegarSolicitud(solicitud.idsolicitud)"  class="btn btn-primary"><i class="icon-remove-sign"></i> Denegar</button>
                   -->
                     </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event" class="my-cuadro"></pagination-controls>
            </div>
          </div>
        </div>
 
    </div>
  </div>
</section>
    
<div  aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-lg" style="width:1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">
       
          <input type="hidden" class="form-control" value="{{idSoli}}">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="form-group col-md-4">
              <label><strong>Solicitud #:</strong></label> {{ noSolicitud }}<br/>
              </div>
              <div class="form-group col-md-4">
                <label><strong>Fecha:</strong></label> {{ fecha }}<br/>
               </div>
           
           </div>
           <div class="row">
            <div class="col-lg-2"></div>
            <div class="form-group col-md-4">
              <label><strong>Unidad de Negocio:</strong></label> {{ area }}<br/>
              </div>
              <div class="form-group col-md-4">
                <label><strong>Jefe:</strong></label> {{ jefe }}<br/>
               </div>
               <div class="col-lg-4">
                
              </div>
           
           </div>
    
        <!--INICIO DE TABLA-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel panel-default">
              
              <div class="panel-body">
                <div class="adv-table">
                  <table class="display table table-bordered table-striped">
                   <!----> <thead>
                   <tr>
                        <th scope="row">N°</th>
                   
                        <th scope="row">Código del bien</th>
                        <th scope="row">Descripción del bien</th>
                        <th scope="row">Razones de mantenimiento</th>
                        <th scope="row">Periodo de mantenimiento</th>
                      </tr>
                    </thead>
                    <tbody>

                <tr *ngFor="let bien of bienes | paginate: { itemsPerPage: 50, currentPage: p }; let i = index">
               <th scope="col">{{ 50 * (p - 1) + i+1 }}</th>
                
               <!-- <td>{{bien.estadoActual}}</td> -->
               <td>{{bien.codigo}}</td>
                <td>{{bien.descripcion}}</td>
                <td>{{bien.razon}}</td>
                <td>{{bien.periodo}}</td>
              
              </tr>
                    </tbody>
                  </table>
            
                </div>
              </div>
            </section>
          </div>
        </div>
        <br>
          <div>
          
          <button type="button"  (click)="aprobarSolicitud()"  class="btn btn-primary"><i class="icon-save"></i> Aprobar </button>
          <button type="button"  (click)="denegarSolicitud()"  class="btn btn-danger"><i class="icon-remove-sign"></i> Denegar </button>
          <button type="button"  (click)="close()"  class="btn btn-default"><i class="icon-pencil"></i> Cerrar </button>
            
        </div>
       
      </div>
    </div>
   </div>
 </div>