<br><br><br><br>
<section class="panel">
  <h1>Solicitudes de Mantenimiento</h1>

  <div class="row">
 
    
    <div class="col-md-3">
      <input style="margin-top: 15px; padding-left: 30px;" type="search" class="form-control" #nombre (keyup)="buscar(nombre)" placeholder="Buscar">  
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel panel-default">

     
        <div class="panel-body">
          <div class="adv-table">
            <div class="adv-table">
              <table class="display table table-bordered table-striped">
                <thead>
                  <tr>
				   
          <th scope="row">N°</th>  
          <th scope="row">Folio</th>      
          <th scope="row">Fecha de solicitud</th>      
          <th scope="row">Descripción</th>
          <th class="hidden-phone">Ver solicitud</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let soliticud of solicitudes | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                    <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                    <td>{{soliticud.folio}}</td>
                    <td>{{soliticud.fechacadena}}</td>
                    <td>{{soliticud.descripcion}}</td>
                   
                    <header class="panel-heading form-in-line">
                      <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal"
                        data-target="#myModal"><i class="icon-pencil"></i></button>
                    </header>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event" class="my-cuadro"></pagination-controls>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
    
<div  aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-lg" style="width:1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" id="default" [formGroup]="bienes" (ngSubmit)="mostrarbienes()">   
          <input type="hidden" class="form-control"  id="exampleInputEmail3" autocomplete="off">  
         <input type="hidden" class="form-control"   id="exampleInputEmail3" autocomplete="off">  
           

           <div class="form-group">
             <label for="exampleInputEmail1">Fecha:</label>
             <p size="80" type="text" class="form-control" id="exampleInputEmail3" placeholder="Razones del mantenimiento" autocomplete="off">
           </div>
           
           <div class="form-group">
             <label for="exampleInputEmail1">Folio:</label>
             <p size="80" type="text" class="form-control" id="exampleInputEmail3" placeholder="periodo del mantenimiento" autocomplete="off">
           </div>
           <div class="form-group">
            <label for="exampleInputEmail1">Descripción:</label>
            <p size="80" type="text" class="form-control" id="exampleInputEmail3" placeholder="periodo del mantenimiento" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Jefe solicitante:</label>
            <p size="80" type="text" class="form-control" id="exampleInputEmail3" placeholder="periodo del mantenimiento" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Unidad del solicitante:</label>
            <p size="80" type="text" class="form-control" id="exampleInputEmail3" placeholder="periodo del mantenimiento" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Sucursal:</label>
            <p size="80" type="text" class="form-control" id="exampleInputEmail3" placeholder="periodo del mantenimiento" autocomplete="off">
          </div>
          
           <br>
           <br>
           <tr *ngFor="let solicitud of solicitudes"></tr>

         </form>
        <!--INICIO DE TABLA-->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel panel-default">
              
              <div class="panel-body">
                <div class="adv-table">
                  <table class="display table table-bordered table-striped">
                   <!----> <thead>
                   <tr>
                        <th scope="row">N°</th>
                   
                        <th scope="row">Código del bien</th>
                        <th scope="row">Descripción del bien</th>
                        <th scope="row">Razones de mantenimiento</th>
                        <th scope="row">Periodo de mantenimiento</th>

                        <th scope="row" class="hidden-phone">ENVIAR</th>
                      </tr>
                    </thead>
                    <tbody>

                <tr *ngFor="let bien of bienes | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
               <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                
                <td>{{bien.codigobien}}</td>
                <td>{{bien.descripcionbien}}</td>
                <td class="center hidden-phone">

                 
                  <header class="panel-heading form-in-line">
                    <button type="button" class="btn btn-success" (click)="open(bien.idbien,bien.codigobien,bien.descripcionbien)" data-toggle="modal"
                      data-target="#myModal"><i class="icon-pencil"></i></button>
                  </header>
                </td>
              </tr>
                    </tbody>
                  </table>
                   <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                </div>
              </div>
            </section>
          </div>
        </div>
          <div>
          <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>
          <button type="button"  (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>
          </div>
       
      </div>
    </div>
   </div>
 </div>