<br><br><br><br>
<section class="panel">
    <div class="row">
        <div class="col-lg-6">
          <h2>Configuración</h2>
        </div>  
        <br>
        <div class="col-lg-6">
          <button type="button" class="btn btn-warning margin-left" (click)="open3()" data-toggle="modal" data-target="#myModal2"><i
            class="glyphicon glyphicon-question-sign"></i></button>
        </div> 
     </div> 

    <!-- <div class="row">
        <div class="col-lg-6"> -->
    
          <!-- <header class="panel-heading form-in-line">
            <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal" data-target="#myModal"><i class="icon-plus-sign-alt"></i> Agregar Nueva Cooperativa</button>
          </header> -->
        <!-- </div>
        <div class="col-lg-3">
    
        </div> -->
        
        <!-- <div class="col-md-3">
          <input type="search" style="margin-top: 15px; padding-left: 30px;" class="form-control" #nombre placeholder="Buscar">
        </div> -->

    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-default">

                <header class="panel-heading">
                    <h5>Información de la cooperativa</h5>
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped">
                            <thead>
                                <tr>
                          
                                    <th>Nombre de la cooperativa</th>
                                    <th>Año activo</th>
                                    <th>Descripción</th>
                                    <th>Logo</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let cooperativa of cooperativas | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                      
                                    <td>{{cooperativa.nombre}}</td>
                                    <td>{{cooperativa.anio}}</td>
                                    <td>{{cooperativa.descripcion}}</td>

                                    <td class="center hidden-phone">
                                     <button class="btn btn-warning btn-xs" (click)="mostrarLogo(cooperativa.idcooperativa)"><i class="icon-eye-open"></i></button>
                                     <button title="Modificar" class="btn btn-primary btn-xs" (click)="modif(cooperativa.idcooperativa)"><i
                                      class="icon-pencil"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!--modal para ingresar-->
<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
                <h4 class="modal-title">Formulario Cooperativa</h4>
            </div>
            <div class="modal-body">

                <form role="form" [formGroup]="cooperativa" (ngSubmit)="modificarDatos()">
                    <input type="hidden" class="form-control" formControlName="idcooperativa" id="exampleInputEmail3" autocomplete="off">
                    <input type="hidden" class="form-control" formControlName="bandera" id="exampleInputEmail3" autocomplete="off">

                    <div class="form-group">
                      <label><strong class="required">*</strong> Nombre de la cooperativa:</label>
                        <input type="text" class="form-control" formControlName="nombre" id="exampleInputEmail3" placeholder="Ingrese nombre" autocomplete="off"  maxlength="36">
                    </div>
                    <div class="form-group" >
                      <div align="center"> 
                        <p>Logo actual</p>
                      <img src="{{logo}}" width="150" height="75" />
                     <!-- <input type="file" (change)="changeFoto()" id="futFoto" class="form-control" accept="image/*" /> -->
  
                    </div>
                  </div>
                    <div class="form-group">
                      <label for="inputPassword4"> Modificar Logo</label>
                      <input type="file" (change)="changeFoto()" id="futFoto" class="form-control" accept="image/*" />
                  </div>

                  <div class="form-group">
                    <label><strong class="required">*</strong> Año activo:</label>
                    <input type="text" [attr.disabled]="aniomodif ? '' : null" class="form-control" formControlName="anio" id="exampleInputEmail3" 
                    placeholder="Ingrese año" mask="0000" autocomplete="off">
                </div>

                    <div class="form-group">
                      <label><strong class="required">*</strong> Descripción:</label>
                        <textarea type="text" class="form-control" formControlName="descripcion" placeholder="Ingrese descripción" autocomplete="off" maxlength="151" rows="2"></textarea>
                    </div>

                    <!-- Alertas para campo nombre-->
                    <div class="alert alert-block alert-danger fade in" *ngIf="cooperativa.controls['nombre'].errors?.yaExisteCooperativa">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                      </button>
                      <strong>¡Advertencia!</strong> El nombre de la cooperativa ya está en uso.
                    </div>

                    <div class="alert alert-block alert-danger fade in" *ngIf="cooperativa.controls['nombre'].errors?.maxlength">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                      </button>
                      <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo.
                    </div>

                    <div class="alert alert-block alert-danger fade in" *ngIf="cooperativa.controls['nombre'].errors?.pattern">
                      <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                      </button>
                      <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
                    </div>
                  <!-- Fin de Alertas para campo nombre-->

                     <!--Alertas para campo descripción-->
                      <div class="alert alert-block alert-danger fade in" *ngIf="cooperativa.controls['descripcion'].errors?.maxlength">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                        </button>
                        <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
                      </div>

                      <div class="alert alert-block alert-danger fade in" *ngIf="cooperativa.controls['descripcion'].errors?.pattern">
                        <button data-dismiss="alert" class="close close-sm" type="button">
                          <i class="icon-remove"></i>
                        </button>
                        <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
                      </div>
                     <!--Fin de Alertas para campo descripción-->
       
          <div class="alert alert-warning fade in" *ngIf="!cooperativa.valid">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> Los campos con * son obligatorios
          </div>

           <!-- <div class="alert alert-success fade in" *ngIf="cooperativa.valid&&cooperativa.controls['bandera'].value==0">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡EXCELENTE!</strong> Datos ingresados correctamente
          </div> -->

   
          <button type="submit" [disabled]="!cooperativa.valid" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>
          <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>

                </form>
            </div>
        </div>
    </div>
</div>

<!--modal para mostrar-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display2}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close2()">×</button>
        <h4 class="modal-title">Logo</h4>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="cooperativa">
          <input type="hidden" class="form-control" formControlName="idcooperativa" id="exampleInputEmail3" autocomplete="off">
        
          <div class="form-group">
              <label for="exampleInputEmail1">Nombre de la cooperativa:</label>
           <input type="text" class="form-control" formControlName="nombre" id="exampleInputEmail3" readonly> 
          </div>

          <div class="form-group" >
            <div align="center"> 
            <img src="{{logo}}" width="350" height="200" />
           <!-- <input type="file" (change)="changeFoto()" id="futFoto" class="form-control" accept="image/*" /> -->
          </div>
        </div>

        <button type="button" (click)="close2()" class="btn btn-default"><i class="icon-remove-sign"></i>
          Salir</button>

      </form>

      </div>
    </div>
  </div>
</div>

<!--modal para ayuda con pdf-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal"
  [ngStyle]="{'display':display3}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close3()">×</button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
<iframe src="assets/img/Imagenes/Configuración de cooperativa.pdf" style="width:700px; height:415px;" frameborder="0"></iframe>
</div>
      </div>
    
    </div>
  </div>
</div>
