<!-- 
<br><br><br><br><br><br>
<body>
  <div class="container">
    <section id="content">
      <form action="">
        <h1>Login Form</h1>
        <div>
          <input type="text" placeholder="Username" required="" id="username" />
        </div>
        <div>
          <input type="password" placeholder="Password" required="" id="password" />
        </div>
        <div>
          <input type="submit" value="Log in" />
          <a href="#">Lost your password?</a>
          <a href="#">Register</a>
        </div>
      </form> 
      <div class="button">
        <a href="#">Download source file</a>
      </div>   button 
    </section> 
  </div> container 
  </body>
  primer login de varias paginitas -->





<!-- COMIENZA EL OTRO-->
  <!--  
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <form class="login">
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <button>Login</button>
  </form>
  
  <a href="https://codepen.io/davinci/" target="_blank">check my other pens</a>

  -->






  <br>
  <div id="logo" > 
    <h1><i> BIENVENIDO</i></h1>
  </div > 
  <section class="stark-login form" >
    
    <form action="" method="" >	
      <div id="fade-box form" >
        <input type="text" name="username" id="username" placeholder="Usuario" required>
          <input type="password" placeholder="Contraseña" required>
            
            <button>Iniciar Sesión</button> 
          </div>
        </form>
              </section> 
              
              <div id="circle1">
                <div id="inner-cirlce1">
                  <h2> </h2>
                </div>
              </div>
              