<br><br><br><br>
<section class="pane__general">

  <div class="row">
    <div class="col-lg-16">
      <section class="panel panel-default">
              
          <div class="row">
            <div class="col-lg-6">
              <h1>Registro activos</h1>
            </div>
             <br>
              <div class="col-lg-6">
                <button type="button" class="btn btn-warning margin-left" (click)="open5()" data-toggle="modal" data-target="#myModal2"><i
                  class="glyphicon glyphicon-question-sign"></i></button>
              </div>    
         </div>
          <form class="form-inline" id="default" [formGroup]="combo">
            <div class="row">
              <div class="form-group col-md-3">
                <br>
                <label *ngIf="isAdmin" for="inputPassword4">Tipo activo</label>
                <select *ngIf="isAdmin" [attr.disabled]="disabledFiltroBotonAsignacion ? '' : null" class="form-control"
                  (change)="CambiarTipo()" formControlName="idTipo">
                  <option value="0">Seleccione</option>
                  <option [value]="1">Bienes Muebles</option>
                  <option *ngIf="isAdmin" [value]="2">Edificios</option>
                  <option [value]="3">Intangibles</option>
                </select>
              </div>
              <div class="form-group col-md-6">
              </div>
              <div class="form-group col-md-3">
                <button *ngIf="isAdmin" [attr.disabled]="disabledFiltro ? '' : null" title="Recargar datos"
                  style="margin-top: 27px; width: 200px; margin-right: 70px;" class="btn btn-success"
                  (click)="FiltrarAsignadosYNoAsignados()"><i class="glyphicon glyphicon-refresh"></i>
                  {{BtnAsinacion}}</button>
                <br><br>
                <input *ngIf="!isAdmin" type="search" style="margin-top: 5px; padding-left: 10px;" class="form-control"
                  #nombre (keyup)="buscar(nombre)" placeholder="Buscar">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3" *ngIf="isAdmin">
                <br>
                <label for="inputPassword4">Sucursal</label>
                <select [attr.disabled]="disabledFiltro||disabledFiltroBotonAsignacion ? '' : null" class="form-control"
                  (change)="FiltrarArea()" formControlName="idSucursal">
                  <option value="0">Seleccione</option>
                  <option [value]="sucursal.idSucursal" *ngFor="let sucursal of sucursal">
                    {{sucursal.nombre+" , "+sucursal.ubicacion}}</option>
                </select>
              </div>

              <div class="form-group col-md-3" *ngIf="isAdmin">
                <br>
                <label for="inputPassword4">Área de negocio</label>
                <select [attr.disabled]="disabledFiltro||disabledFiltroBotonAsignacion ? '' : null" id="inputState"
                  class="form-control" formControlName="idArea" (change)="Filtrar()">
                  <option value="0" selected>Seleccione</option>
                  <option [value]="area.idAreaNegocio" *ngFor="let area of areas">{{area.nombre}}</option>
                </select>
              </div>
              <div class="form-group col-md-1" *ngIf="isAdmin">
                <br>
                <button title="Recargar datos" style="margin-top: 24px;" class="btn btn-success" (click)="Reload()"><i
                    class="glyphicon glyphicon-refresh"></i></button>
              </div>
              <div class="form-group col-md-2">
              </div>
              <div class="form-group col-md-3" *ngIf="isAdmin">
                <br><br>
                <input type="search" style="margin-top: 5px; padding-left: 10px;" class="form-control" #nombre
                  (keyup)="buscar(nombre)" placeholder="Buscar">
              </div>
            </div>

            <br>
            <!-- Inicia la table de bienes muebles dependiendo de la opción -->
            <div class="row" [ngStyle]="{'display':tablaMuebles}">
              <div class="col-lg-12">
                <section class="panel panel-default">

                  <header class="panel-heading">
                    <h5>Registros de bienes muebles</h5>
                  </header>
                  <div class="panel-body">
                    <div class="adv-table">
                      <table class="display table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>N°</th>
                            <th>Código</th>
                            <th>Fecha ingreso</th>
                            <th>Descripción</th>
                            <!-- <th>Clasificación</th>  -->
                            <th>Área de negocio</th>
                            <th>Responsable</th>
                            <th class="hidden-phone">Opciones </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let combo of activos | paginate: { itemsPerPage: 5, currentPage: p}; let i=index">

                            <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>

                            <td>{{combo.codigo}}</td>
                            <td>{{combo.fechacadena}}</td>
                            <td>{{combo.descripcion}}</td>
                            <!-- <td>{{combo.clasificacion}}</td> -->
                            <td>{{combo.areaDeNegocio}}</td>
                            <td>{{combo.responsable}}</td>
                            <td class="center hidden-phone">
                              <!--  <button  class="btn btn-primary btn-xs" (click)="MandarDatos(combo.idBien)" ><i class="icon-pencil" ></i></button>-->
                              <button title="Ver detalles" class="btn btn-success btn-xs" (click)="ver(combo.idBien)"><i
                                  class="glyphicon glyphicon-eye-open"></i></button>
                              <button *ngIf="isAdmin" [routerLink]="['/form-modificar-asignados',combo.idBien]"
                                class="btn btn-primary btn-xs"><i class="icon-pencil" title="Editar"></i></button>
                            </td>

                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior"
                        nextLabel="Siguiente"></pagination-controls>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- Inicia tabla de bienes edificios  -->
            <div class="row" [ngStyle]="{'display':tablaEdificios}">
              <div class="col-lg-12">
                <section class="panel panel-default">

                  <header class="panel-heading">
                    <h5>Registros de Edidicios</h5>
                  </header>
                  <div class="panel-body">
                    <div class="adv-table">
                      <table class="display table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>N°</th>
                            <th>Código</th>
                            <th>Fecha ingreso</th>
                            <th>Descripción</th>
                            <th>Clasificación</th>
                            <th class="hidden-phone">Opciones </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let combo of activos | paginate: { itemsPerPage: 4, currentPage: p}; let i=index">

                            <th scope="col">{{ 4 * (p - 1) + i+1 }}</th>

                            <td>{{combo.codigo}}</td>
                            <td>{{combo.fechacadena}}</td>
                            <td>{{combo.descripcion}}</td>
                            <td>{{combo.clasificacion}}</td>
                            <td class="center hidden-phone">
                              <!--  <button  class="btn btn-primary btn-xs" (click)="MandarDatos(combo.idBien)" ><i class="icon-pencil" ></i></button>-->
                              <button title="Ver detalles" class="btn btn-success btn-xs"
                                (click)="verEdificios(combo.idBien)"><i
                                  class="glyphicon glyphicon-eye-open"></i></button>
                              <button [routerLink]="['/form-edificios-instalaciones',combo.idBien]"
                                class="btn btn-primary btn-xs"><i class="icon-pencil" title="Editar"></i></button>
                            </td>

                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior"
                        nextLabel="Siguiente"></pagination-controls>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- inicia la tabla de intagibles -->
            <div class="row" [ngStyle]="{'display':tablaIntengibles}">
              <div class="col-lg-12">
                <section class="panel panel-default">

                  <header class="panel-heading">
                    <h5>Registros bienes intangibles</h5>
                  </header>
                  <div class="panel-body">
                    <div class="adv-table">
                      <table class="display table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>N°</th>
                            <th>Código</th>
                            <th>Fecha ingreso</th>
                            <th>Descripción</th>
                            <th>Clasificación</th>

                            <th class="hidden-phone">Opciones </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let combo of activos | paginate: { itemsPerPage: 4, currentPage: p}; let i=index">

                            <th scope="col">{{ 4 * (p - 1) + i+1 }}</th>

                            <td>{{combo.codigo}}</td>
                            <td>{{combo.fechacadena}}</td>
                            <td>{{combo.descripcion}}</td>
                            <td>{{combo.clasificacion}}</td>

                            <td class="center hidden-phone">
                              <!--  <button  class="btn btn-primary btn-xs" (click)="MandarDatos(combo.idBien)" ><i class="icon-pencil" ></i></button>-->
                              <button title="Ver detalles" class="btn btn-success btn-xs"
                                (click)="verIntangibles(combo.idBien)"><i
                                  class="glyphicon glyphicon-eye-open"></i></button>
                              <button [routerLink]="['/form-activo-intangible',combo.idBien]"
                                class="btn btn-primary btn-xs"><i class="icon-pencil" title="Editar"></i></button>
                            </td>

                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior"
                        nextLabel="Siguiente"></pagination-controls>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- No asigandos -->
            <!-- Inicia la tabla de bienes muebles no asignados -->
            <div class="row" [ngStyle]="{'display':tablaMueblesNoAsig}">
              <div class="col-lg-12">
                <section class="panel panel-default">

                  <header class="panel-heading">
                    <h5>Registros de bienes muebles no asignados</h5>
                  </header>
                  <div class="panel-body">
                    <div class="adv-table">
                      <table class="display table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>N°</th>
                            <th>No. Formulario</th>
                            <th>Fecha ingreso</th>
                            <th>Descripción</th>
                            <th>Clasificación</th>

                            <th class="hidden-phone">Opciones </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let combo of activos | paginate: { itemsPerPage: 5, currentPage: p}; let i=index">

                            <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>

                            <td style="font-size: 12px;">{{combo.noFormulario}}</td>
                            <td>{{combo.fechacadena}}</td>
                            <td>{{combo.desripcion}}</td>
                            <td>{{combo.clasificacion}}</td>
                            <td class="center hidden-phone">
                              <button title="Ver detalles" class="btn btn-success btn-xs"
                                (click)="verNoAsignados(combo.idBien)"><i
                                  class="glyphicon glyphicon-eye-open"></i></button>
                              <button [routerLink]="['/form-nuevoBien',combo.idBien]" class="btn btn-primary btn-xs"><i
                                  class="icon-pencil" title="Editar"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior"
                        nextLabel="Siguiente"></pagination-controls>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
              class="modal" [ngStyle]="{'display':display}">
              <div class="modal-dialog .modal-dialog ">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"
                      (click)="close()">×</button>
                    <h4 class="modal-title">Datos del activo</h4>
                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">

                    <!--Para la imagen-->
                    <div class="row" [ngStyle]="{'display':displayfoto}">
                      <div class="col-lg-12" style="text-align: center;">
                        <img src="{{foto}}" width="300" height="150" />
                      </div>
                    </div>
                    <div class="row" [ngStyle]="{'display':displayMensaje}">
                      <div class="col-lg-12" style="text-align: center;">
                        <p><strong>Foto no disponible</strong></p>
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Fecha Adquisición:</strong> {{fecha}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Código:</strong> {{codigo}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Marca:</strong> {{marca}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Modelo:</strong> {{modelo}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Descripción:</strong> {{descripcion}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Color:</strong> {{color}}</p>
                      </div>
                    </div>



                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Estado:</strong> {{estado}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Valor de adquisición:</strong> ${{valor}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Clasificación:</strong> {{clasificacion}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Responsable:</strong> {{responsable}}</p>

                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Adquisición:</strong> {{tipoadqui}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>{{tipocombo}}</strong> {{provDon}}</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Prima:</strong> ${{prima}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Cuota:</strong> ${{cuota}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Interés:</strong> {{interes}} %</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Plazo:</strong> {{plazo}} meses</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Vida útil:</strong> {{vidautil}} años</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Valor residual:</strong> ${{valorresidual}}</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Ubicación:</strong> {{ubicacion}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Observaciones:</strong> {{Observaciones}}</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-3">

                      </div>
                    </div>
                    <!-- aca -->

                    <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i>
                      Cerrar</button>

                  </div>
                </div>
              </div>
            </div>

            <!--Modal para activos no asignados-->
            <div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
              class="modal" [ngStyle]="{'display':display4}">
              <div class="modal-dialog .modal-dialog ">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"
                      (click)="close()">×</button>
                    <h4 class="modal-title">Datos del activo</h4>
                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">

                    <!--Para la imagen-->
                    <div class="row" [ngStyle]="{'display':displayfoto}">
                      <div class="col-lg-12" style="text-align: center;">
                        <img src="{{foto}}" width="300" height="150" />
                      </div>
                    </div>
                    <div class="row" [ngStyle]="{'display':displayMensaje}">
                      <div class="col-lg-12" style="text-align: center;">
                        <p><strong>Foto no disponible</strong></p>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Fecha Adquisición:</strong> {{fecha}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Descripción:</strong> {{descripcion}}</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Marca:</strong> {{marca}}</p>

                      </div>
                      <div class="col-xs-6">
                        <p><strong>Modelo:</strong> {{modelo}}</p>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Clasificación:</strong> {{clasificacion}}</p>

                      </div>
                      <div class="col-xs-6">
                        <p><strong>Color:</strong> {{color}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Estado:</strong> {{estado}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Valor de adquisición:</strong> ${{valor}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Adquisición:</strong> {{tipoadqui}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>{{tipocombo}}</strong> {{provDon}}</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Cuota:</strong> ${{cuota}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Prima:</strong> ${{prima}}</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Plazo:</strong> {{plazo}} meses</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Interés:</strong> {{interes}} %</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Valor residual:</strong> ${{valorresidual}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Observaciones:</strong> {{Observaciones}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-3">

                      </div>
                    </div>
                    <!-- aca -->

                    <button type="button" (click)="close4()" class="btn btn-default"><i class="icon-remove-sign"></i>
                      Cerrar</button>

                  </div>
                </div>
              </div>
            </div>

            <!--Modal para edificios-->
            <div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
              class="modal" [ngStyle]="{'display':display2}">
              <div class="modal-dialog .modal-dialog ">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"
                      (click)="close2()">×</button>
                    <h4 class="modal-title">Datos del activo</h4>
                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">

                    <!--Para la imagen-->
                    <div class="row" [ngStyle]="{'display':displayfoto}">
                      <div class="col-lg-12" style="text-align: center;">
                        <img src="{{foto}}" width="300" height="150" />
                      </div>
                    </div>
                    <div class="row" [ngStyle]="{'display':displayMensaje}">
                      <div class="col-lg-12" style="text-align: center;">
                        <p><strong>Foto no disponible</strong></p>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Fecha Adquisición:</strong> {{fecha}}</p>
                      </div>
                      <div class="col-xs-6">

                        <p><strong>Código:</strong> {{codigo}}</p>

                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Descripción:</strong> {{descripcion}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Valor de adquisición:</strong> ${{valor}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Estado:</strong> {{estado}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Clasificación:</strong> {{clasificacion}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Adquisición:</strong> {{tipoadqui}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>{{tipocombo}}</strong> {{provDon}}</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Prima:</strong> ${{prima}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Cuota:</strong> ${{cuota}}</p>
                      </div>

                    </div>


                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Valor residual:</strong> ${{valorresidual}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Plazo:</strong> {{plazo}} meses</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Interés:</strong> {{interes}} %</p>

                      </div>
                      <div class="col-xs-6">
                        <p><strong>Vida util:</strong> {{vidautil}} años</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-12">
                        <p><strong>Observaciones:</strong> {{Observaciones}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-3">

                      </div>
                    </div>
                    <!-- aca -->

                    <button type="button" (click)="close2()" class="btn btn-default"><i class="icon-remove-sign"></i>
                      Cerrar</button>

                  </div>
                </div>
              </div>
            </div>

            <!--Modal para activos intangibles-->
            <div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
              class="modal" [ngStyle]="{'display':display3}">
              <div class="modal-dialog .modal-dialog ">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"
                      (click)="close3()">×</button>
                    <h4 class="modal-title">Datos del activo</h4>
                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">

                    <!--Para la imagen-->
                    <div class="row" [ngStyle]="{'display':displayfoto}">
                      <div class="col-lg-12" style="text-align: center;">
                        <img src="{{foto}}" width="300" height="150" />
                      </div>
                    </div>
                    <div class="row" [ngStyle]="{'display':displayMensaje}">
                      <div class="col-lg-12" style="text-align: center;">
                        <p><strong>Foto no disponible</strong></p>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Fecha Adquisición:</strong> {{fecha}}</p>
                      </div>
                      <div class="col-xs-6">

                        <p><strong>Código:</strong> {{codigo}}</p>

                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Descripción:</strong> {{descripcion}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Valor de adquisición:</strong> ${{valor}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Adquisición:</strong> {{tipoadqui}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Clasificación:</strong> {{clasificacion}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Prima:</strong> ${{prima}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>{{tipocombo}}</strong> {{provDon}}</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Valor residual:</strong> ${{valorresidual}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Cuota:</strong> ${{cuota}}</p>
                      </div>

                    </div>


                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Interés:</strong> {{interes}} %</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Plazo:</strong> {{plazo}} meses</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Vida util:</strong> {{vidautil}} años</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Observaciones:</strong> {{Observaciones}}</p>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-xs-3">

                      </div>
                    </div>
                    <!-- aca -->

                    <button type="button" (click)="close3()" class="btn btn-default"><i class="icon-remove-sign"></i>
                      Cerrar</button>

                  </div>
                </div>
              </div>
            </div>
<!--modal para ayuda con pdf-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal"
  [ngStyle]="{'display':display5}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close5()">×</button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
<iframe src="assets/img/Imagenes/Activos.pdf" style="width:700px; height:415px;" frameborder="0"></iframe>
</div>
      </div>
    
    </div>
  </div>
</div>
