/* Structure */

table {
    width: 100%;
  }
  .panel-body {
    padding: 12px 0px;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  thead {
    background-color: #f2faf1;
    /*background-color: #c4e8c0;*/
    color: black;
  }
  
  .modal {
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.452);
  }
  
  .modal-content {
    animation-name: modal;
    animation-duration: 1s;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
  
  .modal-dialog {
    width: 1050px;   /*agrandar el modal*/
	margin-right: -4px;
	margin-left: 215px;   /*alinear a la izq*/

}
  
  @keyframes modal {
    from {
      top: -330px;
      opacity: 0;
    }
  
    to {
      top: 0;
      opacity: 1;
    }
  }
  h1{
    color: #797979;
    font-family: 'Open Sans', sans-serif;
    margin-left: 35px;
  }
   h5, label {
    color: #797979;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  }
  
  th, td {
    color: #797979;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px; 
  }
  .btn-primary {
    background-color: #41cac0;
    border-color: hsl(176, 56%, 52%);
    color: #FFFFFF;
    margin-inline: 4px;
  }
  
  .btn-danger {
    margin-inline: 4px;
    background-color: #ff6c60;
    border-color: #ff6c60;
    color: #FFFFFF;
  }
  .alert-success, .alert-danger, .alert-info, .alert-warning {
    border: none;
  }
  .alert {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .alert-warning {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  .panel {
    padding: 5px;
    padding-bottom: 5px;
  padding-bottom: 0px;
  height: 80%;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  overflow: scroll;
}
.pane__general{
    padding: 5px;
  height: 90%;
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 0px;
    margin-bottom: 90px;
}
.panel::-webkit-scrollbar{
  width: 7px;
}
.panel::-webkit-scrollbar-thumb{
  background-color:FF6C60 ;
  border-radius: 5px;
}
  .form-control {
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: #797474;
    border-radius: 10px;
    font-size: 13px;
  }
  input, select, textarea,::placeholder {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #797474;
  }
  input[type=search] {
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: #797474;
    border-radius: 10px;
    font-size: 13px;
    margin-left: -25px;
  }
  .my-cuadro /deep/ .ngx-pagination .current {
    /*background: rgb(64, 64, 64);*/
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    } 