    <section class="wrapper">
        <div class="row">
            <div class="col-lg-6">
                <div class="border-head">
                    <h2><strong>Reportes</strong></h2>
                </div> 
            </div>
        </div>
        <br>
        <div class="row">
            <!--Modulo de control de activos-->
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading">
                        Módulo de catálogos
                        <span class="tools pull-right">
                          <a href="javascript:;" class="icon-chevron-down"></a>
                          <a href="javascript:;" class="icon-remove"></a>
                      </span>
                    </header>
                    <div class="panel-body">
                        <div class="dd" id="nestable_list_1">
                            <ol class="dd-list">
                                <li class="dd-item" data-id="1">
                                    <div style="cursor:pointer" class="dd-handle" (click)="sucursalesPDF()">Reporte de registro de sucursales</div>
                                </li>
                                <li class="dd-item" data-id="2">
                                    <div style="cursor:pointer" class="dd-handle" (click)="areasDeNegocioPDF()">Reporte de áreas de negocio</div>
                                </li>
                                <li class="dd-item" data-id="3">
                                    <div style="cursor:pointer" class="dd-handle" (click)="categoriasPDF()">Reporte de registro de categorias</div>                                   
                                </li>
                                <li class="dd-item" data-id="1">
                                    <div style="cursor:pointer" class="dd-handle" (click)="clasificacionesPDF()">Reporte de registro de clasificaciones</div>                                   
                                </li>
                                <li class="dd-item" data-id="1">
                                    <div style="cursor:pointer" class="dd-handle"  (click)="cargosPDF()">Reporte de registro de cargos</div>                                   
                                </li>
                                <li class="dd-item" data-id="1">
                                    <div style="cursor:pointer" class="dd-handle" (click)="empleadosPDF()">Reporte de registro de empleados</div>   
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="16">
                                            <div style="cursor:pointer" class="dd-handle" (click)="open2()" data-toggle="modall" data-target="#myModal">Reporte de empleados por área de negocio</div>
                                        </li>
                                    </ol>                                
                                </li> 
                                <li class="dd-item" data-id="1">
                                    <div style="cursor:pointer" class="dd-handle" (click)="proveedoresPDF()">Reporte de registro de proveedores</div>                                   
                                </li> 
                                <li class="dd-item" data-id="1">
                                    <div style="cursor:pointer" class="dd-handle" (click)="donantesPDF()">Reporte de registro de donantes</div>                                   
                                </li>
                                <li class="dd-item" data-id="1">
                                    <div style="cursor:pointer" class="dd-handle" (click)="marcasPDF()">Reporte de registro de marcas</div>                                   
                                </li>
                                <li class="dd-item" data-id="1">
                                    <div style="cursor:pointer" class="dd-handle" (click)="tecnicosPDF()">Reporte de registro de técnicos</div>                                   
                                </li>
                                <li class="dd-item" data-id="1">
                                    <div style="cursor:pointer" class="dd-handle" (click)="tipoDescargoPDF()">Reporte de tipo de descargos</div>                                   
                                </li>
                            </ol>
                        </div>
                    </div>
                </section>

            </div>

            <!--Modulo de control de activos-->
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading">
                        Módulo de control de activos
                        <span class="tools pull-right">
                          <a href="javascript:;" class="icon-chevron-down"></a>
                          <a href="javascript:;" class="icon-remove"></a>
                      </span>
                    </header>
                    <div class="panel-body">
                        <div class="dd" id="nestable_list_2">
                            <ol class="dd-list">
                                <li class="dd-item" data-id="15">
                                    <div class="dd-handle">Registro de activos</div>
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="16">
                                            <div style="cursor:pointer" class="dd-handle" (click)="activosAsigandosPDF()">Reporte de activos asignados</div>
                                        </li>
                                        <li class="dd-item" data-id="17">
                                            <div style="cursor:pointer" class="dd-handle" (click)="activosNoAsigandosPDF()">Reporte de activos no asignados</div>
                                        </li>
                                        <li class="dd-item" data-id="18">
                                            <div style="cursor:pointer" class="dd-handle" (click)="edificiosInstalacionesPDF()">Reporte de edificios e instalciones</div>
                                        </li>
                                        <li class="dd-item" data-id="18">
                                            <div style="cursor:pointer" class="dd-handle" (click)="activosIntangiblesPDF()">Reporte de activos intangibles</div>
                                        </li>
                                        <li class="dd-item" data-id="16">
                                            <div style="cursor:pointer" class="dd-handle" (click)="open()" >Reporte de activos por clasificación</div>
                                        </li>
     
                            
                                    </ol>
                                </li>
                                <li class="dd-item" data-id="1">
                                    <div style="cursor:pointer" [routerLink]="['/tabla-tarjeta']" class="dd-handle">Reporte tarjeta depreciación</div>                                   
                                </li>
                                <li class="dd-item" data-id="15">
                                    <div class="dd-handle">Cuadro de control</div>
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="16">
                                            <div style="cursor:pointer" class="dd-handle" (click)="cuadroControlActivosPDF()">Reporte cuadro de control de activos</div>
                                        </li>
                                        <li class="dd-item" data-id="17">
                                            <div style="cursor:pointer" class="dd-handle" (click)="cuadroControlEdificiosPDF()">Reporte cuadro de control de edificios e instalaciones</div>
                                        </li>
                                        <li class="dd-item" data-id="18">
                                            <div style="cursor:pointer" class="dd-handle" (click)="cuadroControlIntangiblesPDF()">Reporte cuadro de control de activos intangibles</div>
                                        </li>
                                    </ol>
                                </li>
                                
                            </ol>
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <!--Nuevo div row-->
        <div class="row">

             <!--Modulo de mantenimiento-->
             <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading">
                        Módulo de mantenimiento
                        <span class="tools pull-right">
                          <a href="javascript:;" class="icon-chevron-down"></a>
                          <a href="javascript:;" class="icon-remove"></a>
                      </span>
                    </header>
                    <div class="panel-body">
                        <div class="dd" id="nestable_list_2">
                            <ol class="dd-list">
                                <li class="dd-item" data-id="15">
                                    <div class="dd-handle" (click)="solicitudesmantenimientopdf()">Reporte de solicitudes de mantenimiento</div>
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="16">
                                            <div style="cursor:pointer" class="dd-handle" (click)="activosenmantenimientopdf()">Reporte de activos en mantenimiento</div>
                                        </li>
                                        <li class="dd-item" data-id="17">
                                            <div style="cursor:pointer" class="dd-handle" (click)="informesmantenimientopdf()">Reporte de informes de mantenimiento</div>
                                        </li>
                                        <li class="dd-item" data-id="18">
                                            <div style="cursor:pointer" class="dd-handle" [routerLink]="['/historial-mantenimiento']">Reporte de historial de mantenimiento</div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                </section>
            </div>

            <!--Modulo de Traspasos-->
            <div class="col-lg-6">
                <section class="panel">
                    <header class="panel-heading">
                        Módulo de traspasos
                        <span class="tools pull-right">
                          <a href="javascript:;" class="icon-chevron-down"></a>
                          <a href="javascript:;" class="icon-remove"></a>
                      </span>
                    </header>
                    <div class="panel-body">
                        <div class="dd" id="nestable_list_2">
                            <ol class="dd-list">
                                <li class="dd-item" data-id="15">
                                    <div class="dd-handle" (click)="solicitudestraspasopdf()">Reporte de solicitudes de traspasos</div>
                                    <ol class="dd-list">                           
                                        <li class="dd-item" data-id="16">
                                            <div style="cursor:pointer" class="dd-handle"  [routerLink]="['/historial-solicitud-traspaso']">Reporte historial de traspasos</div>
                                        </li>
                                    </ol>
                                   
                                </li>
                               
                               <!-- <header class="panel-heading form-in-line">
                                    <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal" data-target="#myModal"><i
                                        class="icon-plus-sign-alt"></i> Agregar nueva clasificación</button>
                                  </header>-->
                            </ol>
                        </div>
                    </div>
                </section>
            </div>
            <br><br>

        </div>
        <br><br>
        <!-- page end-->
    </section>

    <div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
  class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog" style="width:600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="combos">
            <div class="form-group">
                <input type="hidden" class="form-control" value="{{idcla}}">
            </div>
            <div class="form-group col-md-6">
                <select  class="form-control" formControlName="idclasificacion" >
                  <option value="0">--Seleccione--</option>
                  <option [value]="clasificacion.idclasificacion" *ngFor="let clasificacion of clasificaciones"> {{clasificacion.clasificacion}} </option>
                 
                </select>
            </div>
            <div class="form-group col-md-3">
                <button title="Imprimir reporte de activos de areá selecionada"  
                class="btn btn-success" (click)="reportesClasificacionPdf(idcla)"><i class="icon-print"></i> Imprimir</button>
            </div>
        </form>
        <br><br><br> <br><br><br>
          <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i>
            Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!--Modal para empleados por área de negocio-->
<div #basicModall aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
class="modall" [ngStyle]="{'display':display2}">
<div class="modal-dialog" style="width:425px;">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close2()">×</button>
      <h4 class="modal-title">{{titulo2}}</h4>
    </div>
    <div class="modal-body">
      <form role="form" [formGroup]="comboArea">
          <div class="form-group">
            <input type="hidden" class="form-control" value="{{idArea}}">
          </div>
          <div class="form-group col-md-8" style="margin-left: 70px;">
              <select  class="form-control" formControlName="idAreaNegocio">
                <option value="0">--Seleccione--</option>
                <option [value]="area.idAreaNegocio" *ngFor="let area of areas"> {{area.nombre}}
                </option>
               
              </select>
          </div>
          <div class="form-group col-md-4">
            <button title="Imprimir reporte de empleados por área de negocio" style="margin-top: 41px; margin-left: 75px;"  
            class="btn btn-success" (click)="empleadosPorClasificacionPdf(idArea)"><i class="icon-print"></i> Imprimir</button>
        </div>
      </form>
      <br><br><br><br><br>
        <button type="button" (click)="close2()" style="margin-left: 75px;" class="btn btn-default"><i class="icon-remove-sign"></i>
          Cancelar</button>
    </div>
  </div>
</div>
</div>
<!--Fin modal para empleados por área de negocio-->