.modal {
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.452);
  }
  .modall {
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.452);
  }
  .modalll {
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.452);
  }
  .modallll {
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.452);
  }
  .modalllll {
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.452);
  }
  .modal-dialog {
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-lg {
    width: 750px;
    height:415px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .modal-content {
    animation-name: modal;
    animation-duration: 1s;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
  
  
  @keyframes modal {
    from {
      top: -330px;
      opacity: 0;
    }
  
    to {
      top: 0;
      opacity: 1;
    }
  }