<br><br><br><br>
<section class="panel">
  <header class="panel-heading">
    <div class="row">
        <div class="col-lg-3">
         <h1>Edificios e Instalaciones</h1>
      
        </div>
          <div class="col-lg-6">
            <!-- Alertas de validaciones 
           <div class="alert alert-warning fade in" *ngIf="!nuevobien.valid">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Advertencia!</strong> Los campos con * son obligatorios.
           </div>

           <div class="alert alert-success fade in" *ngIf="nuevobien.valid&&nuevobien.controls['bandera'].value==0">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Excelente!</strong> Datos ingresados correctamente.
           </div>
           -->
          </div>

          <div class="col-lg-3">        
              
          </div>
            
     </div>
  </header>
<div class="panel-body ">
              <div class="stepy-tab">
                  <ul id="default-titles" class="stepy-titles clearfix">
                      <li id="default-title-0" class="current-step">
                          <div>Step 1</div>
                      </li>
                      <li id="default-title-1" class="">
                          <div>Step 2</div>
                      </li>
                      
                  </ul>
              </div>
     
       <form class="form-inline" id="default" [formGroup]="activoEdiInsta">
         <fieldset title="1" class="step" id="default-step-0">
           <legend></legend>
              <input type="hidden" class="form-control" formControlName="idbien" id="exampleInputEmail3" autocomplete="off">
              <input type="hidden" class="form-control" formControlName="noformulario" id="exampleInputEmail3" autocomplete="off">
              <input type="hidden" class="form-control" formControlName="bandera" id="exampleInputEmail3" autocomplete="off">

                <div class="form-row">
                      <div class="form-group col-md-4" >
                      <label>Fecha de Ingreso</label>
                      <input type="date" class="form-control" formControlName="fechaingreso" disabled="off" [ngModel]='fecha | date:"yyyy-MM-dd" ' (ngModelChange)='fecha=$event'>
                    </div>

                    <div class="form-group col-md-4">
                      <label>* Estado</label>
                      <select name="miselect"  class="form-control" formControlName="estadoingreso">
                          <option value="0">Seleccione...</option>
                          <option value="1">Nuevo</option>
                          <option value="2">Usado</option>
                          <option value="3">Usado mal estado</option>                  
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                      <label>* Tipo Adquisición</label>
                      <select formControlName="tipoadquicicion" class="form-control">
                        <option value="0">--Seleccione--</option>
                        <option value="1">Contado</option>
                        <option value="2">Crédito</option>
                        <option value="3">Donado</option>
                        </select>
                    </div>

                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label>* Proveedor o Donante</label >
                  <select  class="form-control" formControlName="idproveedor" >
                    <option value="0">--Seleccione--</option >
                    </select>
                  </div>

                  <div class="form-group col-md-4">
                    <label>* Clasificación</label>
                    <select  class="form-control" formControlName="idclasificacion">
                      <option value="0">--Seleccione--</option>
                    </select>
                   </div>

                   <div class="form-group col-md-4">
                    <label>Sucursal</label>
                    <select id="inputState" class="form-control" formControlName="idmarca">
                      <option value="0">--Seleccione--</option>
                    </select>  
                  </div>
              </div>
                
                <div class="row">

                  <div class="form-group col-md-4">
                    <label>* Vida útil</label>
                    <input type="text" class="form-control" placeholder="" formControlName="prima" maxlength="8" autocomplete="off">
                  </div>
                
                    <div class="col-lg-8">
                      <label>* Descripción </label>
                      <textarea class="form-control" id="exampleFormControlTextarea2"
                       rows="1" placeholder="Descripcion" autocomplete="off" formControlName="Ingrese descripción" maxlength="101"></textarea>
                      </div>
                    
                </div>
                  <div class="form-row">
                    <div class="form-group col-lg-12"
                    ></div>
                  </div>

                <!-- Alertas de validaciones -->
                <div class="form-group col-md-4">
               
                </div> 

              <!--Div para validaciones en el centro-->
              <div class="form-group col-md-4">
              </div>
              <!--Fin iv para validaciones en el centro-->

          </fieldset>

         <fieldset title="2" class="step" id="default-step-1" >
              <legend> </legend>
              <div class="form-row">
                <div class="form-group col-md-4">
                <label for="inputPassword4">* Costo</label>
                <input type="text" class="form-control" placeholder="Ingrese costo" formControlName="valoradquicicion" maxlength="11" autocomplete="off">
              </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">* Prima</label>
                  <input type="text" class="form-control" placeholder="" formControlName="prima" maxlength="8" autocomplete="off">
                </div>
                </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                <label  for="formGroupExampleInput2">* Plazo en meses</label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="plazopago" placeholder="" maxlength="3" autocomplete="off">
               </div>
                <div class="form-group col-md-4">
                    <label  for="formGroupExampleInput2">* Cuota</label>
                    <input type="text" class="form-control" id="inputEmail4" formControlName="cuotaasignada" placeholder="" maxlength="8" autocomplete="off">
                   </div>
                    <div class="form-group col-md-4">
                      <label for="inputPassword4">* Interes en %</label>
                      <input type="text" class="form-control" placeholder="" formControlName="interes"maxlength="3" autocomplete="off">
                    </div>
            </div>

            <div class="form-row">
               <div class="form-group col-md-4">
                <label for="inputPassword4">Valor residual</label>
                <input type="text" class="form-control" id="inputEmail4"  placeholder="Ingrese valor residual" formControlName="valorresidual" maxlength="11" autocomplete="off">
               </div>

              </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Foto</label>
                      <input type="file" id="futFoto" class="form-control" accept="image/*" />

                    </div>
              
                    <div class="form-group col-md-6">
                      <label  for="formGroupExampleInput2"> Observaciones </label>
                      <textarea class="form-control" id="exampleFormControlTextarea2"
                      rows="1" placeholder="Ingrese observaciones" autocomplete="off" formControlName="observaciones" maxlength="71"></textarea>
                    </div>
                                    
                </div>
                      <div class="form-row">
                          <div class="form-group col-lg-12"
                          ></div>
                      </div>

           
          <!-- Alertas de validaciones -->
          <div class="form-group col-md-4">
         
        </div>
        <!--Div para alertas en el centro-->
        <div class="form-group col-md-4">

          
        
      

        </div>
        <!--Fin Div para alertas en el centro-->
              
          </fieldset>
              <br><br><br>
              <input type="submit" class="finish btn btn-danger" value="Guardar"/>
              
         </form>

  </div>
</section>

