<br><br><br><br>
<section class="pane__general">

  <div class="row">
    <div class="col-lg-16">
      <section class="panel panel-default">
        <div class="form-row">
          <div class="row">
            <div class="col-lg-6">
              <h1>Historial de descargo </h1>
            </div>
            <br>
              <div class="col-lg-6">
                <button type="button" class="btn btn-warning margin-left" (click)="open5()" data-toggle="modal" data-target="#myModal2"><i
                  class="glyphicon glyphicon-question-sign"></i></button>
              </div>    
         </div>
            
          <form class="form-inline" id="default" [formGroup]="solicitud2">
            <div class="row" *ngIf="isAdmin">
                <div class="form-group col-md-3">
                    <br>
                    <label for="inputPassword4">Tipo activo</label>
                    <select [attr.disabled]="disabledFiltroBotonAsignacion ? '' : null" class="form-control" (change)="CambiarTipo()" formControlName="idsolicitud">
                      <option value="0">Seleccione</option>
                      <option [value]="1" >Bienes Muebles</option>	
                      <option [value]="2" >Edificios</option>
                      <option [value]="3" >Intangibles</option>		
                    </select>
                  </div>
                  <div class="form-group col-md-6">

                  </div>
                  <div class="form-group col-md-3">
                  <button [attr.disabled]="disabledFiltro ? '' : null"  title="Recargar datos" style="margin-top: 27px; width: 200px; margin-right: 70px;" class="btn btn-success" (click)="FiltrarAsignadosYNoAsignados()"><i class="glyphicon glyphicon-refresh"></i>  {{BtnAsinacion}}</button>                 
                </div>
            </div>
            <div class="row">
    
              <div class="form-group col-md-3">
                <br>
                <label *ngIf="isAdmin">Sucursal</label>
                <select *ngIf="isAdmin" [attr.disabled]="disabledFiltro||disabledFiltroBotonAsignacion ? '' : null"  class="form-control" (change)="FiltrarArea()" formControlName="idSucursal">
                  <option value="0">Seleccione</option>
                  <option [value]="sucursal.idSucursal" *ngFor="let sucursal of sucursal">{{sucursal.nombre+" , "+sucursal.ubicacion}}</option>	
                </select>
              </div>

              <div class="form-group col-md-3">
                <br>
                <label *ngIf="isAdmin">Área de negocio</label>
                <select *ngIf="isAdmin" [attr.disabled]="disabledFiltro||disabledFiltroBotonAsignacion ? '' : null"  id="inputState" class="form-control" formControlName="idArea" (change)="Filtrar()">
                  <option value="0" selected>Seleccione</option>
                  <option [value]="area.idAreaNegocio" *ngFor="let area of areas">{{area.nombre}}</option>	
                </select> 
              </div>
              <div class="form-group col-md-1">
                <br>
              <button *ngIf="isAdmin" title="Recargar datos" style="margin-top: 24px;" class="btn btn-success" (click)="Reload()"><i class="glyphicon glyphicon-refresh"></i></button>                 
            </div>
            <div class="form-group col-md-2">
              </div> 
              <div class="form-group col-md-3">
                <br><br>
              <input type="search" style="margin-top: 5px; padding-left: 10px;" class="form-control" #nombre (keyup)="buscar(nombre)"  placeholder="Buscar">
            </div>     
            </div>

            <br>
            <!-- Inicia la table de bienes muebles dependiendo de la opción -->
            <div class="row" [ngStyle]="{'display':tablaMuebles}">
              <div class="col-lg-12">
                <section class="panel panel-default">
          
                  <header class="panel-heading">
                    <h5>Registros de bienes muebles</h5>
                  </header>
                  <div class="panel-body">
                    <div class="adv-table">
                      <table class="display table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>N°</th>
                            <th>Código</th>
                            <th>Fecha ingreso</th>
                            <th>Descripción</th>
                            <th>Área de negocio</th>
                            <th>Responsable</th>                     
                            <th class="hidden-phone" >Ver historial </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let solicitud2 of activo | paginate: { itemsPerPage: 10, currentPage: p}; let i=index">
                            
                            <th scope="col">{{ 10 * (p - 1) + i+1 }}</th>
                            
                            <td>{{solicitud2.codigo}}</td>
                            <td>{{solicitud2.fechacadena}}</td>
                            <td>{{solicitud2.desripcion}}</td>
                            <td>{{solicitud2.areaDeNegocio}}</td>
                            <td>{{solicitud2.resposnsable}}</td>            
                            <td class="center hidden-phone">
                              <button title="Ver" class="btn btn-primary btn-xs" (click)="ver(solicitud2.idBien)">
                                <i class="glyphicon glyphicon-eye-open"></i></button>
                          </tr>
                            
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!-- Inicia tabla de bienes edificios  -->
            <div class="row" [ngStyle]="{'display':tablaEdificios}">
                <div class="col-lg-12">
                  <section class="panel panel-default">
            
                    <header class="panel-heading">
                      <h5>Registros de Edificios</h5>
                    </header>
                    <div class="panel-body">
                      <div class="adv-table">
                        <table class="display table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>N°</th>
                              <th>Código</th>
                              <th>Fecha ingreso</th>
                              <th>Descripción</th>
                              <th>Clasificación</th>                 
                              <th class="hidden-phone" >Opciones </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let solicitud2 of activo | paginate: { itemsPerPage: 4, currentPage: p}; let i=index">
                              
                              <th scope="col">{{ 4 * (p - 1) + i+1 }}</th>
                              
                              <td>{{solicitud2.codigo}}</td>
                              <td>{{solicitud2.fechacadena}}</td>
                              <td>{{solicitud2.descripcion}}</td>
                              <td>{{solicitud2.clasificacion}}</td>         
                              <td class="center hidden-phone">
                                <button title="Ver" class="btn btn-primary btn-xs" (click)="ver(solicitud2.idBien)">
                                  <i class="glyphicon glyphicon-eye-open"></i></button>
                            </tr>
                              
                          </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <!-- inicia la tabla de intagibles -->
              <div class="row" [ngStyle]="{'display':tablaIntengibles}">
                <div class="col-lg-12">
                  <section class="panel panel-default">
            
                    <header class="panel-heading">
                      <h5>Registros bienes intangibles</h5>
                    </header>
                    <div class="panel-body">
                      <div class="adv-table">
                        <table class="display table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>N°</th>
                              <th>Código</th>
                              <th>Fecha ingreso</th>
                              <th>Descripción</th>
                              <th>Clasificación</th>
                        
                              <th class="hidden-phone" >Opciones </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let solicitud2 of activo | paginate: { itemsPerPage: 4, currentPage: p}; let i=index">
                              
                              <th scope="col">{{ 4 * (p - 1) + i+1 }}</th>
                              
                              <td>{{solicitud2.codigo}}</td>
                              <td>{{solicitud2.fechacadena}}</td>
                              <td>{{solicitud2.descripcion}}</td>
                              <td>{{solicitud2.clasificacion}}</td>
                          
                              <td class="center hidden-phone">
                                <button title="Ver" class="btn btn-primary btn-xs" (click)="ver(solicitud2.idBien)">
                                  <i class="glyphicon glyphicon-eye-open"></i></button>
                            </tr>
                              
                          </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
<!-- No asigandos -->
 <!-- Inicia la tabla de bienes muebles no asignados -->
 <div class="row" [ngStyle]="{'display':tablaMueblesNoAsig}">
  <div class="col-lg-12">
    <section class="panel panel-default">

      <header class="panel-heading">
        <h5>Registros de bienes muebles no asignados</h5>
      </header>
      <div class="panel-body">
        <div class="adv-table">
          <table class="display table table-bordered table-striped">
            <thead>
              <tr>
                <th>N°</th>
                <th>No. Formulario</th>
                <th>Fecha ingreso</th>
                <th>Descripción</th>
                <th>Clasificación</th>
               
                <th class="hidden-phone" >Opciones </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitud2 of activo | paginate: { itemsPerPage: 4, currentPage: p}; let i=index">
                              
                <th scope="col">{{ 4 * (p - 1) + i+1 }}</th>
                
                <td style="font-size: 12px;">{{solicitud2.noFormulario}}</td>
                <td>{{solicitud2.fechacadena}}</td>
                <td>{{solicitud2.desripcion}}</td>
                <td>{{solicitud2.clasificacion}}</td>        
                <td class="center hidden-phone">
                  <button title="Ver" class="btn btn-primary btn-xs" (click)="ver(solicitud2.idBien)">
                    <i class="glyphicon glyphicon-eye-open"></i></button>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
      </div>
    </section>
  </div>
</div>


      <div #basicModal  aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
        <div class="modal-dialog .modal-dialog ">
          <div class="modal-content">
            <div class="modal-header">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
              <h4 class="modal-title">Informe de baja</h4>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" >
            

               <div class="col-lg-6">
                <p>
                  <span class="text-bold"><strong>Fecha de ingreso:</strong></span>  {{ fecha }}<br/><br/>
                  <span class="text-bold"><strong> N° Acuerdo:</strong> </span> {{ acuerdo}} <br/><br/>
                  <label><strong>Código:</strong></label> {{ codigo}}<br/><br/>
                  <label><strong>Motivo:</strong></label> {{ motivo}}<br/><br/>
                  <label><strong>Marca:</strong></label> {{ marca}}<br/><br/>
                  <label><strong>Clasificación:</strong></label> {{ clasificacion}}<br/><br/>
                  
                  
                  
             
                </p>
             
              </div>

               <div class="col-lg-6">
                  
                <p>
                   
                  <span class="text-bold"><strong>Fecha de baja:</strong></span>  {{ fecha2 }}<br/><br/>
                  <label><strong>Folio:</strong></label> {{ folio}}<br/><br/>
                  <span class="text-bold"><strong>Descripción:</strong></span> {{descripcion }}<br/><br/>
                  <label><strong>Responsable:</strong></label> {{ responsable}}<br/><br/>
                  <span class="text-bold"><strong>Entidad beneficiaria:</strong></span> {{ entidad }}<br/><br/>
                  <label ><strong>Valor adquisición:</strong></label> ${{ valor}}<br/><br/>
                  <!--<label ><strong>Valor actual:</strong></label> ${{ valoractual}}<br/><br/>-->
                  
                </p>
             
            </div>

         

             <div class="row">
              <div class="col-xs-3">
                
              </div>
             </div>
<!-- aca -->

<button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>
 
               </div>
            </div>
          </div>
        </div>

<!--modal para ayuda con pdf-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal"
  [ngStyle]="{'display':display5}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close5()">×</button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
<iframe src="assets/img/Imagenes/Historial baja.pdf" style="width:700px; height:415px;" frameborder="0"></iframe>
</div>
      </div>
    
    </div>
  </div>
</div>