<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
  class="modal" [ngStyle]="{'display':displayCierre}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{cooperativa}} - Cierre de año {{anio}} </h4>
      </div>
      <div class="modal-body">

        <form role="form" [formGroup]="periodo" (ngSubmit)="cierre()">

          <input type="hidden" class="form-control" formControlName="idPeriodo" autocomplete="off">
          <p>*Al realizar el cierre del sistema usted como usuario administrador adquiere la responsabilidad de
            asegurarse que todos los datos esten realizados bajo la supervision y audioria de las autoridades</p>
          <p>*Al momento de realizar el cierre se generará una partida única que será utilizada para el asiento contable
            del presente año</p>
          <p>*Toda la informacion que realice en procesos como: Depreciacion,amortizacion, revalorizacion, traspasos,
            bajas, serán registrados en el año que esta apunto de aperturar.</p>
          <p>*Es responsabilidad del administrador mantener la informacion debidamente auditada en todo momento</p>
          <label><input #aceptar type="checkbox" (click)="Aceptar(aceptar)"> Acepto los terminos
            y condiciones</label><br>

          <div style="text-align: center;">
            <button [disabled]="this.aceptacion==false" type="submit" class="btn btn-primary"><i class="icon-save"></i>
              Ejecutar Cierre </button>
            <button type="button" class="btn btn-default" (click)="close()"><i class="icon-remove-sign"></i>
              Cancelar</button>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>