<br><br><br><br>
<section class="panel">
  <h1>Registro de activos</h1>
    <div class="row">
      <div class="col-lg-16">
      
        
        <section class="panel panel-default">
          <div class="form-row">
            <form class="form-inline" id="default" [formGroup]="solicitud">
              <div class="row">
  
                <div class="form-group col-md-3">
                  <br>
                  <label for="inputPassword4">Sucursal</label>
                  <select class="form-control" (change)="FiltrarArea()" formControlName="idSucursal">
                    <option value="0">Seleccione</option>
                    <option [value]="sucursal.idSucursal" *ngFor="let sucursal of sucursal">{{sucursal.nombre+" , "+sucursal.ubicacion}}</option>	
                  </select>
                </div>
  
                <div class="form-group col-md-3">
                  <br>
                  <label for="inputPassword4">Área de negocio</label>
                  <select id="inputState" class="form-control" formControlName="idArea" (change)="Filtrar()">
                    <option value="0" selected>Seleccione</option>
                    <option [value]="area.idAreaNegocio" *ngFor="let area of areas">{{area.nombre}}</option>	
                  </select> 
                </div>
                <div class="form-group col-md-1">
                  <br>
                <button title="Recargar datos" style="margin-top: 24px;" class="btn btn-success" (click)="Reload()"><i class="glyphicon glyphicon-refresh"></i></button>                 
                </div>

                <div class="form-group col-md-2">
                
                </div>
  
                <div class="form-group col-md-3">
                  <br><br>
                <input type="search" style="margin-top: 5px; padding-left: 10px;" class="form-control" #nombre (keyup)="buscar(nombre)"  placeholder="Buscar">
               </div>    
              </div>

              <br>
              <div class="row">
                <div class="col-lg-12">
                  <section class="panel panel-default">
            
        <header class="panel-heading">
          <h5>Realizar solicitud de traspaso</h5>
        </header>
        <div class="panel-body">
          <div class="adv-table">
            <table class="display table table-bordered table-striped">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Código</th>
                  <th>Fecha</th>
                  <th>Descripción</th>
                  <th>Área de negocio</th>
                  <th>Responsable</th>
                  
                  <th class="hidden-phone">Realizar solicitud</th>
                </tr>
              </thead>

              <tbody>
              <tr *ngFor="let activo of activos | paginate: { itemsPerPage: 5, currentPage: p}; let i=index">
                  <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                  <td>{{activo.codigo}}</td>
                  <td>{{activo.fechacadena}}</td>
                  <td>{{activo.desripcion}}</td>
                  <td>{{activo.areaDeNegocio}}</td>
                  <td>{{activo.resposnsable}}</td>
                  <td class="center hidden-phone">
                    <button title="Realizar solicitud" class="btn btn-primary btn-xs" (click)="open(activo.idBien)">
                      <i class="glyphicon glyphicon-share-alt"></i></button>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </div>
        </div>
      </section>
    </div>
  </div>


  <!--modal para ingresar y editar-->
<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog .modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>

        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">

        <form role="form" [formGroup]="solicitud" (ngSubmit)="guardarDatos()">
          <input type="hidden" class="form-control" formControlName="idsolicitud" autocomplete="off">
          <input type="hidden" class="form-control" formControlName="idbien" autocomplete="off">
     
         
          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">*Fecha:</label>         
            <input type="date" class="form-control"  formControlName="fechasolicitud"  min="{{fechaMinima}}" max="{{fechaMaxima}}" autocomplete="off">
          </div>

          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">*Folio:</label>
            <input size=25  type="text"  class="form-control" formControlName="folio" placeholder="Ingrese folio"  maxlength="51" autocomplete="off">
          </div> 
            
          <br> <br>
          <div class="form-group col-md-6">
            <label>* Área de negocio nueva:</label>
            <select class="form-control" formControlName="nuevaarea">
              <option value="">---Seleccione---</option>
              <option [value]="area.nombre +' - '+area.nombreSucursal +' - '+area.ubicacion" *ngFor="let area of areas">
                {{area.nombre +" - "+area.nombreSucursal +" - "+area.ubicacion}} </option>
            </select>
          </div>
      

            <div class="form-group col-md-6">
              <label for="formGroupExampleInput2">*Nuevo responsable:</label>
              <select class="form-control" formControlName="nuevoresponsable" >
                <option value="">---Seleccione---</option>
                <option [value]="empleado.nombres +' '+ empleado.apellidos" *ngFor="let empleado of empleados">{{empleado.nombres+" "+empleado.apellidos}}</option>	
              </select>
              </div>
          
          <br> <br>
         
          <div class="form-group col-md-6">
            <label>* Descripción:</label>
            <textarea class="form-control rounded-0" formControlName="descripcion" maxlength="251"
               rows="2" placeholder="Ingrese descripción" autocomplete="off"></textarea>
          </div>

          <br> <br>
    

          <!--Alert-->
<br><br><br><br><br><br><br><br>


          <button  type="submit" [disabled]="!solicitud.valid" class="btn btn-danger"><i class="icon-mail-forward (alias)"></i> Enviar</button>
          <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>

        </form>


      </div>
    </div>
  </div>
</div>



