<br><br><br><br>
<section class="panel">
  <header class="panel-heading">
    <div class="row">
        <div class="col-lg-3">
         <h1>{{titulo}}</h1>
        </div>
          <div class="col-lg-6">
            <!-- Alertas de validaciones -->
           <div class="alert alert-warning fade in" *ngIf="!nuevobien.valid">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Advertencia!</strong> Los campos con * son obligatorios.
           </div>

           <div class="alert alert-success fade in" *ngIf="nuevobien.valid&&nuevobien.controls['bandera'].value==0">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Excelente!</strong> Datos ingresados correctamente.
           </div>
           
          </div>

          <div class="col-lg-3">
             <button type="button" class="btn btn-success" (click)="cancelar()" >
                <i ></i> Cancelar </button> 

                <button type="button" class="btn btn-warning margin-left" (click)="open3()" data-toggle="modal" data-target="#myModal2"><i
                  class="glyphicon glyphicon-question-sign" ></i></button>

              <!--aqui-->
              
          </div>
               
     </div>
  
  </header>
<div class="panel-body ">
              <div class="stepy-tab">
                  <ul id="default-titles" class="stepy-titles clearfix">
                      <li id="default-title-0" class="current-step">
                          <div>Step 1</div>
                      </li>
                      <li id="default-title-1" class="">
                          <div>Step 2</div>
                      </li>
                      
                  </ul>
              </div>
     
       <form class="form-inline" id="default" [formGroup]="nuevobien" (ngSubmit)="guardarDatoss()" >
         <fieldset title="1" class="step" id="default-step-0">
           <legend></legend>
              <input type="hidden" class="form-control" formControlName="idbien" autocomplete="off">
              <input type="hidden" class="form-control" formControlName="noformulario" autocomplete="off">
              <input type="hidden" class="form-control" formControlName="bandera" autocomplete="off">
              <input type="hidden" class="form-control" formControlName="tipoactivo" autocomplete="off">

                <div class="form-row">
                      <div class="form-group col-md-6" >
                      <label>* Fecha de Ingreso</label>
                      <input type="date" class="form-control" formControlName="fechaingreso" min="{{fechaMinima}}" max="{{fechaMaxima}}"> 
                    </div>

                    <div class="form-group col-md-6">
                      <label>* Estado</label>
                      <select name="miselect"  class="form-control" formControlName="estadoingreso">
                          <option value="0">Seleccione...</option>
                          <option value="1">Nuevo</option>
                          <option value="2">Usado</option>
                          <option value="3">Usado mal estado</option>                  
                        </select>
                    </div>

                </div>

                <div class="form-row">
                    
                  <div class="form-group col-md-6">
                    <label>* Tipo Adquisición</label>
                    <select formControlName="tipoadquicicion" class="form-control" (change)="ProveedorDonante()">
                      <option value="0">--Seleccione--</option>
                      <option value="1">Contado</option>
                      <option value="2">Crédito</option>
                      <option value="3">Donado</option>
                      </select>
                  </div>
                  <div class="form-group col-md-5">
                    <label>* {{tipocombo}}</label >
                  <select  class="form-control" formControlName="idproveedor">
                    <option value="0">--Seleccione--</option >
                    <option [value]="prov.id" *ngFor="let prov of comboProvDon">{{prov.nombre}}</option>
                    </select>
                    
                  </div>

                  <div class="form-group col-md-1">
                    <label></label>
                    <button type="button" style="margin-right: 70px;" class="btn btn-success" (click)="openProveedor()" data-toggle="modal" data-target="#myModal"><i
                      class="icon-plus-sign-alt"></i> </button>
                  </div>

              </div>
                <div class="row">
                   
                    <div class="col-lg-4">
                    <label>* Descripción </label>
                    <textarea class="form-control"
                     rows="1" placeholder="Descripcion" autocomplete="off" formControlName="descripcion" maxlength="101"></textarea>
                    </div>
                    <div class="col-lg-4">
                    <label>* Cantidad</label>
                    <input type="text" class="form-control" placeholder="Ingrese cantidad" formControlName="cantidad" maxlength="3" autocomplete="off" [attr.disabled]="disabledd ? '' : null">
                  </div>
                    
                    <div class="col-lg-4">
                      <label>* Color</label>
                      <input type="text" class="form-control" placeholder="Ingrese color" formControlName="color" maxlength="21" autocomplete="off">
                      </div>

                </div>   
              
                <div></div>     
                <div class="row">
                    <div class="form-group col-md-3">
                      <label>* Clasificación</label>
                      <select  class="form-control" formControlName="idclasificacion">
                        <option value="0">--Seleccione--</option>
                        <option [value]="clasificacion.idclasificacion" *ngFor="let clasificacion of clasificaciones">{{clasificacion.clasificacion}}</option>
                      </select>
                     </div>

                     <div class="form-group col-md-1">
                      <label></label>
                      <button type="button" class="btn btn-success" (click)="openClasificacion()" data-toggle="modall" data-target="#myModal"><i
                        class="icon-plus-sign-alt"></i> </button>
                    </div>

                    <div class="form-group col-md-3">
                      <label>Marca</label>
                      <select class="form-control" formControlName="idmarca">
                        <option value="0">--Seleccione--</option>
                        <option [value]="marca.idMarca" *ngFor="let marca of marcas">{{marca.marca}}</option>
                      </select>  
                    </div>

                    <div class="form-group col-md-1">
                      <label></label>
                      <button type="button" style="margin-right: 70px;" class="btn btn-success" (click)="openMarca()" data-toggle="modalll" data-target="#myModal"><i
                        class="icon-plus-sign-alt"></i> </button>
                    </div>

                    <div class="form-group col-md-4">
                      <label>Modelo</label>
                      <input type="text" class="form-control" placeholder="Ingrese modelo" formControlName="modelo" maxlength="31" autocomplete="off">
                     </div>
                    
                </div>
                  <div class="form-row">
                    <div class="form-group col-lg-12"
                    ></div>
                  </div>

                <!-- Alertas de validaciones -->
                <div class="form-group col-md-4">
               
                </div> 

              <!--Div para validaciones en el centro-->
              <div class="form-group col-md-4">

                <!-- DESCRIPCION -->
                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['descripcion'].errors?.maxlength">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡Error!</strong> Tamaño máximo permitido en campo descripción.
                </div>

                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['descripcion'].errors?.pattern">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡Error!</strong> El campo descripción no acepta caracteres especiales.
                </div>
                <!-- FIN DE DESCRIPCION -->

                <!-- CANTIDAD -->
                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cantidad'].errors?.pattern">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡Error!</strong> El campo cantidad no acepta caracteres especiales.
                </div>

                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cantidad'].errors?.maxlength">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡Error!</strong> Tamaño máximo permitido en campo cantidad.
                </div>
                <!-- FIN DE CANTIDAD -->

                <!-- COLOR -->
                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['color'].errors?.pattern">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡Error!</strong> El campo color no acepta caracteres especiales.
                </div>

                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['color'].errors?.maxlength">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡Error!</strong> Tamaño máximo permitido en campo color.
                </div>
                <!-- COLOR -->

                 <!-- MODELO -->
                 <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['modelo'].errors?.pattern">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡Error!</strong> El campo modelo no acepta caracteres especiales.
                </div>

                 <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['modelo'].errors?.maxlength">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡Error!</strong> Tamaño máximo permitido en campo modelo.
                </div>
                  <!-- FIN DE MODELO -->
              </div>
              <!--Fin iv para validaciones en el centro-->

          </fieldset>

         <fieldset title="2" class="step" id="default-step-1" >
              <legend> </legend>
              <div class="form-row">
                <div class="form-group col-md-4">
                <label> # de Factura</label>
                <input type="text" class="form-control" placeholder="Ingrese # de factura" formControlName="nofactura" maxlength="31" autocomplete="off">
               </div>
                <div class="form-group col-md-4">
                <label>* Costo</label>
                <input type="text" class="form-control" placeholder="Ingrese costo" formControlName="valoradquicicion" maxlength="11" autocomplete="off">
              </div>
                <div class="form-group col-md-4">
                  <label>* Prima</label>
                  <input type="text" class="form-control" placeholder="{{disabledPrima}}" formControlName="prima" [attr.disabled]="disabled ? '' : null" maxlength="8" autocomplete="off">
                </div>
                </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                <label >* Plazo en meses</label>
                <input type="text" class="form-control" formControlName="plazopago" placeholder="{{disabledPlazo}}" [attr.disabled]="disabled ? '' : null" maxlength="3" autocomplete="off">
               </div>
                <div class="form-group col-md-4">
                    <label>* Cuota</label>
                    <input type="text" class="form-control" formControlName="cuotaasignada" placeholder="{{disabledCuota}}" [attr.disabled]="disabled ? '' : null" maxlength="8" autocomplete="off">
                   </div>
                    <div class="form-group col-md-4">
                      <label>* Interes en %</label>
                      <input type="text" class="form-control" placeholder="{{disabledInteres}}" formControlName="interes" [attr.disabled]="disabled ? '' : null" maxlength="3" autocomplete="off">
                    </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                <label>* Persona que entrega</label>
                <input type="text" class="form-control" placeholder="Ingrese persona que entrega" formControlName="personaentrega" maxlength="51" autocomplete="off">
               </div>
                <div class="form-group col-md-4">
                <label>* Persona que recibe</label>
                <input type="text" class="form-control" placeholder="Ingrese persona que recibe" formControlName="personarecibe" maxlength="51" autocomplete="off">
               </div>

               <div class="form-group col-md-4">
                <label>Valor residual</label>
                <input type="text" class="form-control" placeholder="Ingrese valor residual" formControlName="valorresidual" maxlength="11" autocomplete="off">
               </div>

              </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                      <label>Foto</label>
                      <input type="file" (change)="changeFoto()" id="futFoto" class="form-control" accept="image/*" />

                    </div>
              
                    <div class="form-group col-md-6">
                      <label> Observaciones </label>
                      <textarea class="form-control"
                      rows="1" placeholder="Ingrese observaciones" autocomplete="off" formControlName="observaciones" maxlength="71"></textarea>
                    </div>
                                    
                </div>
                      <div class="form-row">
                          <div class="form-group col-lg-12"
                          ></div>
                      </div>

           
          <!-- Alertas de validaciones -->
          <div class="form-group col-md-4">
         
        </div>
        <!--Div para alertas en el centro-->
        <div class="form-group col-md-4">

          <!-- No FACTURA -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['nofactura'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo # de factura no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['nofactura'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo # de factura.
          </div>
          <!-- FIN No FACTURA -->

          <!-- COSTO DE ADQUISICION -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['valoradquicicion'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo costo no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['valoradquicicion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo costo.
          </div>
          <!-- FIN COSTO DE ADQUISICION -->

          <!-- PRIMA -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['prima'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo prima no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['prima'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo prima.
          </div>
          <!-- FIN PRIMA -->

           <!-- PLAZO PAGO -->
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['plazopago'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo plazo no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['plazopago'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo plazo.
          </div>
          <!-- FIN PLAZO PAGO -->

          <!-- CUOTA -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cuotaasignada'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo cuota no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cuotaasignada'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo cuota.
          </div>
          <!-- FIN CUOTA -->

           <!-- INTERES -->
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['interes'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo interes no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['interes'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en este campo interes.
          </div>
          <!-- FIN INTERES -->

          <!-- PERSONA QUE ENTREGA -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personaentrega'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo persona que entrega.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personaentrega'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo persona que entrega no acepta caracteres especiales.
          </div>
          <!-- FIN PERSONA QUE ENTREGA -->

          <!-- PERSONA QUE RECIBE -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personarecibe'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo persona que recibe.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personarecibe'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo persona que recibe no acepta caracteres especiales.
          </div>
          <!-- FIN PERSONA QUE RECIBE -->

          <!-- VALOR RESIDUAL -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['valorresidual'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo valor residual.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['valorresidual'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo valor residual no acepta caracteres especiales.
          </div>
          <!-- FIN VALOR RESIDUAL -->

          <!-- OBSERVACIONES -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['observaciones'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo observaciones.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['observaciones'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo observaciones no acepta caracteres especiales.
          </div>
          <!-- FIN DE OBSERVACIONES -->

        </div>
        <!--Fin Div para alertas en el centro-->
              
          </fieldset>
              <br><br><br>
              <input [disabled]="!nuevobien.valid" type="submit" class="finish btn btn-danger" value="Guardar" *ngIf="!bandera"/>
              <input [disabled]="!nuevobien.valid" type="submit" class="finish btn btn-success" 
              value="Actualizar"  *ngIf="bandera" />
         </form>

  </div>
</section>

<!--modal para ingresar Proveedor-->
<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':displayProveedor}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="closeProveedor()">×</button>

        <h4 class="modal-title">{{titulo2}}</h4>
      </div>
      <div class="modal-body">

        <form role="form" [formGroup]="proveedores" (ngSubmit)="guardarProveedor()">
          <input type="hidden" class="form-control" formControlName="idProveedor" id="exampleInputEmail3" autocomplete="off">
          <input type="hidden" class="form-control" formControlName="bandera" id="exampleInputEmail3" autocomplete="off">
         
    
          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">*Nombre:</label>
            <input size=35 type="text"  class="form-control" formControlName="nombre" id="nombre" placeholder="Ingrese nombre" maxlength="51" autocomplete="off">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">*Teléfono:</label>
            <input size=35 type="text" mask="0000-0000" [dropSpecialCharacters]="false" class="form-control" formControlName="telefono" id="exampleInputEmail3" placeholder="Ingrese teléfono" maxlength="10" autocomplete="off">
          </div>
       
          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">*Dirección:</label>
            <input type="text" class="form-control" formControlName="direccion" id="direccion" placeholder="Ingrese dirección" maxlength="101" autocomplete="off">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">*Rubro:</label>
            <input type="text"  class="form-control" formControlName="rubro" id="rubro" placeholder=" Ingrese rubro" maxlength="51" autocomplete="off">
          </div>
        
          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">*Encargado:</label>
            <input type="text"  class="form-control" formControlName="encargado" id="encargado" placeholder="Ingrese encargado" maxlength="51" autocomplete="off">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleInputEmail1">*Teléfono encargado:</label>
            <input type="text" mask="0000-0000" [dropSpecialCharacters]="false" class="form-control" formControlName="telefonoencargado" id="exampleInputEmail3" placeholder="Ingrese teléfono" maxlength="10" autocomplete="off">
          </div>
 
      <br><br><br><br><br><br><br><br><br><br><br><br>
<!--  WARNING-->

          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['nombre'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en el campo nombre.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['nombre'].errors?.yaExisteProveedor">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> ya existe el nombre de proveedor ingresado, por favor intente con un nuevo.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['nombre'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo nombre no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['direccion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en el campo dirección.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['direccion'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo dirección no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['encargado'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en el campo nombre encargado.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['encargado'].errors?.yaExisteEncargado">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> ya existe el nombre de encargado ingresado, por favor intente con un nuevo.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['encargado'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo nombre encargado no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['rubro'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en el campo rubro.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['rubro'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo rubro no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['telefono'].errors?.yaExisteTelProveedor">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> ya existe el telefono de proveedor ingresado, por favor intente con un nuevo.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['telefono'].errors?.Iguales">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El teléfono del proveedor tiene que ser diferente.
          </div><!---->
         
          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['telefonoencargado'].errors?.yaExisteTelEncargado">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> ya existe el telefono de encargado ingresado, por favor intente con un nuevo.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="proveedores.controls['telefonoencargado'].errors?.noIguales">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El teléfono del encargado tiene que ser diferente.
          </div><!---->
  
             <div class="alert alert-warning fade in" *ngIf="!proveedores.valid&&!proveedores.controls['telefonoencargado'].errors?.yaExisteTelEncargado">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> Todos los campos son obligatorios.
          </div>

          <div class="alert alert-success fade in" *ngIf="proveedores.valid&&proveedores.controls['bandera'].value==0">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Exelente!</strong> Datos ingresados correctamente.
          </div>
      
          <button type="submit" [disabled]="!proveedores.valid"  class="btn btn-primary"><i class="icon-save"></i> Guardar</button>
          <button type="button" (click)="closeProveedor()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>

        </form>

      </div>
    </div>
  </div>
</div>

<!--modal para ingresar Clasificación-->
<div #basicModall aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
  class="modall" [ngStyle]="{'display':displayClasificacion}">
  <div class="modal-dialog" style="width:500px;">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="closeClasificacion()">×</button>
        <h4 class="modal-title">{{titulo3}}</h4>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="clasificacion" (ngSubmit)="guardarClasificacion()">
          <input type="hidden" class="form-control" formControlName="idclasificacion" autocomplete="off">
          <input type="hidden" class="form-control" formControlName="bandera" autocomplete="off">

          <div class="form-group">
            <label>* Correlativo:</label>
            <input [readOnly]="this.edit==1" type="text" class="form-control" formControlName="correlativo"
              placeholder="Ingrese correlativo" autocomplete="off" maxlength="11">
          </div>

          <div class="form-group">
            <label>* Clasificación:</label>
            <input type="text" class="form-control" formControlName="clasificacion" placeholder="Ingrese clasificación"
              autocomplete="off" maxlength="51">
          </div>
          <div class="form-group">
            <label>* Categoria:</label>
            <select class="form-control" formControlName="idcategoria" aria-readonly="false" maxlength="51">
              <option value="">---Seleccione---</option>
              <option [disabled]="this.edit==1" [value]="categoria.idCategoria" *ngFor="let categoria of categorias">
                {{categoria.categoria}}</option>
            </select>
          </div>

          <div class="form-group">
            <label> Descripción:</label>
            <textarea class="form-control rounded-0" formControlName="descripcion" rows="1"
              placeholder="Ingrese descripción" autocomplete="off" maxlength="101"></textarea>
          </div>



          <!-- Validacion de pattern no acepta caracteres especiales -->
          <div class="alert alert-block alert-danger fade in"
            *ngIf="clasificacion.controls['correlativo'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo correlativo no acepta caracteres especiales.
          </div>
          <div class="alert alert-warning fade in" *ngIf="this.edit==1">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> El correlativo y la categoría no se pueden modificar porque hay activos
            referenciados.
          </div>
          <div class="alert alert-block alert-danger fade in"
            *ngIf="clasificacion.controls['correlativo'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo correlativo.
          </div>
          <div class="alert alert-block alert-danger fade in"
            *ngIf="clasificacion.controls['correlativo'].errors?.yaExisteCorrelativo">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> Ya existe el correlativo ingresado, por favor intente con uno nuevo.
          </div>

          <!-- Validacion de pattern no acepta caracteres especiales -->
          <div class="alert alert-block alert-danger fade in"
            *ngIf="clasificacion.controls['clasificacion'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo clasificación no acepta caracteres especiales.
          </div>
          <div class="alert alert-block alert-danger fade in"
            *ngIf="clasificacion.controls['clasificacion'].errors?.yaExisteClasificacion">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> Ya existe la clasificación ingresada, por favor intente con una nueva.
          </div>

          <div class="alert alert-block alert-danger fade in"
            *ngIf="clasificacion.controls['clasificacion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo clasificación.
          </div>
          <!-- Validacion de pattern no acepta caracteres especiales -->
          <div class="alert alert-block alert-danger fade in"
            *ngIf="clasificacion.controls['descripcion'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo descripción no acepta algunos caracteres especiales.
          </div>
          <div class="alert alert-block alert-danger fade in"
            *ngIf="clasificacion.controls['descripcion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo descripción.
          </div>


          <!--  WARNING-->
          <div class="alert alert-warning fade in"
            *ngIf="!clasificacion.valid&&!clasificacion.controls['descripcion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> Todos los campos con * son obligatorios.
          </div>

          <div class="alert alert-success fade in"
            *ngIf="clasificacion.valid&&clasificacion.controls['bandera'].value==0">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Exelente!</strong> Datos ingresados correctamente.
          </div>
          <button [disabled]="!clasificacion.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i>
            Guardar</button>
          <button type="button" (click)="closeClasificacion()" class="btn btn-default"><i class="icon-remove-sign"></i>
            Cerrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--modal para ingresar Marca-->
<div #basicModalll aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
  class="modalll" [ngStyle]="{'display':displayMarca}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="closeMarca()">×</button>
        <h4 class="modal-title">{{titulo4}}</h4>
      </div>
      <div class="modal-body">

        <form role="form" [formGroup]="marca" (ngSubmit)="guardarMarca()">
          <input type="hidden" class="form-control" formControlName="idMarca" autocomplete="off">
          <input type="hidden" class="form-control" formControlName="bandera" autocomplete="off">
          <div class="form-group">
            <label>* Marca:</label>
            <input type="text" class="form-control" formControlName="marca" placeholder="Ingrese marca"
              autocomplete="off" maxlength="26">
          </div>
          <div class="form-group">
            <label>Descripción:</label>
            <textarea class="form-control rounded-0" formControlName="descripcion" rows="1"
              placeholder="Ingrese descripción" autocomplete="off" maxlength="101"></textarea>
          </div>
            <!--  WARNING-->
            <div class="alert alert-warning fade in" *ngIf="marca.controls['marca'].errors?.required">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡ADVERTENCIA!</strong> El campo marca es obligatorio.
            </div>
            <!-- Validcion de longitud -->
            <div class="alert alert-block alert-danger fade in" *ngIf="marca.controls['marca'].errors?.maxlength">
              <button data-dismiss="alert" class="close close-sm" type="button"><i class="icon-remove"></i>
              </button>
              <strong>¡Error!</strong> Tamaño máximo permitido en campo marca.
            </div>
            <div class="alert alert-success fade in" *ngIf="marca.valid&&marca.controls['bandera'].value==0">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Exelente!</strong> Asegúrese de ingresar el nombre correctamente.
            </div>
            <div class="alert alert-block alert-danger fade in" *ngIf="marca.controls['marca'].errors?.pattern">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Error!</strong> El campo marca no acepta caracteres especiales.
            </div>
            <div class="alert alert-block alert-danger fade in" *ngIf="marca.controls['marca'].errors?.yaExisteMarca">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡Error!</strong> La marca ingresada ya éxiste.
  
            </div>
            <!--  END-WARNING-->
          <div class="alert alert-block alert-danger fade in" *ngIf="marca.controls['descripcion'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo descripción no acepta caracteres especiales.
          </div>
          <button [disabled]="!marca.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i>
            Guardar</button>
          <button type="button" (click)="closeMarca()" class="btn btn-default"><i class="icon-remove-sign"></i>
            Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--modal para ayuda con pdf-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal"
  [ngStyle]="{'display':display3}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close2()">×</button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
<iframe src="assets/img/Imagenes/Muebles.pdf" style="width:700px; height:415px;" frameborder="0"></iframe>
</div>
      </div>
    
    </div>
  </div>
</div>
