<br><br><br><br>
<section class="panel">
  <header class="panel-heading">
    <div class="row">
        <div class="col-lg-3">
         <h1>Formulario nuevo bien</h1>
      
        </div>
          <div class="col-lg-6">
            <!-- Alertas de validaciones -->
           <div class="alert alert-warning fade in" *ngIf="!nuevobien.valid">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡ADVERTENCIA!</strong> Los campos con * son obligatorios
           </div>

           <div class="alert alert-success fade in" *ngIf="nuevobien.valid&&nuevobien.controls['bandera'].value==0">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="icon-remove"></i>
              </button>
              <strong>¡EXCELENTE!</strong> Datos ingresados correctamente
           </div>

          </div>

            <div class="col-lg-3">
              <button style="margin-top: 15px;" type="button" class="btn btn-success" [routerLink]='["/tabla-activos"]'>
                <i class="icon-book" ></i> Ver Registros</button>
            </div>
     </div>
  </header>
<div class="panel-body ">
              <div class="stepy-tab">
                  <ul id="default-titles" class="stepy-titles clearfix">
                      <li id="default-title-0" class="current-step">
                          <div>Step 1</div>
                      </li>
                      <li id="default-title-1" class="">
                          <div>Step 2</div>
                      </li>
                      
                  </ul>
              </div>
     <ng-template #elseTemplate> 
       <form class="form-inline" id="default" [formGroup]="nuevobien" (ngSubmit)="guardarDatoss()">
         <fieldset title="1" class="step" id="default-step-0">
           <legend></legend>
              <input type="hidden" class="form-control" formControlName="idbien" id="exampleInputEmail3" autocomplete="off">
              <input type="hidden" class="form-control" formControlName="noformulario" id="exampleInputEmail3" autocomplete="off">
              <input type="hidden" class="form-control" formControlName="bandera" id="exampleInputEmail3" autocomplete="off">

                <div class="form-row">
                      <div class="form-group col-md-6" >
                      <label for="inputPassword4">Fecha de Ingreso</label>
                      <input type="date" class="form-control" formControlName="fechaingreso">
                    </div>

                    <div class="form-group col-md-6">
                      <label  for="formGroupExampleInput2">* Estado</label>
                      <select name="miselect"  class="form-control" formControlName="estadoingreso">
                          <option value="0">Seleccione...</option>
                          <option value="1">Nuevo</option>
                          <option value="2">Usado</option>
                          <option value="3">Usado mal estado</option>                  
                        </select>
                    </div>

                </div>

                <div class="form-row">
                    
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">* Tipo Adquisición</label>
                      <select formControlName="tipoadquicicion" class="form-control" (change)="ProveedorDonante()">
                        <option value="0">--Seleccione--</option>
                        <option value="1">Contado</option>
                        <option value="2">Crédito</option>
                        <option value="3">Donado</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">* {{tipocombo}}</label>
                    <select  class="form-control" formControlName="idproveedor">
                      <option value="0">--Seleccione--</option>
                      <option [value]="prov.id" *ngFor="let prov of comboProvDon">{{prov.nombre}}</option>
                      </select>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-lg-4">
                    <label  for="formGroupExampleInput2">* Descripción </label>
                    <textarea class="form-control" id="exampleFormControlTextarea2"
                     rows="1" placeholder="Descripcion" autocomplete="off" formControlName="descripcion" maxlength="101"></textarea>
                    </div>
                    <div class="col-lg-4">
                    <label for="inputPassword4">* Cantidad</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="Ingrese cantidad" formControlName="cantidad" maxlength="4" autocomplete="off">
                  </div>
                    
                    <div class="col-lg-4">
                      <label for="inputPassword4">* Color</label>
                      <input type="text" class="form-control" id="inputPassword4" placeholder="Ingrese color" formControlName="color" maxlength="21" autocomplete="off">
                      </div>

                </div>   
              
                <div></div>     
                <div class="row">
                    <div class="form-group col-md-4">
                      <label for="inputCity">* Clasificación</label>
                      <select  class="form-control" formControlName="idclasificacion">
                        <option value="0">--Seleccione--</option>
                        <option [value]="clasificacion.idclasificacion" *ngFor="let clasificacion of clasificaciones">{{clasificacion.correlativo}}-{{clasificacion.clasificacion}}</option>
                      </select>
                     </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">Marca</label>
                      <select id="inputState" class="form-control" formControlName="idmarca">
                        <option value="0">--Seleccione--</option>
                        <option [value]="marca.idMarca" *ngFor="let marca of marcas">{{marca.marca}}</option>
                      </select>  
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputZip">Modelo</label>
                      <input type="text" class="form-control" id="inputZip" placeholder="Ingrese modelo" formControlName="modelo" maxlength="31" autocomplete="off">
                     </div>
                    
                </div>
                  <div class="form-row">
                    <div class="form-group col-lg-12"
                    ></div>
                  </div>

                <!-- Alertas de validaciones -->
                <div class="form-group col-md-4">
               
                </div> 

              <!--Div para validaciones en el centro-->
              <div class="form-group col-md-4">

                <!-- DESCRIPCION -->
                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['descripcion'].errors?.maxlength">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
                </div>

                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['descripcion'].errors?.pattern">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
                </div>
                <!-- FIN DE DESCRIPCION -->

                <!-- CANTIDAD -->
                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cantidad'].errors?.pattern">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
                </div>

                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cantidad'].errors?.maxlength">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
                </div>
                <!-- FIN DE CANTIDAD -->

                <!-- COLOR -->
                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['color'].errors?.pattern">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
                </div>

                <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['color'].errors?.maxlength">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
                </div>
                <!-- COLOR -->

                 <!-- MODELO -->
                 <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['modelo'].errors?.pattern">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
                </div>

                 <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['modelo'].errors?.maxlength">
                  <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                  </button>
                  <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
                </div>
                  <!-- FIN DE MODELO -->
              </div>
              <!--Fin iv para validaciones en el centro-->

          </fieldset>

         <fieldset title="2" class="step" id="default-step-1" >
              <legend> </legend>
              <div class="form-row">
                <div class="form-group col-md-4">
                <label  for="formGroupExampleInput2"> # de Factura</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Ingrese # de factura" formControlName="nofactura" maxlength="31" autocomplete="off">
               </div>
                <div class="form-group col-md-4">
                <label for="inputPassword4">* Costo</label>
                <input type="text" class="form-control" placeholder="Ingrese costo" formControlName="valoradquicicion" maxlength="11" autocomplete="off">
              </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">* Prima</label>
                  <input type="text" class="form-control" placeholder="{{disabledPrima}}" formControlName="prima" [attr.disabled]="disabled ? '' : null" maxlength="8" autocomplete="off">
                </div>
                </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                <label  for="formGroupExampleInput2">* Plazo en meses</label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="plazopago" placeholder="{{disabledPlazo}}" [attr.disabled]="disabled ? '' : null" maxlength="3" autocomplete="off">
               </div>
                <div class="form-group col-md-4">
                    <label  for="formGroupExampleInput2">* Cuota</label>
                    <input type="text" class="form-control" id="inputEmail4" formControlName="cuotaasignada" placeholder="{{disabledCuota}}" [attr.disabled]="disabled ? '' : null" maxlength="8" autocomplete="off">
                   </div>
                    <div class="form-group col-md-4">
                      <label for="inputPassword4">* Interes en %</label>
                      <input type="text" class="form-control" placeholder="{{disabledInteres}}" formControlName="interes" [attr.disabled]="disabled ? '' : null" maxlength="3" autocomplete="off">
                    </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                <label  for="formGroupExampleInput2">* Persona que entrega</label>
                <input type="text" class="form-control" id="inputEmail4"  placeholder="Ingrese persona que entrega" formControlName="personaentrega" maxlength="51" autocomplete="off">
               </div>
                <div class="form-group col-md-6">
                <label for="inputPassword4">* Persona que recibe</label>
                <input type="text" class="form-control" id="inputEmail4"  placeholder="Ingrese persona que recibe" formControlName="personarecibe" maxlength="51" autocomplete="off">
               </div>
              </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Foto</label>
                      <input type="file" (change)="changeFoto()" id="futFoto" class="form-control" accept="image/*" />

                    </div>
              
                    <div class="form-group col-md-6">
                      <label  for="formGroupExampleInput2"> Observaciones </label>
                      <textarea class="form-control" id="exampleFormControlTextarea2"
                      rows="1" placeholder="Ingrese observaciones" autocomplete="off" formControlName="observaciones" maxlength="71"></textarea>
                    </div>
                                    
                </div>
                      <div class="form-row">
                          <div class="form-group col-lg-12"
                          ></div>
                      </div>

           
          <!-- Alertas de validaciones -->
          <div class="form-group col-md-4">
         
        </div>
        <!--Div para alertas en el centro-->
        <div class="form-group col-md-4">

          <!-- No FACTURA -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['nofactura'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['nofactura'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
          </div>
          <!-- FIN No FACTURA -->

          <!-- COSTO DE ADQUISICION -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['valoradquicicion'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['valoradquicicion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo.
          </div>
          <!-- FIN COSTO DE ADQUISICION -->

          <!-- PRIMA -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['prima'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['prima'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo.
          </div>
          <!-- FIN PRIMA -->

           <!-- PLAZO PAGO -->
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['plazopago'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['plazopago'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo.
          </div>
          <!-- FIN PLAZO PAGO -->

          <!-- CUOTA -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cuotaasignada'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cuotaasignada'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo.
          </div>
          <!-- FIN CUOTA -->

           <!-- INTERES -->
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['interes'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['interes'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo.
          </div>
          <!-- FIN INTERES -->

          <!-- PERSONA QUE ENTREGA -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personaentrega'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personaentrega'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
          </div>
          <!-- FIN PERSONA QUE ENTREGA -->

          <!-- PERSONA QUE RECIBE -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personarecibe'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personarecibe'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
          </div>
          <!-- FIN PERSONA QUE RECIBE -->

          <!-- OBSERVACIONES -->
          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['observaciones'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['observaciones'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
          </div>
          <!-- FIN DE OBSERVACIONES -->

        </div>
        <!--Fin Div para alertas en el centro-->
              
          </fieldset>
              <br><br><br>
              <input [disabled]="!nuevobien.valid" type="submit" class="finish btn btn-danger" value="Guardar" *ngIf="!bandera"/>
              <input [disabled]="!nuevobien.valid" type="submit" class="finish btn btn-success" 
              value="Actualizar"  *ngIf="bandera" />
         </form>
      </ng-template> 
      <br><br><br>







      <ng-container *ngIf="bandera; else elseTemplate">
        <form class="form-inline " id="default" [formGroup]="nuevobien" (ngSubmit)="guardarMod()">
          <fieldset title="1" class="step" id="default-step-0">
            <legend></legend>
               <input type="hidden" class="form-control" formControlName="idbien" id="exampleInputEmail3" autocomplete="off">
               <input type="hidden" class="form-control" formControlName="noformulario" id="exampleInputEmail3" autocomplete="off">
               <input type="hidden" class="form-control" formControlName="bandera" id="exampleInputEmail3" autocomplete="off">
 
                 <div class="form-row">
                       <div class="form-group col-md-6" >
                       <label for="inputPassword4">Fecha de Ingreso</label>
                       <input type="date" class="form-control" formControlName="fechaingreso">
                     </div>
 
                     <div class="form-group col-md-6">
                       <label  for="formGroupExampleInput2">* Estado</label>
                       <select name="miselect"  class="form-control" formControlName="estadoingreso">
                           <option value="0">Seleccione...</option>
                           <option value="1">Nuevo</option>
                           <option value="2">Usado</option>
                           <option value="3">Usado mal estado</option>                  
                         </select>
                     </div>
 
                 </div>
 
                 <div class="form-row">
                     
                     <div class="form-group col-md-6">
                       <label for="inputPassword4">* Tipo Adquisición</label>
                       <select formControlName="tipoadquicicion" class="form-control" (change)="ProveedorDonante()">
                         <option value="0">--Seleccione--</option>
                         <option value="1">Contado</option>
                         <option value="2">Crédito</option>
                         <option value="3">Donado</option>
                         </select>
                     </div>
                     <div class="form-group col-md-6">
                       <label for="inputPassword4">* {{tipocombo}}</label>
                     <select  class="form-control" formControlName="idproveedor">
                       <option value="0">--Seleccione--</option>
                       <option [value]="prov.id" *ngFor="let prov of comboProvDon">{{prov.nombre}}</option>
                       </select>
                     </div>
                 </div>
                 <div class="row">
                    
                     <div class="col-lg-4">
                     <label  for="formGroupExampleInput2">* Descripción </label>
                     <textarea class="form-control" id="exampleFormControlTextarea2"
                      rows="1" placeholder="Descripcion" autocomplete="off" formControlName="descripcion" maxlength="101"></textarea>
                     </div>
                     <div class="col-lg-4">
                     <label for="inputPassword4">* Cantidad</label>
                     <input type="text" class="form-control" id="inputPassword4" placeholder="Ingrese cantidad" formControlName="cantidad" maxlength="21" autocomplete="off" readonly>
                    </div> 
                     
                     <div class="col-lg-4">
                       <label for="inputPassword4">* Color</label>
                       <input type="text" class="form-control" id="inputPassword4" placeholder="Ingrese color" formControlName="color" maxlength="21" autocomplete="off">
                       </div>
 
                 </div>   
               
                 <div></div>     
                 <div class="row">
                     <div class="form-group col-md-4">
                       <label for="inputCity">* Clasificación</label>
                       <select  class="form-control" formControlName="idclasificacion">
                         <option value="0">--Seleccione--</option>
                         <option [value]="clasificacion.idclasificacion" *ngFor="let clasificacion of clasificaciones">{{clasificacion.correlativo}}-{{clasificacion.clasificacion}}</option>
                       </select>
                      </div>
                     <div class="form-group col-md-4">
                       <label for="inputState">Marca</label>
                       <select id="inputState" class="form-control" formControlName="idmarca">
                         <option value="0">--Seleccione--</option>
                         <option [value]="marca.idMarca" *ngFor="let marca of marcas">{{marca.marca}}</option>
                       </select>  
                     </div>
                     <div class="form-group col-md-4">
                       <label for="inputZip">Modelo</label>
                       <input type="text" class="form-control" id="inputZip" placeholder="Ingrese modelo" formControlName="modelo" maxlength="31" autocomplete="off">
                      </div>
                     
                 </div>
                   <div class="form-row">
                     <div class="form-group col-lg-12"
                     ></div>
                   </div>
 
                 <!-- Alertas de validaciones -->
                 <div class="form-group col-md-4">
                
                 </div> 
 
               <!--Div para validaciones en el centro-->
               <div class="form-group col-md-4">
 
                 <!-- DESCRIPCION -->
                 <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['descripcion'].errors?.maxlength">
                   <button data-dismiss="alert" class="close close-sm" type="button">
                     <i class="icon-remove"></i>
                   </button>
                   <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
                 </div>
 
                 <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['descripcion'].errors?.pattern">
                   <button data-dismiss="alert" class="close close-sm" type="button">
                     <i class="icon-remove"></i>
                   </button>
                   <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
                 </div>
                 <!-- FIN DE DESCRIPCION -->
 
                 <!-- CANTIDAD -->
                 <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cantidad'].errors?.pattern">
                   <button data-dismiss="alert" class="close close-sm" type="button">
                     <i class="icon-remove"></i>
                   </button>
                   <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
                 </div>
 
                 <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cantidad'].errors?.maxlength">
                   <button data-dismiss="alert" class="close close-sm" type="button">
                     <i class="icon-remove"></i>
                   </button>
                   <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
                 </div>
                 <!-- FIN DE CANTIDAD -->
 
                 <!-- COLOR -->
                 <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['color'].errors?.pattern">
                   <button data-dismiss="alert" class="close close-sm" type="button">
                     <i class="icon-remove"></i>
                   </button>
                   <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
                 </div>
 
                 <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['color'].errors?.maxlength">
                   <button data-dismiss="alert" class="close close-sm" type="button">
                     <i class="icon-remove"></i>
                   </button>
                   <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
                 </div>
                 <!-- COLOR -->
 
                  <!-- MODELO -->
                  <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['modelo'].errors?.pattern">
                   <button data-dismiss="alert" class="close close-sm" type="button">
                     <i class="icon-remove"></i>
                   </button>
                   <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
                 </div>
 
                  <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['modelo'].errors?.maxlength">
                   <button data-dismiss="alert" class="close close-sm" type="button">
                     <i class="icon-remove"></i>
                   </button>
                   <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
                 </div>
                   <!-- FIN DE MODELO -->
               </div>
               <!--Fin iv para validaciones en el centro-->
 
           </fieldset>
 
          <fieldset title="2" class="step" id="default-step-1" >
               <legend> </legend>
               <div class="form-row">
                 <div class="form-group col-md-4">
                 <label  for="formGroupExampleInput2">* # de Factura</label>
                 <input type="text" class="form-control" id="inputEmail4" placeholder="Ingrese # de factura" formControlName="nofactura" maxlength="31" autocomplete="off">
                </div>
                 <div class="form-group col-md-4">
                 <label for="inputPassword4">* Costo</label>
                 <input type="text" class="form-control" placeholder="Ingrese costo" formControlName="valoradquicicion" maxlength="11" autocomplete="off">
               </div>
                 <div class="form-group col-md-4">
                   <label for="inputPassword4">* Prima</label>
                   <input type="text" class="form-control" placeholder="{{disabledPrima}}" formControlName="prima" [attr.disabled]="disabled ? '' : null" maxlength="8" autocomplete="off">
                 </div>
                 </div>
 
             <div class="form-row">
                 <div class="form-group col-md-4">
                 <label  for="formGroupExampleInput2">* Plazo en meses</label>
                 <input type="text" class="form-control" id="inputEmail4" formControlName="plazopago" placeholder="{{disabledPlazo}}" [attr.disabled]="disabled ? '' : null" maxlength="3" autocomplete="off">
                </div>
                 <div class="form-group col-md-4">
                     <label  for="formGroupExampleInput2">* Cuota</label>
                     <input type="text" class="form-control" id="inputEmail4" formControlName="cuotaasignada" placeholder="{{disabledCuota}}" [attr.disabled]="disabled ? '' : null" maxlength="8" autocomplete="off">
                    </div>
                     <div class="form-group col-md-4">
                       <label for="inputPassword4">* Interes en %</label>
                       <input type="text" class="form-control" placeholder="{{disabledInteres}}" formControlName="interes" [attr.disabled]="disabled ? '' : null" maxlength="3" autocomplete="off">
                     </div>
             </div>
 
             <div class="form-row">
                 <div class="form-group col-md-6">
                 <label  for="formGroupExampleInput2">* Persona que entrega</label>
                 <input type="text" class="form-control" id="inputEmail4"  placeholder="Ingrese persona que entrega" formControlName="personaentrega" maxlength="51" autocomplete="off">
                </div>
                 <div class="form-group col-md-6">
                 <label for="inputPassword4">* Persona que recibe</label>
                 <input type="text" class="form-control" id="inputEmail4"  placeholder="Ingrese persona que recibe" formControlName="personarecibe" maxlength="51" autocomplete="off">
                </div>
              </div>
 
                 <div class="form-row">
 
                     <div class="form-group col-md-6">
                       <label for="inputPassword4">Foto</label>
                       <input type="file" (change)="changeFoto()" id="futFoto" class="form-control" accept="image/*" />
 
                     </div>
               
                     <div class="form-group col-md-6">
                       <label  for="formGroupExampleInput2">* Observaciones </label>
                       <textarea class="form-control" id="exampleFormControlTextarea2"
                       rows="1" placeholder="Ingrese observaciones" autocomplete="off" formControlName="observaciones" maxlength="71"></textarea>
                     </div>
                                     
                 </div>
                       <div class="form-row">
                           <div class="form-group col-lg-12"
                           ></div>
                       </div>
 
            
           <!-- Alertas de validaciones -->
           <div class="form-group col-md-4">
          
         </div>
         <!--Div para alertas en el centro-->
         <div class="form-group col-md-4">
 
           <!-- No FACTURA -->
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['nofactura'].errors?.pattern">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
           </div>
 
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['nofactura'].errors?.maxlength">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
           </div>
           <!-- FIN No FACTURA -->
 
           <!-- COSTO DE ADQUISICION -->
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['valoradquicicion'].errors?.pattern">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
           </div>
 
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['valoradquicicion'].errors?.maxlength">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo.
           </div>
           <!-- FIN COSTO DE ADQUISICION -->
 
           <!-- PRIMA -->
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['prima'].errors?.pattern">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
           </div>
 
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['prima'].errors?.maxlength">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo.
           </div>
           <!-- FIN PRIMA -->
 
            <!-- PLAZO PAGO -->
            <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['plazopago'].errors?.pattern">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
           </div>
 
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['plazopago'].errors?.maxlength">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo.
           </div>
           <!-- FIN PLAZO PAGO -->
 
           <!-- CUOTA -->
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cuotaasignada'].errors?.pattern">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
           </div>
 
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['cuotaasignada'].errors?.maxlength">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo.
           </div>
           <!-- FIN CUOTA -->
 
            <!-- INTERES -->
            <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['interes'].errors?.pattern">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Este campo no acepta caracteres especiales.
           </div>
 
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['interes'].errors?.maxlength">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo.
           </div>
           <!-- FIN INTERES -->
 
           <!-- PERSONA QUE ENTREGA -->
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personaentrega'].errors?.maxlength">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
           </div>
 
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personaentrega'].errors?.pattern">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
           </div>
           <!-- FIN PERSONA QUE ENTREGA -->
 
           <!-- PERSONA QUE RECIBE -->
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personarecibe'].errors?.maxlength">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
           </div>
 
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['personarecibe'].errors?.pattern">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
           </div>
           <!-- FIN PERSONA QUE RECIBE -->
 
           <!-- OBSERVACIONES -->
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['observaciones'].errors?.maxlength">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡ERROR!</strong> Tamaño máximo permitido en este campo
           </div>
 
           <div class="alert alert-block alert-danger fade in" *ngIf="nuevobien.controls['observaciones'].errors?.pattern">
             <button data-dismiss="alert" class="close close-sm" type="button">
               <i class="icon-remove"></i>
             </button>
             <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
           </div>
           <!-- FIN DE OBSERVACIONES -->
 
         </div>
         <!--Fin Div para alertas en el centro-->
               
           </fieldset>
          <br><br><br>
          <input [disabled]="!nuevobien.valid" type="submit" class="finish btn btn-danger" value="Guardar" *ngIf="!bandera"/>
          <input [disabled]="!nuevobien.valid" type="submit" class="finish btn btn-success" 
          value="Actualizar"  *ngIf="bandera" />
        </form>
      </ng-container>


      


  </div>
</section>
<!-- 
<label class="control-label col-md-2">Foto</label>
                                          <div  class="col-md-4">
                                              <div class="fileupload fileupload-new" data-provides="fileupload">
                                                  <div class="fileupload-new thumbnail" style="width: 200px; height: 100px;">
                                                      <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                  </div>
                                                  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 100px; line-height: 20px;"></div>
                                                  <div>
                                                   <span class="btn btn-white btn-file">
                                                   <span class="fileupload-new"><i class="icon-paper-clip"></i> Select image</span>
                                                   <span class="fileupload-exists"><i class="icon-undo"></i> Change</span>
                                                   <input type="file" class="default" />
                                                   </span>
                                                      <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> Remove</a>
                                                  </div>
                                              </div>
                                              <span class="label label-danger">NOTE!</span>
                                             <span>
                                             Attached image thumbnail is
                                             supported in Latest Firefox, Chrome, Opera,
                                             Safari and Internet Explorer 10 only
                                             </span>
                                          </div>  -->