<br>
<br>
<br>
<br>
<br>
<br> 

<mat-horizontal-stepper labelPosition="bottom">

<mat-step [stepControl]="perfilFormGroup"> 
  <form [formGroup]="perfilFormGroup" (ngSubmit)="guardarDatos()">
    <ng-template matStepLabel>Perfil</ng-template>
    <div class="form-group">
      <input matInput placeholder="Ingrese nombre"  class="form-control" formControlName="nombre" >
    </div>
   <div>
    <button mat-button matStepperNext>Siguiente</button>
   </div>
  </form>
</mat-step>

<mat-step [stepControl]="direccionFormGroup"> 
  <form [formControl]="direccionFormGroup" (ngSubmit)="guardarDatos()">
  <ng-template matStepLabel>Dirección</ng-template>
  <div class="form-group">
    <input matInput placeholder="Ingrese direccion"  class="form-control" formControlName="direccion">
  </div>
  <div>
    <button mat-button matStepperPrevious>Anterior</button>
    <button mat-button matStepperNext>Siguiente</button>
    <button  type="submit" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>
  </div>
</form>
</mat-step>

<mat-step> 
  <ng-template matStepLabel>Hecho</ng-template>
  <p>Final del formulario</p>
  <button mat-button matStepperPrevious>Anterior</button>
  

</mat-step>

</mat-horizontal-stepper>