<br><br><br><br>
<section class="panel">
    <div class="row">
        <div class="col-lg-6">
          <h1>Sucursales</h1>
        </div>
        <br>
          <div class="col-lg-6">
            <button type="button" class="btn btn-warning margin-left" (click)="open3()" data-toggle="modal" data-target="#myModal2"><i
              class="glyphicon glyphicon-question-sign"></i></button>
          </div>   
     </div>
  <div class="row">
    <div class="col-lg-6">
      <header class="panel-heading form-in-line">
        <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal" data-target="#myModal"><i
            class="icon-plus-sign-alt"></i> Agregar nueva sucursal</button>
      </header>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-md-3">
      <input style="margin-top: 15px; padding-left: 30px;" type="search" class="form-control" #nombre
        (keyup)="buscar(nombre)" placeholder="Buscar">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <section class="panel panel-default">
        <header class="panel-heading">
          <h5>Registro de sucursales</h5>
        </header>
        <div class="panel-body">
          <div class="adv-table">
            <div class="adv-table">
              <table class="display table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Correlativo</th>
                    <th>Nombre de sucursal</th>
                    <th>Ubicación</th>
                    <th class="hidden-phone">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sucursal of sucursales | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                    <!-- <td>{{sucursal.idSucursal}}</td> -->
                    <th scope="col">{{i+(5*p)-4}}</th>
                    <td>{{sucursal.correlativo}}</td>
                    <td>{{sucursal.nombre}}</td>
                    <td>{{sucursal.ubicacion}}</td>
                    <td class="center hidden-phone">
                      <button title="Modificar" class="btn btn-primary btn-xs"
                        (click)="modificar(sucursal.idSucursal)"><i class="icon-pencil"></i></button>
                      <button title="Eliminar" class="btn btn-danger btn-xs" (click)="eliminar(sucursal.idSucursal)"><i
                          class="icon-trash "></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior"
                nextLabel="Siguiente"></pagination-controls>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!--modal para ingresar y editar-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal"
  [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">

        <form role="form" [formGroup]="sucursal" (ngSubmit)="guardarDatos()">
          <input type="hidden" class="form-control" formControlName="idSucursal" autocomplete="off">
          <input type="hidden" class="form-control" formControlName="bandera" autocomplete="off">
          <!-- El input tiene el metodo para validar en cada tyup -->
          <div class="form-group">
            <label>* Sucursal:</label>
            <input type="text" class="form-control" formControlName="nombre" (keyup)="validar()"
              placeholder="Ingrese sucursal" autocomplete="off" maxlength="51">
          </div>
         <!-- Input ubicación -->
          <div class="form-group">
            <label>* Ubicación:</label>
            <input type="text" class="form-control" (keyup)="validar()" formControlName="ubicacion"
              placeholder="Ingrese ubicación" autocomplete="off" maxlength="51">
          </div>
          <div class="form-group">
            <label>*Correlativo:</label>
            <input [readOnly]="this.modif==1" type="text" class="form-control" formControlName="correlativo"
              placeholder="Ingrese correlativo" autocomplete="off" maxlength="6">
          </div>
           <!-- Alertas sucursal -->
           <div class="alert alert-block alert-danger fade in" *ngIf="sucursal.controls['nombre'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo sucursal.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="sucursal.controls['nombre'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo sucursal no acepta caracteres especiales.
          </div>
          <!-- Alertas ubicación -->
          <div class="alert alert-block alert-danger fade in" *ngIf="this.yaExiste==true">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Esta combinación de sucursal y ubicación ya existe.
          </div>
          <!-- Validacion de tamaño maximo de cadena -->
          <div class="alert alert-block alert-danger fade in" *ngIf="sucursal.controls['ubicacion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo ubicación.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="sucursal.controls['ubicacion'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo ubicación no acepta caracteres especiales.
          </div>
          <!-- Alertas correlativo -->
          <div class="alert alert-block alert-danger fade in"
            *ngIf="sucursal.controls['correlativo'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button"><i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo correlativo.
          </div>
          <div class="alert alert-block alert-danger fade in"
            *ngIf="sucursal.controls['correlativo'].errors?.yaExisteCorrelativo">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Ya existe el correlativo ingresado.

          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="sucursal.controls['correlativo'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> El campo correlativo no acepta caracteres especiales.
          </div>
          <!--  WARNING-->
          <div class="alert alert-warning fade in"
            *ngIf="!sucursal.valid&&!sucursal.controls['correlativo'].errors?.yaExisteCorrelativo||this.yaExiste==true">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> Todos los campos son obligatorios.
          </div>
          <div class="alert alert-warning fade in" *ngIf="this.modif==1">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> El correlativo no se puede modificar, porque hay activos referenciados.
          </div>

          <!--  END-WARNING-->
          <div class="alert alert-success fade in" *ngIf="sucursal.valid&&sucursal.controls['bandera'].value==0&&this.yaExiste==false">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Exelente!</strong> Datos ingresados correctamente.
          </div>
          <button [disabled]="!sucursal.valid||this.yaExiste==true" type="submit" class="btn btn-primary"><i class="icon-save"></i>
            Guardar</button>
          <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i>
            Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--modal para ayuda con pdf-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal"
  [ngStyle]="{'display':display3}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close2()">×</button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
<iframe src="assets/img/Imagenes/Sucursales.pdf" style="width:700px; height:415px;" frameborder="0"></iframe>
</div>
      </div>
    
    </div>
  </div>
</div>