<br />
<br />
<br />
<br />
<section class="pane__general">
   
  
    <!--Bienes muebles-->
    <div class="row">
        <div class="col-lg-14">
            <section class="panel panel-default">
                <div style="text-align:right;">
                    <button title="Regresar" style="margin-top: 10px; margin-right: 20px;" class="btn btn-warning" [routerLink]="['/tabla-tarjeta']"><i class="icon-mail-reply"></i></button>
            
                <button title="Imprimir tarjeta de depreciación" style="margin-top: 10px; margin-right: 20px;" class="btn btn-success"><i class="icon-print"></i></button>
            </div>
                <h3 style="text-align: center;">ACAASS de R.L.</h3>
                           
                <h4 style="text-align: center;">CONTROL DE EXISTENCIAS DE MOBILIARIO, EQUIPO E INSTALACIONES </h4>
            
                <!-- Inicia el primer objeto, donde estab los datos si el bien es mueble -->
                <div class="form-row" [ngStyle]="{'display':displayDatosMuebles}">

                    <div class="row">
                        <!-- Primera columna -->
                        <div class="form-group col-md-4">
                            <label>Fecha de adquicición:</label>
                            <p>{{fecha}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Denominación:</label>
                            <p>{{descripcion}}</p>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Código:</label>
                            <p>{{codigo}}</p>
                        </div>
                        <!-- segunda columna -->
                        <div class="form-group col-md-4">
                            <label>Marca:</label>
                            <p>{{marca}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Color:</label>
                            <p>{{color}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Modelo:</label>
                            <p>{{modelo}}</p>
                        </div>
                        <!-- tercera columna -->
                        <div class="form-group col-md-4">
                            <label>No de Serie:</label>
                            <p>{{noSerie}}</p>
                        </div>
                        
                        <div class="form-group col-md-4">
                            <label>{{ProvDon}}:</label>
                            <p>{{proveedor}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Dirección:</label>
                            <p>{{direccion}}</p>
                        </div>
                        <!-- CUarta columna -->
                        <div class="form-group col-md-4">
                            <label>Telefono:</label>
                            <p>{{telefono}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Más interes del:</label>
                            <p>{{interes}}%</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Vida util segun referencia de fábrica:</label>
                            <p>{{vidaUtil}} años</p>
                        </div>
                        <!-- Cuarta columna -->
                        <div class="form-group col-md-4">
                            <label>Tasa anual de depreciación:</label>
                            <p>{{tasa}}%</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Valor residual:</label>
                            <p>${{valorresidual}}</p>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Observaciones:</label>
                            <p>{{observaciones}}</p>
                        </div>
                    </div>
                </div>
                <!-- Informacion de activos edificios. -->
                <div class="form-row" [ngStyle]="{'display':displayDatosEdificios}">
        
                    <div class="row">
                        <!-- Primera columna -->
                        <div class="form-group col-md-4">
                            <label>Fecha de adquicición:</label>
                            <p>{{fecha}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Denominación:</label>
                            <p>{{descripcion}}</p>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Codigo:</label>
                            <p>{{codigo}}</p>
                        </div>
                        <!-- segunda columna -->
                        <div class="form-group col-md-4">
                            <label>Valor de adquicicion:</label>
                            <p>$ {{valor}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>{{ProvDon}}:</label>
                            <p>{{proveedor}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Direccion:</label>
                            <p>{{direccion}}</p>
                        </div>
                        <!-- tercera columna -->
                        <div class="form-group col-md-4">
                            <label>Prima:</label>
                            <p>${{prima}}</p>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Saldo por medio de:</label>
                            <p>{{plazo}}</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Cuotas de:</label>
                            <p>${{cuota}}</p>
                        </div>
                        <!--Cuarta columna-->
                        <div class="form-group col-md-4">
                            <label>Más interes del:</label>
                            <p>{{interes}}%</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Vida util segun referencia de fábrica:</label>
                            <p>{{vidaUtil}} años</p>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Tasa anual de depreciación:</label>
                            <p>{{tasa}}%</p>
                        </div>
                        <!--Quinta columna-->
                        <div class="form-group col-md-4">
                            <label>Valor residual:</label>
                            <p>${{valorresidual}}</p>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Observaciones:</label>
                            <p>{{observaciones}}</p>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel panel-default">

                            <header class="panel-heading">
                                <h5 style="text-align: center;">MOVIMIENTO DEL VALOR - DEPRECIACIONES - GASTOS DE CONSEVACION</h5>
                            </header>
                            <div class="panel-body">
                                <div class="adv-table">
                                    <table class="display table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                              
                                                <th>Fecha</th>
                                                <th>Concepto</th>
                                                <th>valor</th>
                                                <th>Valor de adquisición y mejoras</th>
                                                <th>Depreciación Anual</th>
                                                <th>Depreciación Acum.</th>
                                                <th>Valor actual</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let bien of bienes">
                                                <td>{{bien.fecha}}</td>
                                                <td>{{bien.concepto}}</td>
                                                <td>$ {{bien.valorTransaccion}}</td>
                                                <td>$ {{bien.montoTransaccion}}</td>
                                                <td>$ {{bien.depreciacionAnual}}</td>
                                                <td>$ {{bien.depreciacionAcumulada}}</td>
                                                <td>$ {{bien.valorActual}}</td>
                                            </tr>
                                        
                                        </tbody>
                                    </table>
                                 
                                </div>
                                
                                <tr style="text-align: center;" *ngFor="let activo of bienes">
                                    <div>
                                        <button title="Imprimir tarjeta de depreciación" style="margin-top: 20px; margin-bottom: 50px; margin-left: 450px;" class="btn btn-success" (click)="reporteTarjetaPdf(activo.idBien)"><i class="icon-print"></i> Imprimir</button>
                               
                                    </div>
                                </tr>
                                
                             </div>
                        </section>
                    </div>
                </div>
            </section>
            </div>
            </div>

          