<br><br><br><br>
<section class="panel">
    <div class="row">
        <div class="col-lg-6">
          <h1>Empleados</h1>
        </div>
        <br>
          <div class="col-lg-6">
            <button type="button" class="btn btn-warning margin-left" (click)="open3()" data-toggle="modal" data-target="#myModal2"><i
              class="glyphicon glyphicon-question-sign"></i></button>
          </div>   
     </div>
  <div class="row">
    <div class="col-lg-6">

      <header class="panel-heading form-in-line">
        <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal" data-target="#myModal"><i
            class="icon-plus-sign-alt"></i> Agregar nuevo empleado</button>
      </header>
    </div>
    <div class="col-lg-3">

    </div>

    <div class="col-md-3">
      <input type="search" style="margin-top: 15px; padding-left: 30px;" class="form-control" #nombre
        (keyup)="buscar(nombre)" placeholder="Buscar">
    </div>

  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel panel-default">
        <header class="panel-heading">
          <h5>Registro de empleados</h5>
        </header>
        <div class="panel-body">
          <div class="adv-table">
            <table class="display table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="row">N°</th>
                  <th>DUI</th>
                  <th>Nombre completo</th>
                  <th>Área de negocio</th>
                  <th class="hidden-phone">Opciones</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let empleado of empleados | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                  <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                  <td>{{empleado.dui | uppercase}}</td>
                  <td>{{empleado.nombres + " " + empleado.apellidos | uppercase}}</td>
                  <td>{{empleado.nombrearea + " -  " + empleado.nombresucursal | uppercase}}</td>
                  <td class="center hidden-phone">
                    <button title="Modificar" class="btn btn-primary btn-xs" (click)="modif(empleado.idempleado)"><i
                        class="icon-pencil"></i></button>
                        <button title="Ver detalles" class="btn btn-success btn-xs" (click)="verDetalle(empleado.idempleado)"><i
                          class="glyphicon glyphicon-eye-open"></i></button>
                    <button title="Eliminar" class="btn btn-danger btn-xs" (click)="eliminar(empleado.idempleado)"><i
                        class="icon-trash "></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior"
              nextLabel="Siguiente"></pagination-controls>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<!--modal para ingresar y editar-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal"
  [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-lg" style="width:800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" id="default" [formGroup]="empleado" (ngSubmit)="guardarDatos()">
          <input type="hidden" class="form-control" formControlName="idempleado" autocomplete="off">
          <input type="hidden" class="form-control" formControlName="bandera" autocomplete="off">
          <div class="form-group col-md-6">
            <label><strong class="required">*</strong> Nombres:</label>
            <input type="text" class="form-control" formControlName="nombres" placeholder="Ingrese nombres"
              autocomplete="off" maxlength="51">
          </div>
          <div class="form-group col-md-6">
            <label><strong class="required">*</strong> Apellidos:</label>
            <input type="text" class="form-control" formControlName="apellidos" placeholder="Ingrese apellidos"
              autocomplete="off" maxlength="51">
          </div>
          <div class="form-group col-md-6">
            <label><strong class="required">*</strong> DUI:</label>
            <input type="text" [dropSpecialCharacters]="false" mask="00000000-0" class="form-control"
              formControlName="dui" placeholder="Ingrese DUI" autocomplete="off" minlength="10">
          </div>
          <div class="form-group col-md-6">
            <label><strong class="required">*</strong> Dirección:</label>
            <input class="form-control rounded-0" formControlName="direccion" rows="3" placeholder="Ingrese dirección"
              autocomplete="off" maxlength="101">
          </div>
          <div class="form-group col-md-12">
            <label><strong class="required">*</strong> Correo electrónico:</label>
            <input class="form-control rounded-0" formControlName="email" rows="3" placeholder="Ingrese correo electrónico"
              autocomplete="off" maxlength="101">
          </div>
          <div class="form-group col-md-6">
            <label><strong class="required">*</strong> Área de negocio:</label>
            <select class="form-control" (change)="filtrarCargo()" formControlName="idareadenegocio">
              <option value="0">---Seleccione---</option>
              <option [disabled]="this.edit==1" [value]="area.idAreaNegocio" *ngFor="let area of areas">
                {{area.nombre +" - "+area.nombreSucursal +" - "+area.ubicacion}} </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label><strong class="required">*</strong> Cargo:</label>
            <select class="form-control" formControlName="idcargo">
              <option value="0">---Seleccione---</option>
              <option [disabled]="this.edit==1" [value]="cargo.idcargo" *ngFor="let cargo of cargos">{{cargo.cargo}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label><strong class="required">*</strong> Teléfono:</label>
            <input type="text" [dropSpecialCharacters]="false" mask="0000-0000" class="form-control"
              formControlName="telefono" placeholder="Ingrese teléfono" autocomplete="off" minlength="9">
          </div>
          <div class="form-group col-md-6">
            <label><strong class="required">*</strong> Teléfono personal:</label>
            <input type="text" [dropSpecialCharacters]="false" mask="0000-0000" class="form-control"
              formControlName="telefonopersonal" placeholder="Ingrese teléfono" autocomplete="off" minlength="9">
          </div>
          <div>
            <br><br> <br><br> <br><br> <br> <br><br>
          </div>
          <!-- Validacion de pattern no acepta caracteres especiales -->
          <div class="alert alert-block alert-danger fade in" *ngIf="empleado.controls['nombres'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              
            </button>
            <strong>¡Error!</strong> El campo nombres no acepta caracteres especiales y letras en minúscula.
          </div>
          <!-- Validacion de pattern no acepta caracteres especiales -->
          <div class="alert alert-block alert-danger fade in" *ngIf="empleado.controls['apellidos'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              
            </button>
            <strong>¡Error!</strong> El campo apellidos no acepta caracteres especiales y letras en minúscula.
          </div>
          <!-- Validacion de pattern no acepta caracteres especiales -->

          <!--Validación para dui y teléfono-->
          <div class="alert alert-block alert-danger fade in" *ngIf="empleado.controls['dui'].errors?.minlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
            </button>
            <strong>¡Error!</strong> Completar el campo dui.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="empleado.controls['telefonopersonal'].errors?.minlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
            </button>
            <strong>¡Error!</strong> Completar el campo teléfono personal.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="empleado.controls['telefono'].errors?.minlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
            </button>
            <strong>¡Error!</strong> Completar el campo teléfono.
          </div>
          <!--Fin de validación para dui y teléfono-->

            <!--Validación correo-->
            <div class="alert alert-block alert-danger fade in" *ngIf="empleado.controls['email'].errors?.pattern">
              <button data-dismiss="alert" class="close close-sm" type="button">
                
              </button>
              <strong>¡Error!</strong> Ingresar correo electrónico válido.
            </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="empleado.controls['direccion'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              
            </button>
            <strong>¡Error!</strong> El campo dirección no acepta algunos caracteres especiales.
          </div>
          <div class="alert alert-warning fade in" *ngIf="this.edit==1">
            <button data-dismiss="alert" class="close close-sm" type="button">
              
            </button>
            <strong>¡Advertencia!</strong> El área no se puede modificar porque hay activos referenciados al empleado.
            Para poder modificar el área de negocios, el empleado no debe de tener activos referenciados.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="empleado.controls['nombres'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo nombres.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="empleado.controls['apellidos'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo apellidos.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="empleado.controls['direccion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo dirección.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="empleado.controls['dui'].errors?.yaExisteDui">
            <button data-dismiss="alert" class="close close-sm" type="button">
              
            </button>
            <strong>¡Advertencia!</strong> Ya existe el DUI ingresado, por favor intente con uno nuevo.
          </div>
          <!--  WARNING-->
          <div class="alert alert-warning fade in"
            *ngIf="!empleado.valid&&!empleado.controls['dui'].errors?.yaExisteDui">
            <button data-dismiss="alert" class="close close-sm" type="button">
              
            </button>
            <strong>¡Advertencia!</strong> Todos los campos son obligatorios.
          </div>
          <div class="alert alert-success fade in" *ngIf="empleado.valid&&empleado.controls['bandera'].value==0">
            <button data-dismiss="alert" class="close close-sm" type="button">
              
            </button>
            <strong>¡Excelente!</strong> Datos ingresados correctamente
          </div>
          <button type="submit" [disabled]="!empleado.valid" class="btn btn-primary"><i class="icon-save"></i>
            Guardar</button>
          <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i>
            Cerrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal para detalles-->
<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
              class="modall" [ngStyle]="{'display':displayD}">
              <div class="modal-dialog .modal-dialog ">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"
                      (click)="closeD()">×</button>
                    <h4 class="modal-title">Datos del empleado</h4>
                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>DUI:</strong> {{duiE}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Nombre:</strong> {{nombresE}} {{apellidosE}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Dirección:</strong> {{direccionE}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Teléfono:</strong> {{telefonoE}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Teléfono personal:</strong> {{telefonoP}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Email:</strong> {{emailE}}</p>
                      </div>
                    </div>



                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Cargo:</strong> {{cargoE}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Área de negocio:</strong> {{AreaNegocioE}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <p><strong>Sucursal:</strong> {{sucursalE}}</p>
                      </div>
                      <div class="col-xs-6">
                        <p><strong>Ubicación:</strong> {{ubicacionE}}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-3">

                      </div>
                    </div>
                    <!-- aca -->
                    <br>
                    <button type="button" (click)="closeD()" class="btn btn-default"><i class="icon-remove-sign"></i>
                      Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
<!--Fin modal para detalles-->

<!--modal para ayuda con pdf-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal"
  [ngStyle]="{'display':display3}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close2()">×</button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
<iframe src="assets/img/Imagenes/Empleados.pdf" style="width:700px; height:415px;" frameborder="0"></iframe>
</div>
      </div>
    
    </div>
  </div>
</div>