<br />
<br />
<br />
<br />

<section class="panel">    
    <div style="text-align:right;">
        <button title="Imprimir bitácora" style="margin-top: 10px; margin-right: 20px;"
            class="btn btn-success"><i class="icon-print"></i></button>
    </div>                 
    <h2 style="text-align: center;">Bitácora </h2>
    <!-- <h3 style="text-align: center;">(ACAASS de R.L)</h3> -->
    <div class="row">
        <div class="col-lg-14">
            <section class="panel panel-default">
                
                <div class="form-row">
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        
                        <section class="panel panel-default">

                            <header class="panel-heading">
                                <h5 style="text-align: center;">CUADRO DE CONTROL DE BIENES DE LA PROPIEDAD PLANTA Y EQUIPO</h5>
                            </header>
                            <div class="panel-body">
                                <div class="row">
                                <div class="adv-table">
                                    <table class="display table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombre empleado</th>
                                                <th>Nombre usuario</th>
                                                <th>Fecha</th>
                                                <th>Descripción del proceso</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let tranaccion of transacciones | paginate: { itemsPerPage: 20, currentPage: p }; let i=index">
                                                <td>{{tranaccion.nombreEmpleado}}</td>
                                                <td>{{tranaccion.nombreUsuario}}</td>
                                                <td>{{tranaccion.fecha}}</td>
                                                <td>{{tranaccion.descripcion}}</td>
                                              </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                                </div>
                            </div>
                               
                             </div>
                        </section>
                        <ngx-spinner
                        bdColor="rgba(51,51,51,0.8)"
                        size="medium"
                        color="#fff"
                        type="ball-scale-multiple"
                      >
                        <p style="font-size: 20px; color: white">Cargando...</p>
                      </ngx-spinner>
                    </div>
                </div>
            </section>
            </div>
            </div>
    </section>
          
