
<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
class="modal" [ngStyle]="{'display':display}">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
      <h4 class="modal-title">{{titulo}}</h4>
    </div>
    <div class="modal-body">
  
      <form role="form" [formGroup]="usuario" (ngSubmit)="guardarDatos()">
        <input type="hidden" class="form-control" formControlName="iidusuario" id="exampleInputEmail3"
          autocomplete="off">
        <input type="hidden" class="form-control" formControlName="bandera" id="exampleInputEmail3"
          autocomplete="off">

          <div class="form-group" formControlName="iidEmpleado" *ngIf="usuario.controls['bandera'].value==0">
            <label for="exampleFormControlTextarea2">Empleado:</label>
            <select class="form-control" formControlName="iidEmpleado" id="exampleFormControlTextarea2"
              maxlength="51">
              <option value="">--Seleccione--</option>
              <option [value]="empleado.idempleado" *ngFor="let empleado of empleados">{{empleado.nombres}}</option>
            </select>
          </div>
          <div class="form-group" formControlName="iidTipousuario">
            <label for="exampleFormControlTextarea2">Tipo Usuario:</label>
            <select class="form-control" formControlName="iidTipousuario" id="exampleFormControlTextarea2"
              maxlength="51">
              <option value="">--Seleccione--</option>
              <option [value]="tipoUsuario.iidtipousuario" *ngFor="let tipoUsuario of tipoUsuarios">
                {{tipoUsuario.tipo}}</option>
            </select>
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre Usuario</label>
          <input type="text" class="form-control" formControlName="nombreusuario" id="nombreusuario"
            placeholder="Ingrese Nombre" maxlength="51" autocomplete="off">
        </div>
        <div class="alert alert-block alert-danger fade in"
          *ngIf="usuario.controls['nombreusuario'].errors?.maxlength">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>Error!</strong> Tamaño máximo permitido en este campo.
        </div>
        <div class="alert alert-block alert-danger fade in"
          *ngIf="usuario.controls['nombreusuario'].errors?.yaExiste">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>Error!</strong> Ya existe el nombre de Usuario, por favor intente con uno nuevo.
        </div>

       
          <div class="form-group" *ngIf="usuario.controls['bandera'].value==0">
            <label for="exampleInputEmail1">Ingrese Contraseña</label>
            <input size=35 type="password" class="form-control" formControlName="contra" id="contra"
              placeholder="Ingrese Contraseña" maxlength="31" autocomplete="off">
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="usuario.controls['contra'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Error!</strong> Tamaño máximo permitido en este campo.
          </div>

          <div class="form-group" *ngIf="usuario.controls['bandera'].value==0">
            <label for="exampleInputEmail1">Repita Contraseña</label>
            <input size=35 type="password" class="form-control" formControlName="contra2" id="contra2"
              placeholder="Repita Contraseña" maxlength="31" autocomplete="off">
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="usuario.controls['contra2'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Error!</strong> Tamaño máximo permitido en este campo.
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="usuario.controls['contra2'].errors?.noIguales">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>Error!</strong> La contraseña no es igual.
          </div>
        <div class="alert alert-warning fade in" *ngIf="usuario.controls['iidTipousuario'].errors?.required">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>Advertencia!</strong> Todos los campos son obligatorios
        </div>

        <div class="alert alert-success fade in" *ngIf="usuario.valid&&usuario.controls['bandera'].value==0">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon-remove"></i>
          </button>
          <strong>Exelente!</strong> Datos ingresados correctamente
        </div>

        <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Guardar</button>
        <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i>
          Cerrar</button>

      </form>

    </div>
  </div>
</div>
</div>