<br><br><br><br>
<section class="panel">
    <div class="row">
        <div class="col-lg-6">
          <h1>Cargos</h1>
        </div>
        <br>
          <div class="col-lg-6">
            <button type="button" class="btn btn-warning margin-left" (click)="open3()" data-toggle="modal" data-target="#myModal2"><i
              class="glyphicon glyphicon-question-sign"></i></button>
          </div>    
     </div>
  <div class="row">
    <div class="col-lg-6">
      <header class="panel-heading form-in-line">
        <button type="button" class="btn btn-success" (click)="open()" data-toggle="modal" data-target="#myModal"><i
            class="icon-plus-sign-alt"></i> Agregar nuevo cargo</button>
      </header>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-md-3">
      <input type="search" style="margin-top: 15px; padding-left: 30px;" class="form-control" #nombre
        (keyup)="buscar(nombre)" placeholder="Buscar">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <section class="panel panel-default">
        <header class="panel-heading">
          <h5>Registro de cargos</h5>
        </header>
        <div class="panel-body">
          <div class="adv-table">
            <table class="display table table-bordered table-striped">
              <thead>
                <tr>
                  <th>N°</th>
                  <th>Cargo</th>
                  <th>Descripción</th>
                  <th class="hidden-phone">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cargo of cargos | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                  <th scope="col">{{i+(5*p)-4}}</th>
                  <td>{{cargo.cargo}}</td>
                  <td>{{cargo.descripcion}}</td>
                  <td class="center hidden-phone">
                    <button class="btn btn-primary btn-xs" (click)="modif(cargo.idcargo)"><i class="icon-pencil"
                        title="Editar"></i></button>
                    <button class="btn btn-danger btn-xs" (click)="eliminar(cargo.idcargo)"><i
                        class="icon-trash "></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" class="my-cuadro" previousLabel="Anterior"
              nextLabel="Siguiente"></pagination-controls>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!--modal para ingresar y editar-->
<div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
  class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
        <h4 class="modal-title">{{titulo}}</h4>
      </div>
      <div class="modal-body">

        <form role="form" [formGroup]="cargo" (ngSubmit)="guardarDatos()">
          <input type="hidden" class="form-control" formControlName="idcargo" autocomplete="off">
          <input type="hidden" class="form-control" formControlName="bandera" autocomplete="off">

          <div class="form-group">
            <label><strong class="required">*</strong> Cargo:</label>
            <input type="text" class="form-control" formControlName="cargo" placeholder="Ingrese cargo"
              autocomplete="off" maxlength="26">
          </div>

          

          <div class="form-group">
            <label>Descripción:</label>
            <textarea class="form-control rounded-0" formControlName="descripcion" rows="1"
              placeholder="Ingrese descripción" autocomplete="off" maxlength="51"></textarea>
          </div>
          <div class="alert alert-block alert-danger fade in" *ngIf="cargo.controls['cargo'].errors?.yaExisteCargo">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> El cargo ingresado ya existe.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="cargo.controls['cargo'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo cargo.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="cargo.controls['cargo'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="cargo.controls['descripcion'].errors?.maxlength">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Tamaño máximo permitido en campo descripción.
          </div>

          <div class="alert alert-block alert-danger fade in" *ngIf="cargo.controls['descripcion'].errors?.pattern">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Error!</strong> Este campo no acepta caracteres especiales.
          </div>

          <!--  WARNING-->
          <div class="alert alert-warning fade in" *ngIf="!cargo.valid">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Advertencia!</strong> El campo cargo es obligatorio.
          </div>

          <!--  END-WARNING-->
          <div class="alert alert-success fade in" *ngIf="cargo.valid&&cargo.controls['bandera'].value==0">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="icon-remove"></i>
            </button>
            <strong>¡Excelente!</strong> Datos ingresados correctamente.
          </div>

          <button [disabled]="!cargo.valid" type="submit" class="btn btn-primary"><i class="icon-save"></i>
            Guardar</button>
          <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i>
            Cerrar</button>

        </form>
      </div>
    </div>
  </div>
</div>

<!--modal para ayuda con pdf-->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal"
  [ngStyle]="{'display':display3}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close2()">×</button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
        <div style="text-align: center;">
<iframe src="assets/img/Imagenes/Cargos.pdf" style="width:700px; height:415px;" frameborder="0"></iframe>
</div>
      </div>
    
    </div>
  </div>
</div>