<br />
<br />
<br />
<section class="panel">
<h1>Activos registrados</h1>
  <div class="row">
    <div class="col-lg-14">
      <section class="panel panel-default">
        <div class="form-row">
          <form class="form-inline" id="default" [formGroup]="combo">
            <div class="row">
              <div class="col-lg-3">
                <header class="panel-heading ">
                  <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#myModal" [routerLink]='["/form-nuevoBien"]'><i class="icon-plus-sign-alt"></i> Agregar Nuevo Bien</button>
                </header>
              </div>

          <div class="form-group col-md-3">
           <label  for="formGroupExampleInput2">Filtro Sucursal y Area </label>
           <select id="inputState" formControlName="idTipo" class="form-control" (change)="FiltroCombo()">
              <option selected>--Seleccione--</option>
              <option value="1">Sucursal</option>
              <option value="2">Area de negocio</option>
            </select>
          </div>
          <div class="form-group col-md-3">
          <label for="inputPassword4">{{tipocombo}}</label>
          <select id="inputState" class="form-control" formControlName="idCombo">
            <option selected>Seleccione</option>

            <option [value]="prov.id" *ngFor="let prov of comboAreaSucur">{{prov.nombre}}</option>	
          </select>
        </div>
              <div class="col-lg-3">
              </div>
              <div class="col-md-3">
                <input type="search" class="form-control"  placeholder="Buscar">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <section class="panel panel-default">
          
                  <header class="panel-heading">
                    <h5>Registro de Bienes</h5>
                  </header>
                  <div class="panel-body">
                    <div class="adv-table">
                      <table class="display table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>N°</th>
                            <th>Código</th>
                            <th>Fecha Ingreso</th>
                            <th>Descripción</th>
                            <th>TipoActivo</th>
                            <th>Área de Negocio</th>
                            <th>Responsable</th>
                            
                            <th class="hidden-phone">Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let combo of comboAreaSucur | paginate: { itemsPerPage: 5, currentPage: p}; let i=index">
                            <th scope="col">{{ 5 * (p - 1) + i+1 }}</th>
                            <td>{{combo.correlativobien}}</td>
                            <td>{{combo.fechacadena}}</td>
                            <td>{{combo.descripcion}}</td>
                            <td>{{combo.tipoactivo}}</td>
                            <td>{{combo.responsable}}</td>
                            <td>{{combo.responsable}}</td>
                            <td class="center hidden-phone">
                              <button class="btn btn-primary btn-xs"  ><i class="icon-pencil"></i></button>
                              <button class="btn btn-success btn-xs" (click)="mostrar(combo.idbien)" ><span class="glyphicon glyphicon-eye-open"></span></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls  class="my-cuadro" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </div>
                  </div>
                </section>
              </div>
            </div>


            <div #basicModal aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal" [ngStyle]="{'display':display}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button" (click)="close()">×</button>
            
                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body"> 
                    
                  <!-- aca -->
                  <div class="row">
                    <div class="col-lg-6">
                      <p>
                        <span class="text-bold">Correlativo: </span> {{ bienObj.correlativobien }} <br/>
                        <span class="text-bold">Codigo de Barra: </span> {{ bienObj.codigobarra }} <br/>
                        <span class="text-bold">Tipo de Activo: </span> {{ bienObj.tipoactivo }} <br/>
                        <span class="text-bold">Area: </span> {{ bienObj.area }} <br/>
                        <span class="text-bold">Responsable: </span> {{ bienObj.correlativobien }} <br/>
                        <span class="text-bold">Modelo: </span> {{ bienObj.modelo }} <br/>
                        <span class="text-bold">Tipo de Adquisicion: </span> {{ bienObj.tipoadquisicion }} <br/>
                        <span class="text-bold">Color: </span> {{ bienObj.color }} <br/>
                        <span class="text-bold">Fecha: </span> {{ bienObj.fechacadena }} <br/>
                      </p>
                   
                    </div>
                    <div class="col-lg-6">
                      <img [src]="bienObj.foto | safe" alt="">
                    </div>
                    
                    <div class="col-lg-12">
                      <p>{{ bienObj.descripcion }}</p>
                    </div>
                </div>
                  
                  <!-- <form role="form" [formGroup]="combo" >
                    <input type="hidden" class="form-control" formControlName="idbien" id="exampleInputEmail3" autocomplete="off">
                    <input type="hidden" class="form-control" formControlName="bandera" id="exampleInputEmail3" autocomplete="off">
                    
                    <tr *ngFor="let combo of comboProvDon"> 
                      <p>{{combo.descripcion}}</p>
                    </tr>
                   
                    <button type="button" (click)="close()" class="btn btn-default"><i class="icon-remove-sign"></i> Cerrar</button>

                  </form> -->
                  <div class="row">
                    <div class="col-xs-3">
                      
                    </div>
                  </div>
          <!-- aca -->
            
                  </div>
                </div>
              </div>
            </div> 

             
      
